<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fontResize"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active fontResize" aria-current="page">Risk Factors</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages">
        <div class="container">
            <div class="d-md-none fund-AUM">
                <i class="bi bi-arrow-left fs-5"></i>
            </div>
            <div class="FT-title-medium text-bold text-blue fontResize">Risk Factors</div>
            <h3 class="mb-md-4 mb-3 fontResize">Scheme Classification and Investment Objectives</h3>
            <div class="row pt-md-3">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Bluechip Fund (FIBCF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIBCF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Prima Fund (FIPF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide medium to long term capital
                            appreciation as a primary objective and income as a secondary objective.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Prima Fund (FIPF)</strong>
                            is an open end growth scheme with an objective to provide medium to long term capital
                            appreciation as a primary objective and income as a secondary objective.</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Prima Plus (FIPP)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide growth of capital plus regular
                            dividend through a diversified portfolio of equities, fixed income securities and money
                            market instruments.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Prima Plus (FIPP)</strong>
                            is an open end growth scheme with an objective to provide growth of capital plus regular
                            dividend through a diversified portfolio of equities, fixed income securities and money
                            market instruments.</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin Infotech Fund (FIF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide long term capital appreciation
                            from a portfolio that is invested primarily in the information technology industry.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin Infotech Fund (FIF)</strong>
                            is an open end growth scheme with an objective to provide long term capital appreciation
                            from a portfolio that is invested primarily in the information technology industry.</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Opportunities Fund (FIOF)</div>
                        <div class="fontResize">
                            is an open end diversified growth scheme with an objective to generate appreciation by
                            capitalising on long – term growth opportunities in the Indian economy.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Opportunities Fund (FIDF)</strong>
                            is an open end diversified growth scheme with an objective to generate appreciation by
                            capitalising on long – term growth opportunities in the Indian economy.</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Taxshield (FIT)</div>
                        <div class="fontResize">
                            is an open end equity linked savings scheme with an objective to provide medium to long term
                            growth of capital along with income tax rebate.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Taxshield (FIT)</strong>
                            is an open end equity linked savings scheme with an objective to provide medium to long term
                            growth of capital along with income tax rebate.</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin Infotech Fund (FIF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide long term capital appreciation
                            from a portfolio that is invested primarily in the information technology industry.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin Infotech Fund (FIF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Opportunities Fund (FIOF)</div>
                        <div class="fontResize">
                            is an open end diversified growth scheme with an objective to generate appreciation by
                            capitalising on long – term growth opportunities in the Indian economy.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Opportunities Fund  (FIDF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Taxshield (FIT)</div>
                        <div class="fontResize">
                            is an open end equity linked savings scheme with an objective to provide medium to long term
                            growth of capital along with income tax rebate.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Taxshield (FIT)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin Infotech Fund (FIF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide long term capital appreciation
                            from a portfolio that is invested primarily in the information technology industry.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin Infotech Fund (FIF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Opportunities Fund (FIOF)</div>
                        <div class="fontResize">
                            is an open end diversified growth scheme with an objective to generate appreciation by
                            capitalising on long – term growth opportunities in the Indian economy.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIDF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Taxshield (FIT)</div>
                        <div class="fontResize">
                            is an open end equity linked savings scheme with an objective to provide medium to long term
                            growth of capital along with income tax rebate.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIT)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin Infotech Fund (FIF)</div>
                        <div class="fontResize">
                            is an open end growth scheme with an objective to provide long term capital appreciation
                            from a portfolio that is invested primarily in the information technology industry.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Opportunities Fund (FIOF)</div>
                        <div class="fontResize">
                            is an open end diversified growth scheme with an objective to generate appreciation by
                            capitalising on long – term growth opportunities in the Indian economy.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIDF)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="general-box d-none d-md-block">
                        <div class="text-big mb-3 fontResize">Franklin India Taxshield (FIT)</div>
                        <div class="fontResize">
                            is an open end equity linked savings scheme with an objective to provide medium to long term
                            growth of capital along with income tax rebate.
                        </div>
                    </div>
                    <div class="general-box d-block d-md-none">
                        <div class="mb-3 fontResize">  <p><strong class="mob-risk">Franklin India Bluechip Fund (FIT)</strong>
                            is an open end growth scheme with an objective to primarily provide medium to long term
                            capital appreciation</p></div>
                    
                    </div>
                </div>
            </div>
            <h3 class="mb-3 fontResize">Risk Factors and Disclaimers</h3>
            <div class="small-container">
                <div class="mb-4 fontResize">
                    Mutual Fund investments are subject to market risks, read all scheme related documents carefully.
                    The
                    NAVs of the schemes may go up or down depending upon the factors and forces affecting the securities
                    market including the fluctuations in the interest rates. The past performance of the mutual funds
                    managed by the Franklin Templeton Group and its affiliates is not necessarily indicative of future
                    performance of the schemes. The Mutual Fund is not guaranteeing or assuring any dividend under any
                    of
                    the schemes and the same is subject to the availability and adequacy of distributable surplus. The
                    Mutual Fund is also not assuring that it will make any dividend distributions under the dividend
                    plans
                    of the schemes though it has every intention of doing so and payment of dividend is at the sole
                    discretion of trustees. Portfolio holdings of a scheme are subject to change. Any information
                    provided
                    about securities in scheme’s portfolio does not constitute an investment advice or recommendation to
                    subscribe or transact in these securities.
                    Any calculators/simulators provided on this website are designed to assist you in determining the
                    appropriate amount. These Calculators alone are not sufficient and shouldn’t be used for the
                    development
                    or implementation of an investment strategy. There is no warranty about the accuracy of the
                    calculators/
                    reckoners. The recipient is advised to consult his or her adviser/ tax consultant prior to arriving
                    at
                    any investment decision.
                </div>
                <div class="mb-4 fontResize">
                    Investments in overseas financial assets are subject to risks associated with currency movements,
                    restrictions on repatriation, transaction procedures in overseas markets and country related risks.
                    The
                    expenses of the Fund of Funds scheme(s) will be over and above the expenses charged by the
                    underlying
                    schemes. The existence, accuracy and performance of the Nifty 50 Index will directly affect the
                    performance of FIIF and FIDPEF. Tracking errors are inherent in any index scheme. At the peak of a
                    bull
                    market in FIDPEF, a portfolio balanced on PE ratios may not outperform a fully invested portfolio.
                    In
                    the event that the investible funds of more than 65% of the total proceeds of the scheme/plan are
                    not
                    invested in equity shares of domestic companies, then the scheme/plan TIEIF, FIBF & FIF may not
                    qualify
                    as equity oriented fund for taxation purpose. All subscriptions in FIT are subject to a lock-in
                    period
                    of 3 years from the date of allotment and the unitholder cannot redeem, transfer, assign or pledge
                    the
                    units during this period. All subscriptions in FIPEP are locked in for a period of 3 full financial
                    years. The Trustee, AMC, their directors or their employees shall not be liable for any of the tax
                    consequences that may arise, in the event that the schemes are wound up before the completion of the
                    lock-in period. Investors are requested to review the prospectus carefully and obtain expert
                    professional advice with regard to specific legal, tax and financial implications of the
                    investment/participation in the scheme. In respect of the scheme whose units are listed on NSE,
                    although
                    Units are listed on NSE, there can be no assurance that an active secondary market will develop or
                    be
                    maintained.
                </div>
                <div class="mb-4 fontResize">
                    The risks associated with debt and money market securities issued by banks and PSUs are perceived to
                    be
                    lower compared to other fixed income instruments. However, these entities are unique in terms of
                    being
                    heavily regulated and affected by government policies, which could impact the credit profile of
                    these
                    issuers.
                </div>
                <div class="fontResize">
                    The term “US Person” shall mean any person that is a United States person within the meaning of
                    Regulation S under the United States Securities Act of 1933 or as defined by the U.S. Commodity
                    Futures
                    Trading Commission for this purpose, as the definition of such term may be changed from time to time
                    by
                    legislation, rules, regulations or judicial or administrative agency interpretations.”
                </div>
            </div>
        </div>
    </section>
</div>