.input {
    height: 2em;
    width: 2em;
    border: 2px solid #dad9df;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #ffffff;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:disabled {
  color: #89888b;
}
.input:focus {
  border: 3px solid #ffb800;
}
.required-name{
  color: #F04438;
}
.cancel-section{
  padding: 10px 36px 10px 36px
}