<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <form>
                <div class="form-group row">
                    <label for="fcpaCompliance" class="col-sm-3 col-md-12 col-form-label">1.I confirm that I am an
                        existing investor or authorised person of an existing investor of Franklin Templeton Mutual Fund
                        and the information shall be utilised for legitimate purpose only.</label>
                </div>


                <div class="form-group row">
                    <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">2.I confirm that I am an
                        existing investor or authorised person of an existing investor of Franklin Templeton Mutual Fund
                        and the information shall be utilised for legitimate purpose only.</label>

                </div>

                <div class="form-group row">
                    <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">3.I agree and undertake
                        that all the details provided herein for procuring this information relate to my/our investment
                        and true and correct.</label>
                </div>


           
           

                <div class="form-group row my-2">

                    <div class="col-sm-9">
                        <div class="d-flex align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="">
                                <label class="form-check-label" for="domicileCheck"><span class="" >
                                    hereby agree with all the above terms and conditions</span></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-8 col-12">
            
                    <div class="btn-options d-flex mt-3">
                        <button type="button" class="btn btn-outline-primary me-4" (click)="changeActiveStepper(2,false)"
                        data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                        aria-controls="collapse2">Back</button>
                    <button type="button" class="btn btn-primary" (click)="changeActiveStepper(3,true)" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">Next</button>
               
                
                    </div>
                
                </div>

            </form>
        </div>
    </div>
</div>