<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="">Home</a></li>
                    <li class="breadcrumb-item active fontResize" aria-current="page">Distributor</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-hero></app-hero>
    <app-quik-links></app-quik-links>
    <app-distributor-features></app-distributor-features>
    <app-digital-offers></app-digital-offers>
    <app-distributor-events></app-distributor-events>
    <app-distributor-testimonials></app-distributor-testimonials>
    <app-distributor-faq></app-distributor-faq>
    <app-distributor-form></app-distributor-form>
    <div class="d-none d-md-block">
        <app-download></app-download>
    </div>
</div>