<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages pt-5">
        <div class="container">
            <div class="content-box">
                <div class="mobile-view fw-bold">
                    <!-- Content visible on mobile only -->
                    <i class="bi bi-arrow-left mt-4"></i>
                  </div>
                <div class="FT-title-medium text-bold text-blue mb-4 pb-2">Anti - Corruption Policy</div>
               
                <div class="pb-lg-2">
                    <div class="text-bold font-medium mb-3 mb-md-0">Purpose & Objective</div>
                    <div class="mb-md-4 mb-3">
                        This overview of Franklin Resources, Inc. Anti-Corruption Policy outlines the principles that
                        FRI and its subsidiaries (collectively “FTI” or ”we”) follow to achieve zero-tolerance against
                        bribery and corruption. The objective of our anti-corruption policy is to ensure that
                        appropriate anti-corruption and bribery procedures are in place across the globe to avoid any
                        violations of relevant laws and regulations, including, among others, the U.S. Foreign Corrupt
                        Practices Act and the U.K. Bribery Act 2010.
                    </div>
                </div>
                <div class="pb-lg-2">
                    <div class="text-bold font-medium mb-3 mb-md-0">Scope</div>
                    <div class="mb-md-4 mb-3">
                        This policy applies to all officers, directors, shareholders, employees and appointed third
                        party representatives of FTI (including but not limited to agents, intermediaries, consultants
                        and introducers) in all locations. Violation of this policy will be severely sanctioned,
                        including where appropriate disciplinary procedures, up to and including termination of
                        employment and possible referral to the appropriate criminal or regulatory authorities.
                    </div>
                </div>
                <div class="pb-md-5 pb-4">
                    <div class="text-bold font-medium mb-3 mb-md-0">Policy Requirements</div>
                    <div>
                        FTI have embedded within its business the following principles and controls to achieve zero
                        tolerance against bribery and corruption
                    </div>
                </div>
                <div class="features-box">
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img1.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon1.svg"></span>
                                    <span>
                                        No acceptance or offering  of bribes
                                        and facilitating payments
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Strictly prohibited from giving or receiving bribes (i.e. personal benefit for any improper advantage) as well as facilitating payments (regardless of whether these are common practices in a particular country) which involve anything of value to government officials in order to expedite or facilitate routine, non-discretionary government actions.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img2.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon2.svg"></span>
                                    <span>
                                        Charitable and political donations
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Prohibited from payment of donations that are linked to obtaining any improper advantage
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img3.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon3.svg"></span>
                                    <span>
                                        Hiring Practices
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Prohibited from using job placements, future employment, or internships for the purpose of improperly influencing a business decision
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img4.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon4.svg"></span>
                                    
                                <span>
                                    Gifts and Entertainment
                                </span>
                            </h3>
                            <div class="font-medium">
                                Prohibited from providing gift or entertainment to clients, prospects, government officials or their family members when such expenses are not incurred while conducting company business and/or do not satisfy this policy and our related policies.
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img5.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon5.svg"></span>
                                    <span>
                                        Travel, Lodging and Related Expenses
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Prohibited from providing travel, lodging and related expenses to improperly influence a business decision or official action.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img6.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon6.svg"></span>
                                    <span>
                                        Payment & Recordkeeping
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    All relevant expenditures must be properly documented, approved and maintained for a minimum of 6 years, unless a longer period is required by local law or local law requires disposal in less than six years.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img7.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon7.svg"></span>
                                    <span>
                                        Government officials
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Required to adhere to our additional recordkeeping requirements regarding all expenditures related to government officials.
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img8.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon8.svg"></span>
                                    <span>
                                        Due Diligence on Third-Party Representatives
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Required to conduct an appropriate due diligence review on background, reputation, and business capability before engaging or contracting with any third-party representatives and to include additional controls with higher risk relationships.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5  col-md-6 col-12">
                            <img src="assets/images/footer-pages/img9.png" class="box-img">
                        </div>
                        <div class="col-lg-7  col-md-6 col-12">
                            <div class="content">
                                <h3>
                                    <span class="box-icon"><img src="assets/images/footer-pages/icon9.svg"></span>
                                    <span>
                                        Periodic training
                                    </span>
                                </h3>
                                <div class="font-medium">
                                    Required to carry out appropriate training to employees regarding the Anti-Corruption Policy and their role to ensure compliance.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-bold font-medium mb-3">Monitoring and Reporting</div>
                <div>
                    We shall monitor compliance with our Anti-Corruption Policy. Further, all persons covered by this policy must promptly report any violation or suspected violation of this policy to Compliance or the Whistleblower Hotline.
                </div>
            </div>
        </div>
    </section>
</div>