
<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-empanel">
        <div class="container">
            <!-- <h2>Register for Online Access<small>(Distributor)</small></h2> -->
            <h2>Register for Online Access <span class="distiribute-register">(Distributor)</span></h2>

            <div class="empanel-box">
                <app-steps></app-steps>
            </div>
              
            
        </div>
    </section>
</div>