.FT-knowledge {
    .knowledge-box {
        box-shadow: none !important;
        padding: 0;
        background: transparent;

        .col-lg-3 {
            margin-bottom: 24px;

            @media(min-width:992px) {
                margin-bottom: 40px;
            }
        }
    }

    .container {
        max-width: 1310px;
    }

    .category-card {
        height: 100%
    }

    .category-btns {
        li {
            &:not(.active) {
                @media(min-width:768px) {
                    background: #F0F6FF;
                }
            }
        }
    }
}

@media(max-width: 798.98px) {
    .FT-knowledge .knowledge-box .filter-block .search {
        width: 90%;
    }

    .togglefilter {
        min-width: 82px;
    }

    .dropdownfilter {
        margin-right: 5px
    }
}

.img-with-tooltip .tooltip-block {
    text-align: center;
}

.forlikecardtitle {
    min-height: 49px;
    // border-bottom: 1px solid #D2D8EA;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

//
.share-btn-collapse {
    width: 21px;
    top: 6px;
    position: relative;
    left: 0px;
}

.share-menu-twitter {
    width: 18px;
}

.share-menu-twitter-btn {
    width: 20px;
}

.fund-resize {
    position: relative;
    z-index: 999999;
}

.dropdown-content {
    position: relative;
    left: 93%;
    top: -31px;
}