

        <!-- start categories box -->
        <div class="fd-tab-sections knowledge-box insights" id="insights">

            <!-- start ad box -->
            <div class="FT-ad-box">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md col-12">
                        <div class="FT-title-medium mb-2 fontResize">Market Insights</div>
                        <div class="text-big mb-lg-4 mb-3 fontResize">Feel confident in the financial world, stay updated on market trends, and boost your financial know-how with our helpful insights.</div>
                        <!-- <ul>
                            <li class="fontResize"><strong>50 Lacs+</strong>Learners</li>
                            <li class="fontResize"><strong>30+</strong>Courses</li>
                            <li class="fontResize"><strong>30+</strong>Consectetur adipiscing</li>
                        </ul> -->
                    </div>
                    <div class="col-md-auto col-12 mt-4 mt-md-0">
                        <a [routerLink]="['/knowledge-center/market-insight']" class="btn btn-primary fontResize">Start Learning</a>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <h3>
                       Blogs <a class="knowledge-center-CTA" [routerLink]="['/knowledge-center/blogs']">
                        <span>View all</span><i class="bi bi-chevron-right"></i></a>
                    </h3>
                    <div class="category-card big-card mb-3">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Outlook for GCC bond and equity markets amid</div>
                        </div>
                    </div>
                    <div class="category-card big-card mb-3">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Outlook for GCC bond and equity markets amid</div>
                        </div>
                    </div>
                    <div class="category-card big-card mb-3">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Outlook for GCC bond and equity markets amid</div>
                        </div>
                    </div>
                </div> -->
  
                <div class="col-md-6 col-12 mb-4 mb-md-0">
                    <h3 class="fontResize">
                      Blogs
                      <a class="knowledge-center-CTA fontResize" [routerLink]="['/knowledge-center/blogs']">
                        <span class="login-dark2">View all</span><i class="bi bi-chevron-right"></i>
                      </a>
                    </h3>
                  
                    <div *ngFor="let blog of relateddata1; let i = index" class="category-card big-card mb-3">
                      <div class="card-img">
                        <img [src]="blog.image">
                        <span class="time-tag fontResize">{{ blog.time }}</span>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="blog-date fontResize">{{ blog.date }}</div>
                          <div class="card-icons">
                            <!-- <span class="img-with-tooltip me-3" (click)="toggleIconForWishlist1(i)" type="button">
                                <i class="bi bi-heart me-1"></i>
                                <i [ngStyle]="{'display': !showIconForWishlist1[i] ? 'inline' : 'none'}" class="bi bi-heart me-1"></i>
                                <i *ngIf="showIconForWishlist1[i]" class="bi bi-heart-fill me-1"></i>
                                <span [ngStyle]="{'display': !showIconForWishlist1[i] ? 'inline' : 'none'}" class="tooltip-block fontResize" st yle="text-align: center;">Like</span>
                                <span *ngIf="showIconForWishlist1[i]" class="tooltip-block fontResize" sty le="text-align: center;">Unlike</span>
                                <img *ngIf="!showIconForWishlist[i]" src="assets/images/knowledge-center/HeartStraight.svg" class="me-1" s tyle="margin-bottom: 2px; height: 20px; width: 20px;">
                            </span> -->
                            <span class="img-with-tooltip me-3" (click)="toggleIconForWatchlist1(i)" type="button">
                                <!-- <i class="bi bi-bookmark"></i> -->
                                <i [ngStyle]="{'display': !showIconForWatchlist1[i] ? 'inline' : 'none'}" class="bi bi-bookmark"></i>
                                <i *ngIf="showIconForWatchlist1[i]" class="bi bi-bookmark-fill"></i>
                                <span [ngStyle]="{'display': !showIconForWatchlist1[i] ? 'inline' : 'none'}" class="tooltip-block fontResize center-CTA" >Save</span>
                                <span *ngIf="showIconForWatchlist1[i]" class="tooltip-block fontResize center-CTA" >Removes from Saved</span>
                                <!-- <img *ngIf="!showIconForWatchlist[i]" src="assets/images/knowledge-center/Variant3.svg" class="me-1" sty le="margin-bottom: 1px; height: 17px; width: 17px;"> -->
                            </span>
                            <!-- <span><i class="bi bi-reply"></i></span> -->
                            <span class="dropdown">
                                <!-- <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/images/knowledge-center/share.svg" st yle="height: 17px;">
                                </span> -->
                                <span class="img-with-tooltip" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/images/knowledge-center/share.svg"  (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="d-inline-block mobile-icons light-mode-icon expanded-icon" >
                                    <img src="../../../../../../assets/images/dark/share-dark-icon.png" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="mobile-icons dark-mode-icon share-btn-collapse" >    
                                    <span *ngIf="showTooltip" class="tooltip-block fontResize center-CTA" >share</span>
                                </span>
                                <ul class="dropdown-menu">
                                    <li><span class="dropdown-item fontResize"><img class="share-icon" src="assets/images/general/Link.svg">Copy link</span></li>
                                    <li><a class="dropdown-item fontResize" href="#"><img class="share-icon3 share-menu-twitter" src="../../../../../assets/images/general/twitter-new-logo-removebg-preview.png" >Share on Twitter</a></li>
                                    <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook</a></li>
                                    <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn</a></li>
                                    <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp</a></li>
                                </ul>
                            </span>
                          </div>
                        </div>
                        <div class="text-bold card-title mt-4 fontResize">{{ blog.title }}</div>
                      </div>
                    </div>
                  
                  </div>
                  
                <!-- <div class="col-md-6 col-12">
                    <h3>
                        Commentaries <a class="knowledge-center-CTA" [routerLink]="['/knowledge-center/commentaries']">
                            <span>View all</span><i class="bi bi-chevron-right"></i></a>
                    </h3>
                    <div class="category-card big-card mb-3">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/img1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Weekly Market Review</div>
                        </div>
                    </div>
                    <div class="category-card big-card mb-3">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/img1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Weekly Market Review</div>
                        </div>
                    </div>
                    <div class="category-card big-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/img1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="blog-date">October 18, 2022</div>
                            <div class="text-bold card-title mt-4">Weekly Market Review</div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-6 col-12">
                    <h3 class="fontResize">
                      Commentaries
                      <a class="knowledge-center-CTA fontResize" [routerLink]="['/knowledge-center/commentaries']">
                        <span class="login-dark2">View all</span><i class="bi bi-chevron-right"></i>
                      </a>
                    </h3>
                  
                    <div *ngFor="let commentary of realteddata2; let i = index" class="category-card big-card mb-3">
                      <div class="card-img">
                        <img [src]="commentary.image">
                        <span class="time-tag fontResize">{{ commentary.time }}</span>
                      </div>
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="blog-date fontResize">{{ commentary.date }}</div>
                            <div class="card-icons center-CTA" >
                              <!-- <span class="img-with-tooltip me-3" (click)="toggleIconForWishlist2(i)" type="button"> -->
                                  <!-- <i class="bi bi-heart me-1"></i> -->
                                  <!-- <i [ngStyle]="{'display': !showIconForWishlist2[i] ? 'inline' : 'none'}" class="bi bi-heart me-1"></i>
                                  <i *ngIf="showIconForWishlist2[i]" class="bi bi-heart-fill me-1"></i>
                                  <span [ngStyle]="{'display': !showIconForWishlist2[i] ? 'inline' : 'none'}" class="tooltip-block fontResize">Like</span>
                                  <span *ngIf="showIconForWishlist2[i]" class="tooltip-block fontResize">Unlike</span> -->
                                  <!-- <img *ngIf="!showIconForWishlist[i]" src="assets/images/knowledge-center/HeartStraight.svg" class="me-1" st yle="margin-bottom: 2px; height: 20px; width: 20px;"> -->
                              <!-- </span> -->
                              <span class="img-with-tooltip me-3" (click)="toggleIconForWatchlist2(i)" type="button">
                                  <!-- <i class="bi bi-bookmark"></i> -->
                                  <i [ngStyle]="{'display': !showIconForWatchlist2[i] ? 'inline' : 'none'}" class="bi bi-bookmark"></i>
                                  <i *ngIf="showIconForWatchlist2[i]" class="bi bi-bookmark-fill"></i>
                                  <span [ngStyle]="{'display': !showIconForWatchlist2[i] ? 'inline' : 'none'}" class="tooltip-block fontResize">Save</span>
                                  <span *ngIf="showIconForWatchlist2[i]" class="tooltip-block fontResize">Saved Course</span>
                                  <!-- <img *ngIf="!showIconForWatchlist[i]" src="assets/images/knowledge-center/Variant3.svg" class="me-1" st yle="margin-bottom: 1px; height: 17px; width: 17px;"> -->
                              </span>
                              <!-- <span><i class="bi bi-reply"></i></span> -->
                              <span class="dropdown">
                                  <!-- <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/images/knowledge-center/share.svg" sty le="height: 17px;">
                                  </span> -->
                                  <span class="img-with-tooltip" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <img src="assets/images/knowledge-center/share.svg"  (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="d-inline-block mobile-icons light-mode-icon expanded-icon">
                                      <img src="../../../../../../assets/images/dark/share-dark-icon.png" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="mobile-icons dark-mode-icon share-btn-collapse" >    
                                      <span *ngIf="showTooltip" class="tooltip-block fontResize">share</span>
                                  </span>
                                  <ul class="dropdown-menu">
                                      <li><span class="dropdown-item fontResize"><img class="share-icon" src="assets/images/general/Link.svg">Copy link</span></li>
                                      <li><a class="dropdown-item fontResize" href="#"><img class="share-icon3 share-menu-twitter" src="../../../../../assets/images/general/twitter-new-logo-removebg-preview.png" >Share on Twitter</a></li>
                                      <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook</a></li>
                                      <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn</a></li>
                                      <li><a class="dropdown-item fontResize" href="#"><img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp</a></li>
                                  </ul>
                              </span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-4 fontResize">{{ commentary.title }}</div>
                      </div>
                    </div>
                  
                  </div>
                  
            </div>
            

        </div>
