<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-none d-sm-block">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Knowledge Centre</a></li>
                    <li class="breadcrumb-item active" aria-current="page">How to save tax with ELSS</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-video-content></app-video-content>
    <app-related-tags></app-related-tags>
    <app-related-articles></app-related-articles>
    <app-stand-box></app-stand-box>
    <app-faq></app-faq>
</div>