<section class="FT-digitalize bg-gradient">
    <div class="container">
        <div class="text-center">
            <div class="FT-title fontResize">Quick links</div>
            <div class="text-big text-white fontResize">
                Access your investment details with us, anytime and anywhere.
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            style="padding:0px 20px;">
            <div ngxSlickItem class="slide">
                <a href="#"  style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="light-mode-icon" src="assets/images/home/calender.svg">
                            <img class="dark-mode-icon" src="assets/images/home/dark-startansip.svg">
                        </div>
                        <h3 class="digitize-card-heading fontResize">Lump Sum Investment</h3>
                    </div>
                </a>
            </div>
            <div ngxSlickItem class="slide">
                <a href="#" style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="light-mode-icon" src="assets/images/home/location.svg">
                            <img class="dark-mode-icon" src="assets/images/home/dark-startansip.svg">
                        </div>
                        <h3 class="digitize-card-heading fontResize">Locate us/contact us</h3>
                    </div>
                </a>
            </div>
            <div ngxSlickItem class="slide">
                <a href="#" style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="light-mode-icon" src="assets/images/home/NAV-icon.svg">
                            <img class="dark-mode-icon" src="assets/images/home/dark-NAV.svg">
                        </div>
                        <h3 class="digitize-card-heading fontResize">Latest NAV</h3>
                    </div>
                </a>
            </div>
            <div ngxSlickItem class="slide">
                <a href="#"  style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="light-mode-icon" src="assets/images/home/AS2.svg">
                            <img class="dark-mode-icon" src="assets/images/home/dark-accstatement.svg">
                        </div>
                        <h3 class="digitize-card-heading fontResize">Account Statement</h3>
                    </div>
                </a>
            </div>
            <div ngxSlickItem class="slide">
                <a href="#" style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="light-mode-icon" src="assets/images/home/calender.svg">
                            <img class="dark-mode-icon" src="assets/images/home/calender-mobile.png">
                        </div>
                        <h3 class="digitize-card-heading fontResize">Total expense ratio</h3>
                    </div>
                </a>
            </div>
            <div ngxSlickItem class="slide">
                <a href="#" style="color:inherit;">
                    <div class="creation-box">
                        <div class="img-block">
                            <img class="share-icon2 bi-share"
                                src="../../../../../assets/images/general/SIP-lumpsum.png">
                            <!-- <img class="dark-mode-icon" src="assets/images/home/dark-transact.svg"> -->
                        </div>
                        <h3 class="digitize-card-heading fontResize">Start an SIP/Lumpsum</h3>
                    </div>
                </a>
            </div>

        </ngx-slick-carousel>
        <div class="text-center">
            <a href="#" class="more-links"><span class="fontResize">Explore all quick links</span><i
                    class="bi bi-chevron-right ms-3"></i></a>
        </div>
    </div>
</section>