<section class="FT-digital-offers bg-gradient">
    <div class="container">
        <div class="text-center mb-4">
            <div class="FT-title">Key Digital Offerings</div>
            <div class="text-big text-white mb-5">Effortlessly access your investments and related services with our
                digitalized
                services</div>
        </div>

        <div class="row g-3">
            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img1.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Learn on the go-FTA</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                Allows you to initiate a transaction on behalf of your client. The client can simply
                                authenticate them self and approve / reject a transaction. You can also track the status
                                of such transactions online. Some of the key transactions that you can execute online
                                are - Buy l...
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/distribute-1.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Learn on the go-FTA</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Allows you to initiate a transaction on behalf of your client. The client can simply
                                download account statement.
                                <!-- Register a nomination for your client, Register a payment mandate Allows you to email/ -->
                                <!-- authenticate them self and approve / reject a transaction. You can also track the status
                                of such transactions online. Some of the key transactions that you can execute online
                                are - Buy l... -->
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/offer-2.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon2.svg" class="card-icon">
                            <h3>Non-Financial Transactions</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate Allows you to email/download account statement.                             
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box d-flex "  ="gap: 20px;">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/offer-2.png" class="card-img mb-3 mb-md-4">
                    </div>
                    <div class="col-sm-8 card-body">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon2.svg" class="card-icon">
                            <h3>Non-Financial Transactions</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate, Account statement –
                                Allows you to email/download account statement and capital gain statement.
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                    </div>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/offer-3.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/TrendUp.svg" class="card-icon">
                            <h3>Perspectives</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                <!-- This is our “invite only” annual distributor & institutional client engagement event
                                where over a period of two days we bring together an impressive group of thought leaders
                                from the world of economics, business, technology, media, and the fine arts.... -->
                                Allows you to initiate a transaction on behalf of your client. The client can simply
                                download account statement.
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img2.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/TrendUp.svg" class="card-icon">
                            <h3>Perspectives</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                This is our “invite only” annual distributor & institutional client engagement event
                                where over a period of two days we bring together an impressive group of thought leaders
                                from the world of economics, business, technology, media, and the fine arts....
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->

            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/offer-4.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/WhatsappLogo.svg" class="card-icon">
                            <h3>Whatsapp</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate Allows you to email/download account statement. 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                <!-- Investors and Distributors can access investor account information and transact easily
                                via WhatsApp, a 4-digit PIN can be set up to access/transact easily.
                                <ul>
                                    <li>
                                        Account Information / Statement – Current value a..
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img4.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/WhatsappLogo.svg" class="card-icon">
                            <h3>Whatsapp</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                Investors and Distributors can access investor account information and transact easily
                                via WhatsApp, a 4-digit PIN can be set up to access/transact easily.

                                <ul>
                                    <li>
                                        Account Information / Statement – Current value a..
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->


            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/distribute-1.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/solar_delivery-outline.svg" class="card-icon">
                            <h3>FT Academy</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Allows you to initiate a transaction on behalf of your client. The client can simply
                                download account statement.
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!--             
            <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img1.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/solar_delivery-outline.svg" class="card-icon">
                            <h3>FT Academy</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                The Franklin Templeton Academy is one of the oldest “Learning & Development” platforms
                                for distribution partners in India. The platform conducts in-person trainings across 21
                                topics in 7 languages across 50 plus cities. The topics cov...
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->


            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/distribute-1.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Track Your Book of Business</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate Allows you to email/download account statement. 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img1.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Track Your Book of Business</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                Gives you updated (as of the previous day) details such as Cumulative AUM across all
                                your clients, Gross Sales, Net Sales, Active SIP throughput, SIP’s coming up for
                                renewal, Expired SIP’s, Details of commission earned.....
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->

            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/distribute-1.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Client Communication</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate Allows you to email/download account statement. 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img1.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Client Communication</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                This allows you to communicate with your clients in a personalised manner using the
                                Franklin Templeton content library. It allows you to set up and trigger campaigns using
                                the content of your choice and at a frequency that you desire...
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->



            <div class="col-sm-6 col-12">
                <div class="offer-box d-flex fund-card-offers">
                    <div class="col-sm-4">
                        <img src="../../../../../assets/images/distributor/distribute-1.png" class="card-img">
                    </div>
                    <div class="col-sm-8 card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Intelli-Invest - Your Smart Investor Scout.</h3>
                        </div>
                        <div class="content">
                            <div class="short-description text-meduim">
                                Register a nomination for your client, Register a payment mandate Allows you to email/download account statement. 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="offer-box">
                    <img src="assets/images/distributor/offer-img1.png" class="card-img mb-3 mb-md-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Intelli-Invest - Your Smart Investor Scout.</h3>

                        </div>
                        <div class="content mb-4">
                            <div class="short-description text-meduim">
                                We have developed an AI algorithm that looks for signals to identify high propensity
                                investors. The model uses predictive analytics to analyse historical trends and purchase
                                behaviour to identify these high propensity investors....
                                <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                            </div>

                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>

                </div>
            </div> -->
        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade readMore-modal" id="readMore" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="offer-box">
                    <!-- <img src="assets/images/distributor/offer-modal-img.png" class="card-img"> -->
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <img src="assets/images/distributor/offer-icon1.svg" class="card-icon">
                            <h3>Learn on the go-FTA</h3>

                        </div>
                        <div class="content">
                            <div class="text-meduim mb-4">
                                Easy online investing for your goal with regular monitoring of progress so that you stay
                                firm on the chosen path. We are your financial partners who work on.Easy online
                                investing for your goal with regular monitoring of progress so that you stay firm on the
                                chosen path. We are your financial partners who work on.Easy online investing for your
                                goal with regular monitoring of progress so that you stay firm on the chosen path. We
                                are your financial partners who work on.Easy online investing.
                            </div>
                            <div class="text-meduim mb-4">
                                Easy online investing for your goal with regular monitoring of progress so that you stay
                                firm on the chosen path. We are your financial partners who work on.Easy online
                                investing for your goal with regular monitoring of progress.
                            </div>
                            <div class="text-meduim mb-4">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>