<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-none d-lg-block">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Knowledge Centre</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Market-Insight</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-inner-banners" style="background:url('assets/images/knowledge-center/Variant3.png')">
        <div class="container">
            <div class="content-box text-white">
                <h2 class="mb-lg-2 mb-4">Market Insights</h2>
                <div>
                    Feel confident in the financial world, stay updated on market trends, and boost your financial know-how with our helpful insights.
                </div>
            </div>
        </div>
    </section>
    <app-learning-category2></app-learning-category2>

    <app-standpage></app-standpage>
    <app-faq></app-faq>
</div>