<section class="FT-download-options">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto d-none d-md-block pe-0">
                <img src="assets/images/home/phone.png" class="download-img">
            </div>
            <div class="col ps-md-0">
                <h2 class="fontResize Download"  > <span class="text-gradient fontResize">Download. Invest. Track.!</span> </h2>
                <p class="mb-4 down-data"> Download now to invest and track your portfolio effortlessly at your fingertips</p>
                <div class="d-block d-md-none mb-3">
                    <img src="assets/images/home/phone-sm.png">
                </div>
                <div>
                    <a href="#"><img src="assets/images/home/google-play.svg"></a>
                    <a href="#"><img src="assets/images/home/app-store.svg"></a>
                </div>
            </div>
        </div>
        
    </div>
</section>
