<!-- start section calc formula 
<section class="FT-formula">
    <div class="container">
        <div class="formula-box">
            <h3>The formula of calculating returns via mutual fund return calculator SIP calculator</h3>

            <div class="mb-4">
                <div class="mb-12 formula-head">1. SIP calculator </div>
                <div class="mb-12"> An SIP calculator works on the following formula:</div>
                <div class="mb-12"> FV = (P * ((returns / 100) / 12)) / (Math.pow((1 + ((returns / 100) / 12)), (year *
                    12)) - 1);</div>
                <div class="mb-12"> Here,</div>
                <div class="mb-12"> FV = Future value of the investment</div>
                <div class="mb-12">P = SIP investment amount</div>
                <div class="mb-12">Let’s understand this with the help of an example:</div>
                <div class="mb-12">Megha wants to invest Rs1,000 per month for 12 months. The expected rate of interest
                    on this investment is 12% pa (per annum). Thus, the future value of her investments (M) would be:
                </div>
                <div class="mb-12"> M = 1,000 X (&#123;[1 + 12%]12 – 1&#125; / 12%) x (1 + 12%)</div>
                <div class="mb-12">Therefore, M = Rs25,293 (approx)</div>
                <div class="mb-12"> Instead of having to compute complex calculations, Megha can simply use a mutual
                    fund return calculator to save time and effort.</div>
                <div class="mb-12"> N.B.: The rate of interest on an SIP investment will differ as per market conditions
                    and may increase or decrease.</div>

            </div>
            <div>
                <div class="mb-12 formula-head">2. Lumpsum calculator</div>
                <div class="mb-12">A lumpsum calculator works on the following formula:</div>
                <div class="mb-12">A = P (1 + r/n) ^ nt</div>
                <div class="mb-12">Here,</div>
                <div class="mb-12">A = estimated returns</div>
                <div class="mb-12">P = Present value of investment</div>
                <div class="mb-12"> r = estimated rate of return</div>
                <div class="mb-12">t = tenure</div>
                <div class="mb-12">n = number of compound interests in a year</div>
                <div class="mb-12">Let’s understand this with the help of an example.</div>
                <div class="mb-12">Sonia makes a lumpsum investment of Rs20 lakh in a mutual fund that offers average
                    returns at the rate of 12% pa. The duration for her investment is 5 years that compounds every 6
                    months.</div>
                <div class="mb-12">Here,</div>
                <div class="mb-12">P = 20,00,000</div>
                <div class="mb-12">r = 12/100</div>
                <div class="mb-12">t = 5</div>
                <div class="mb-12">n = 2</div>
                <div class="mb-12">Therefore, the estimated future returns, in this case, would be:</div>
                <div class="mb-12">A = 20,00,000 (1 + 12/100*2) ^ 2*5</div>
                <div class="mb-12">A = Rs35,81,695 (approx)</div>
                <div class="mb-12">Instead of having to make complex calculations, Sonia can simply use a lumpsum
                    calculator to save time and effort.</div>

            </div>

        </div>
        <div class="formula-box font-inter">
            <h3>An investor education and awareness initiative by Franklin Templeton Mutual Fund</h3>
            <ul>
                <li>
                    One-time KYC (Know Your Customer) : One-time KYC registration is mandatory to invest in mutual
                    funds. You can complete the same by submitting the following at any of our branches or collection
                    centres: a) Duly filled and signed Central-KYC application form. b) Proof of Identity: Any document
                    notified by the central government. c) Proof of Address: Same as identity proof (except PAN). d)
                    Recent Passport Size Photograph. Copies of all documents submitted must be self-attested by the
                    applicant and accompanied by originals for verification. You may also avail our Online KYC
                    Registration facility while opening an online account with us, for more details please visit our
                    website www.franklintempletonindia.com. In case you are KYC verified and want to update any
                    information, please submit a completed KYC details change form with the required self-attested
                    documents as proof to our nearest branch or collection centre

                </li>
                <li>
                    Details of SEBI registered Mutual Funds: Investors must deal/ invest only with SEBI registered
                    Mutual Funds. Details available on the SEBI website www.sebi.gov.in.

                </li>
                <li>
                    Complaint Redressal: Investors can reach us on our toll-free helpline 1800 425 4255 OR write to us
                    at grievanceredressal@franklintempleton.com. For escalation, write to us at
                    headofcustomerservice@franklintempleton.com; president@franklintempleton.com or lodge your grievance
                    with SEBI through their SCORES (SEBI Complaint Redress System) Portal at https://scores.gov.in

                </li>
            </ul>
            <div>Mutual Fund investments are subject to market risks, read all scheme related documents carefully.
            </div>
        </div>
    </div>
</section>-->
<!-- start section fund accordion -->
<section class="FT-calculator-accordion">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item no-img mb-3">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        How does a mutual fund calculator help you?

                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="list-with-img fontResize ">
                            <li class="calculator-header">
                                A mutual fund calculator provides you with the estimated returns for the investment
                                tenure, be it 1-year, 3-years, etc.
                            </li>
                            <li class="calculator-header">
                                A mutual fund calculator helps investors plan and manage their finances better once they
                                have an estimated idea of the future value of their investments.
                            </li>
                            <li class="calculator-header">
                                It is a free tool that is available to investors. It is quite convenient to use and even
                                a layperson can use it with relative ease.
                            </li>
                            <li class="calculator-header">
                                It offers reasonably accurate returns on your mutual fund investments. However, one
                                should note that as mutual fund investments are subject to market risks, one cannot
                                predict the returns with pinpoint accuracy.
                            </li>
                        </ul>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item no-img mb-3">
                <h4 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        The formula of calculating returns via mutual fund return calculator SIP calculator
                    </button>
                </h4>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-4">
                            <div class="mb-12 formula-head text-bold fontResize">1. SIP calculator </div>
                            <div class="mb-12 fontResize"> An SIP calculator works on the following formula:</div>
                            <div class="mb-12 fontResize"> FV = (P * ((returns / 100) / 12)) / (Math.pow((1 + ((returns / 100) / 12)), (year *
                                12)) - 1);</div>
                            <div class="mb-12 fontResize"> Here,</div>
                            <div class="mb-12 fontResize"> FV = Future value of the investment</div>
                            <div class="mb-12 fontResize">P = SIP investment amount</div>
                            <div class="mb-12 fontResize">Let’s understand this with the help of an example:</div>
                            <div class="mb-12 fontResize">Megha wants to invest Rs1,000 per month for 12 months. The expected rate of interest
                                on this investment is 12% pa (per annum). Thus, the future value of her investments (M) would be:
                            </div>
                            <div class="mb-12 fontResize"> M = 1,000 X (&#123;[1 + 12%]12 – 1&#125; / 12%) x (1 + 12%)</div>
                            <div class="mb-12 fontResize">Therefore, M = Rs25,293 (approx)</div>
                            <div class="mb-12 fontResize"> Instead of having to compute complex calculations, Megha can simply use a mutual
                                fund return calculator to save time and effort.</div>
                            <div class="mb-12 fontResize"> N.B.: The rate of interest on an SIP investment will differ as per market conditions
                                and may increase or decrease.</div>
            
                        </div>
                        <div class="">
                            <div class="mb-12 fontResize formula-head text-bold">2. Lumpsum calculator</div>
                            <div class="mb-12 fontResize">A lumpsum calculator works on the following formula:</div>
                            <div class="mb-12 fontResize">A = P (1 + r/n) ^ nt</div>
                            <div class="mb-12 fontResize">Here,</div>
                            <div class="mb-12 fontResize">A = estimated returns</div>
                            <div class="mb-12 fontResize">P = Present value of investment</div>
                            <div class="mb-12 fontResize"> r = estimated rate of return</div>
                            <div class="mb-12 fontResize">t = tenure</div>
                            <div class="mb-12 fontResize">n = number of compound interests in a year</div>
                            <div class="mb-12 fontResize">Let’s understand this with the help of an example.</div>
                            <div class="mb-12 fontResize">Sonia makes a lumpsum investment of Rs20 lakh in a mutual fund that offers average
                                returns at the rate of 12% pa. The duration for her investment is 5 years that compounds every 6
                                months.</div>
                            <div class="mb-12 fontResize ">Here,</div>
                            <div class="mb-12 fontResize ">P = 20,00,000</div>
                            <div class="mb-12 fontResize ">r = 12/100</div>
                            <div class="mb-12 fontResize ">t = 5</div>
                            <div class="mb-12 fontResize ">n = 2</div>
                            <div class="mb-12 fontResize ">Therefore, the estimated future returns, in this case, would be:</div>
                            <div class="mb-12 fontResize ">A = 20,00,000 (1 + 12/100*2) ^ 2*5</div>
                            <div class="mb-12 fontResize ">A = Rs35,81,695 (approx)</div>
                            <div class="mb-12 fontResize ">Instead of having to make complex calculations, Sonia can simply use a lumpsum
                                calculator to save time and effort.</div>
            
                        </div>
            
                    </div>
                </div>
            </div>
            <div class="accordion-item no-img mb-3">
                <h3 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        What are the benefits and advantages of mutual fund investments?
                    </button>
                </h3>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body accordion-slider">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                            <div ngxSlickItem class="slide">
                                <div class="benefits-box">
                                    <div class="mb-2 text-center"><img src="assets/images/calculators/SuitcaseSimple.svg"></div>
                                    <div class="text-big mb-3 text-center">Professional management</div>
                                    <div class="text-small fontResize">
                                        Mutual funds are professionally managed by experts known as fund managers. They track the market and distribute the investments across asset classes to meet the fund’s objective. With the help of strong research teams and their expertise, these fund managers identify the winning securities, buy them at the right time, and most importantly, know when to exit.
                                    </div>
                                </div>
                            </div>
                            <div ngxSlickItem class="slide">
                                <div class="benefits-box">
                                    <div class="mb-2 text-center"><img src="assets/images/calculators/Money.svg"></div>
                                    <div class="text-big mb-3 text-center fontResize">Reasonable Returns</div>
                                    <div class="text-small fontResize">
                                        Mutual funds offer the right avenue for investing in various market-linked instruments that have potetnail to offer reasonable returns
                                    </div>
                                </div>
                            </div>
                            <div ngxSlickItem class="slide">
                                <div class="benefits-box">
                                    <div class="mb-2 text-center"><img src="assets/images/calculators/CurrencyInr.svg"></div>
                                    <div class="text-big mb-3 text-center fontResize">Disciplined investing</div>
                                    <div class="text-small">
                                        It’s a good habit to invest that could help for a good future. You can invest in mutual funds through a Systematic Investment Plan (SIP). SIPs ensure that you are committed to investing, which instils financial discipline among investors. This discipline is required to make a productive action plan that could help to develop a good future.
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item no-img mb-3">
                <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        An investor education and awareness initiative by Franklin Templeton Mutual Fund

                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="fontResize">
                            <li class="calculator-header">
                                <strong>One-time KYC (Know Your Customer)</strong> : One-time KYC registration is
                                mandatory to invest in
                                mutual funds. You can complete the same by submitting the following at any of our
                                branches or collection centres: a) Duly filled and signed Central-KYC application form.
                                b) Proof of Identity: Any document notified by the central government. c) Proof of
                                Address: Same as identity proof (except PAN). d) Recent Passport Size Photograph. Copies
                                of all documents submitted must be self-attested by the applicant and accompanied by
                                originals for verification. You may also avail our Online KYC Registration facility
                                while opening an online account with us, for more details please visit our website
                                <a href="#">www.franklintempletonindia.com.</a> In case you are KYC verified and want to
                                update any
                                information, please submit a completed KYC details change form with the required
                                self-attested documents as proof to our nearest branch or collection centre

                            </li>
                            <li class="calculator-header">
                                <strong>Details of SEBI registered Mutual Funds</strong>: Investors must deal/ invest
                                only with SEBI
                                registered Mutual Funds. Details available on the SEBI website <a
                                    href="#">www.sebi.gov.in.</a>

                            </li>
                            <li class="calculator-header">
                                <strong>Complaint Redressal</strong>: Investors can reach us on our toll-free helpline
                                1800 425 4255 OR
                                write to us at grievanceredressal@franklintempleton.com. For escalation, write to us at
                                headofcustomerservice@franklintempleton.com; president@franklintempleton.com or lodge
                                your grievance with SEBI through their SCORES (SEBI Complaint Redress System) Portal at
                                <a href="#">https://scores.gov.in</a>

                            </li>
                        </ul>
                        <div>
                            Mutual Fund investments are subject to market risks, read all scheme related documents
                            carefully.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>