<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">About us</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Who We Are</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- start section pages inners -->
    <section class="FT-inner-banners" style="background: url('assets/images/about/hero-bg.png');">
        <div class="container">
            <div class="content-box text-white">
                <h2 class="mb-4">Who We Are</h2>
                <div class="content-box">
                    Franklin Templeton's association with India dates back to over 2 decades as an investor. As part of
                    the group's major thrust on investing in markets around the world, the India office was set up in
                    1996 as Templeton Asset Management India Pvt. Limited. It flagged off the mutual fund business with
                    the launch of Templeton India Growth Fund in September 1996, and since then the business has grown
                    at a steady pace.
                </div>
            </div>
        </div>
    </section>
    <section class="FT-about-details">
        <div class="container">
            <div class="FT-title text-center">76 years of Global Vintage</div>
            <div class="row g-lg-4 g-sm-3 g-2">
                <div class="col-lg col-md-4 col-6">
                    <div class="about-box">
                        <img src="assets/images/about/Diamonds.svg" class="mb-3">
                        <h3 class="mb-2">76</h3>
                        <div class="text-meduim">years of presence and still going strong</div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="about-box">
                        <img src="assets/images/about/Bank.svg" class="mb-3">
                        <h3 class="mb-2">32</h3>
                        <div class="text-meduim">Countries with offices</div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="about-box">
                        <img src="assets/images/about/Money.svg" class="mb-3">
                        <h3 class="mb-2">1.4 Trillion</h3>
                        <div class="text-meduim">Assets under management</div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="about-box">
                        <img src="assets/images/about/Users.svg" class="mb-3">
                        <h3 class="mb-2">8500</h3>
                        <div class="text-meduim">Employees</div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-6">
                    <div class="about-box">
                        <img src="assets/images/about/Briefcase.svg" class="mb-3">
                        <h3 class="mb-2">1250+</h3>
                        <div class="text-meduim">Investment Professionals</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#"><span class="aboutlinks login-dark2">Click here to know more</span></a>
            </div>
        </div>
    </section>
    <section class="FT-Franklin-info">
        <div class="container">
            <div class="FT-title text-center mb-4">Franklin Templeton India</div>
            <div class="FT-blocks-nav sticky-top hello">
                <ul>
                    <li><a  class="FT-history History active-item">History</a></li>
                    <li><a  class="FT-history Numbers">Key Numbers</a></li>
                    <li><a  class="FT-history Products">Products</a></li>
                    <li><a  class="FT-history Product-Vintage">Rich Product Vintage</a></li>
                </ul>
            </div>
            <div class="info-box" id="History">
                <h3 class="text-center mb-3">History</h3>
                <div class="mb-5">
                    Franklin Templeton's association with India dates to over two decades as an investor. As part of the
                    group's major thrust on investing in markets around the world, the India office was set up in 1996
                    as Templeton Asset Management. At Franklin Templeton, we understand that the strength of our
                    business relationships is a key point of differentiation for us as a company, along with the trust
                    that our business partners and clients have in us. Throughout the company’s history, a strong
                    commitment to corporate values has guided our decision making and has been a roadmap for our
                    success. These values, and our unique perspective, help us achieve our mission by offering high
                    quality investment solutions, providing outstanding service, and attracting, motivating, and
                    retaining talented people.
                </div>
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide">
                        <div class="history-box">
                            <img src="assets/images/about/history-img1.png" class="box-img">
                            <div class="content">
                                <div class="text-big">1940</div>
                                <div class="text-small">
                                    Sir John Templeton founded Templeton, Dobbrow and Vance Inc.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="history-box">
                            <img src="assets/images/about/history-img2.png" class="box-img">
                            <div class="content">
                                <div class="text-big">1971</div>
                                <div class="text-small">
                                    Franklin went public as Franklin Resources Inc.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="history-box">
                            <img src="assets/images/about/history-img3.png" class="box-img">
                            <div class="content">
                                <div class="text-big">1987</div>
                                <div class="text-small">
                                    Led by Mr. Mark Mobius, Franklin begins investing in emerging markets and offers the first emerging markets equity fund to US invstors
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="history-box">
                            <img src="assets/images/about/history-img2.png" class="box-img">
                            <div class="content">
                                <div class="text-big">1992</div>
                                <div class="text-small">
                                    The Franklin and Templeton organizations merge in what was at the time the largest merger of an independent mutual fund company in history
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
               
            </div>
            <div class="info-box" id="Numbers">
                <h3 class="text-center mb-3">Key Numbers</h3>
                <div class="row g-lg-4 g-sm-3 g-2">
                    <div class="col-lg-3 col-6">
                        <div class="about-box">
                            <img src="assets/images/about/Diamonds.svg" class="mb-3">
                            <h3 class="mb-2">27 years</h3>
                            <div class="text-meduim">of presence and still going strong</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="about-box">
                            <img src="assets/images/about/Briefcase.svg" class="mb-3">
                            <h3 class="mb-2">17 lakh + Investors</h3>
                            <div class="text-meduim">
                                A relationship based on trust that pushes us to do better
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="about-box">
                            <img src="assets/images/about/Money.svg" class="mb-3">
                            <h3 class="mb-2">75,000 CR+ AUM</h3>
                            <div class="text-meduim">Assets under management</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="about-box">
                            <img src="assets/images/about/CurrencyInr.svg" class="mb-3">
                            <h3 class="mb-2">30 MF Schemes</h3>
                            <div class="text-meduim">Tailored investment opportunities for every goal</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box" id="Products">
                <h3 class="text-center mb-5">Focussed Product Based - Only 30 Products</h3>
                <div class="row g-md-4 g-3">
                    <div class="col-lg-4 col-12">
                        <div class="total-funds">
                            <h3>Total Funds </h3>
                            <div class="FT-title Ft-num">30</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="products-info">
                            <div class="text-meduim">Equity</div>
                            <h3 class="Ft-pro-num">14</h3>
                        </div>
                        <div class="products-info">
                            <div class="text-meduim">International FoFs</div>
                            <h3 class="Ft-pro-num">02</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="products-info">
                            <div class="text-meduim">Debt</div>
                            <h3 class="Ft-pro-num">07</h3>
                        </div>
                        <div class="products-info">
                            <div class="d-flex justify-content-between ">
                                <div>
                                    <div class="text-meduim">Hybrid</div>
                                    <h3 class="Ft-pro-num">07</h3>
                                </div>
                                <div>
                                    <div class="text-meduim">Hybrid fofs</div>
                                    <h3 class="Ft-pro-num">02</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box" id="Product-Vintage">
                <h3 class="text-center mb-3">Rich Product Vintage</h3>
                <div class="text-big text-center">
                    Over 3/4th of our funds have complete more than 10 years
                </div>
                <div class="bg-light-blue content-box">
                    <div class="row g-2 g-lg-4">
                        <div class="col-lg-4 col-12">
                            <div class="vintage-box">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/about/star.png" class="me-2 me-lg-3">
                                    <div>
                                        <h3>
                                            <span class="text-blue">2 funds</span> have completed
                                            <span class="text-blue">30 years</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="vintage-box">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/about/star.png" class="me-2 me-lg-3">
                                    <div>
                                        <h3>
                                            <span class="text-blue">10 funds</span> have completed
                                            <span class="text-blue">20 years</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="vintage-box">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/about/star.png" class="me-2 me-lg-3">
                                    <div>
                                        <h3>
                                            <span class="text-blue">25 funds</span> have completed
                                            <span class="text-blue">10 years</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>