@media(max-width:899.98px) {
    h3 {
        font-weight: 600 !important;
        font-size: 19px;
    }

    .mob {
        font-weight: 600 !important;
        font-size: 17px;
    }

    p {
        font-size: 16px;

    }

    .FT-footer-pages .FT-title-medium {
        padding-top: 15px;
    }
}

.share-menu-twitter {
    padding: 10px !important;
}

.fund-AUM {
    cursor: pointer
}
.fund-AUM-SIP{
    padding-top: 31px;
}