<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">About us</a></li>
                    <li class="breadcrumb-item active" aria-current="page">What Differentiates Us</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- start section pages inners -->
    <section class="FT-inner-banners" style="background: url('assets/images/about/hero-bg.png');">
        <div class="container">
            <div class="content-box text-white">
                <h2 class="mb-4">What Differentiates Us</h2>
                <div class="content-box">
                    We offer clients the strength and experience gained from decades of active asset management. At
                    Franklin Resources, Inc. (operating as Franklin Templeton Investments), our track record of fiscal
                    responsibility includes conservative balance sheet management practices, substantial liquid cash and
                    investments, and access to additional liquidity. Our credit ratings are among the highest of any
                    asset management company4.
                </div>
            </div>
        </div>
    </section>
    <section class="FT-proposition">
        <div class="container">
            <div class="FT-title tex-center">Our Value Proposition</div>
            <div class="content bg-light-blue">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">Guided by long-term value creation</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Nimble where it matters</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
                            aria-selected="false">Ability to customise</button>
                    </li>
                </ul>
                <div class="tab-content" id="">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-md col-7">
                                <div class="text-big d-none d-md-block">
                                    We are a closely held public firm with a strong balance sheet, allowing us to invest
                                    with a long-term horizon.  With a strong track record of product and technological
                                    innovations fueled by our “Silicon Valley” roots and “Values-Based” culture, we do
                                    the right thing for our clients and our people.
                                </div>
                                <div class="text-big d-block d-md-none">
                                    We are a closely held public firm with a strong balance sheet, allowing us to invest
                                    with and technological...
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                </div>
                            </div>
                            <div class="col-md-auto col-5">
                                <img src="assets/images/about/prop1.png">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-md col-7">
                                <div class="text-big d-none d-md-block">
                                    With autonomous investment teams where entrepreneurial, independent professionals
                                    practice true specialization. Our 1,200+ research and investment professionals, give
                                    us differentiated insights and a “ear to the ground” in 20+ countries. At-scale
                                    capabilities in analytics, data and servicing combined with empowered teams makes us
                                    uniquely agile.
                                </div>
                                <div class="text-big d-block d-md-none">
                                    With autonomous investment teams where entrepreneurial, independent professionals
                                    practice true...
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                </div>
                            </div>
                            <div class="col-md-auto col-5">
                                <img src="assets/images/about/prop2.png">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                        tabindex="0">
                        <div class="row">
                            <div class="col-md col-7">
                                <div class="text-big d-none d-md-block">
                                    Our tailored support through a global distribution platform, technological tools,
                                    and value-added services, provides more than just investment returns. The firm’s
                                    multi-asset capabilities that advance portfolio construction are well placed to
                                    provide true solutions.
                                </div>
                                <div class="text-big d-block d-md-none">
                                    Our tailored support through a global distribution platform, technological tools,
                                    and value-added...
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#readMore">Read More</a>
                                </div>
                            </div>
                            <div class="col-md-auto col-5">
                                <img src="assets/images/about/prop1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="FT-concepts">
        <div class="container">
            <div class="FT-title tex-center">Pioneering Concepts & Products</div>
            <h3 class="box-title mb-2">Concepts ‘Firsts’</h3>
            <div class="text-big">
                Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
            </div>
            <div class="content bg-light-blue">
                <div class="row g-3">
                    <div class="col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Systematic Investment Plans or SIPs</h3>
                                </div>
                            </div>
                            <div class="mt-3">
                                Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
                                interdum.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Goal based Investment solution- Family Solutions</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Systematic Transfer Plans or STPs</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>All Trail Commission model</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Franklin Templeton Academy for Partner Education</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Monthly Portfolios</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="vintage-box">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/about/star.png" class="me-3">
                                <div>
                                    <h3>Daily NAVs</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="box-title mb-2">Products ‘Firsts’</h3>
                <div class="text-big">
                    Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                </div>
                <div class="FT-faq m-0 p-0">
                    <div class="content bg-light-blue faq-box">
                        <div class="accordion row g-3 faq-box-mob" id="accordionExample">
                            <div class="col-md-6">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Closed end private sector equity fund, Franklin India Bluechip
                                                    Fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show"
                                        aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Open end private sector equity fund, Franklin India Prime
                                                    Fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Value Fund - Templeton India Value Fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Capital Protection Oriented Fund- Franklin Templeton Capital
                                                    Safety Fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapse5">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Private sector Pension scheme, Franklin India Pension Plan</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading6">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false"
                                            aria-controls="collapse6">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Dividend Yield fund - Templeton India Equity Income fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading7">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false"
                                            aria-controls="collapse7">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Infotech fund Franklin India Technology fund</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading8">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false"
                                            aria-controls="collapse8">
                                            <div class="title">
                                                <img src="assets/images/about/star.png">
                                                <span>Fund of fund - FT India Dynamic Asset Allocation fund of
                                                    funds</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Horem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>