.quick-links-box:hover {
    transform: scale(1.1);
    transition: all ease .5s;
    transform-origin:center;
    cursor: pointer;   
}
.FT-short-links {
    padding-top: 34px;
    padding-bottom: 32px;


    .btn {
        padding: 12px 30px;
        font-family: "Inter";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 155.556%;
        margin: 6px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
}
.FT-quick-links {
    padding-top: 80px;
    padding-bottom: 80px;

    .FT-title {
        margin-bottom: 40px;
    }

    .quick-links-box {
        margin: 8px 0;
    }
}