<!-- start comaprefund accodiandetail section -->
<section class="FT-comparefund-accordiandetails">
	<div class="row">
		<div class="col-md-12 col-md-6 col-md-4 col-md-3">
			<div class="accordianData card">

				<div class="accordion-button mt-3" (click)="toggleFirstAccodian()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSchemeSummary"
					aria-expanded="true" aria-controls="collapseSchemeSummary">
					<span class="iconHeading">Comparing Mutual Funds: Different Parameters Available</span>
					<div class="iconImage">
						<img class="toggle-icon"
						[src]="isFirstAccordionExpanded ?  './assets/images/comparefund/plus.png' : './assets/images/comparefund/minus.png'"
						alt="Toggle Icon">
					</div>
				</div>
				<div id="collapseSchemeSummary" class="accordion-collapse collapse show addScroll" aria-labelledby="headingSchemeSummary"
					data-bs-parent="#filterAccordion">
					<div class="accordion-body">
						<ul> <!-- Start an unordered list -->
							Returns - This is by far the most common criteria used to compare mutual fund schemes. In most cases, prospective investors look at the 1 year, 3 years, and 5-year returns of different schemes to compare them.
							<li>Returns Compared to the Fund Benchmark - The second criteria which are most often used are how the fund has performed against its benchmark. All Mutual Funds are benchmarked to a particular index and this data shows how much more or less the fund has delivered compared to that index.</li>
							<li>Expense Ratio - The Expense Ratio is the annual percentage the fund house charges you for managing your money. There is a ceiling set by SEBI on how much AMCs can charge. AMCs can charge whatever they want as long as they don't cross the upper limit defined by the regulator.</li>
							<li>Risk Measures - There are 4-5 key risk measurement ratios that are used to compare mutual funds:
								<ul> <!-- Start a nested unordered list -->
									<li>Standard Deviation - It is the measure of fund volatility. The standard deviation shows how much the fund returns have moved up and down from their average in the past.</li>
									<li>Sharpe Ratio - This ratio shows how much extra returns are being generated for the additional risk being taken by the fund.</li>
									<li>Sortino - This ratio is a modification of the Sharpe Ratio that uses the downside deviation instead of the total standard deviation of the mutual fund. Sortino Ratio is used to determine the downside volatility risk of the mutual fund.</li>
									<li>Alpha - Alpha indicates the ability of a mutual fund to generate higher returns than its benchmark Index.</li>
									<li>Beta - Beta indicates the extra risk that a mutual fund is taking to generate returns that are higher than its benchmark Index.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
							<li>Portfolio Level Information - This can be divided into two types. Ones that give an overall view and ones that give a granular view:
								<ul> <!-- Start a nested unordered list -->
									<li>Allocation Across Market Caps - This section shows the Large Cap, Mid Cap and Small Cap allocation of the Equity Mutual Fund.</li>
									<li>Number of Securities - These are the number of securities that the mutual fund is holding according to the details published in the latest Factsheet.</li>
									<li>Average Maturity - This is only applicable to Debt investments and helps determine the interest rate sensitivity of a scheme. Average Maturity is the weighted average of how long it will take for all the bonds in a mutual fund portfolio to mature.</li>
									<li>Modified Duration - Modified Duration is also a measure of the interest rate sensitivity of a Debt Mutual Fund. It shows how much the price of a debt investment will be affected by a change in interest rates.</li>
									<li>Yield to Maturity (YTM) - The YTM data of a debt mutual fund indicates the potential returns that can be generated by the scheme. It also indicates the overall quality of Bonds and Money Market instruments included in the fund's portfolio.</li>
									<li>Portfolio Holdings - This section shows the sectors and companies the fund has invested.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
						</ul> <!-- End of unordered list -->
					</div>
				</div>
				<hr>
				<div class="accordion-button collapsed" (click)="toggleSecondAccodian()" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapsePerformance" aria-expanded="false" aria-controls="collapsePerformance">
					<span class="iconHeading">How to compare mutual funds the right way</span>
					<div class="iconImage">
						<img class="toggle-icon"
						[src]="isSecondAccordionExpanded ? './assets/images/comparefund/minus.png' : './assets/images/comparefund/plus.png'"
						alt="Toggle Icon">
					</div>
				</div>
				<div id="collapsePerformance" class="accordion-collapse collapse addScroll" aria-labelledby="headingcollapsePerformance"
					data-bs-parent="#filterAccordion">
					<div class="accordion-body">
						<ul> <!-- Start an unordered list -->
							Returns - This is by far the most common criteria used to compare mutual fund schemes. In most cases, prospective investors look at the 1 year, 3 years, and 5-year returns of different schemes to compare them.
							<li>Returns Compared to the Fund Benchmark - The second criteria which are most often used are how the fund has performed against its benchmark. All Mutual Funds are benchmarked to a particular index and this data shows how much more or less the fund has delivered compared to that index.</li>
							<li>Expense Ratio - The Expense Ratio is the annual percentage the fund house charges you for managing your money. There is a ceiling set by SEBI on how much AMCs can charge. AMCs can charge whatever they want as long as they don't cross the upper limit defined by the regulator.</li>
							<li>Risk Measures - There are 4-5 key risk measurement ratios that are used to compare mutual funds:
								<ul> <!-- Start a nested unordered list -->
									<li>Standard Deviation - It is the measure of fund volatility. The standard deviation shows how much the fund returns have moved up and down from their average in the past.</li>
									<li>Sharpe Ratio - This ratio shows how much extra returns are being generated for the additional risk being taken by the fund.</li>
									<li>Sortino - This ratio is a modification of the Sharpe Ratio that uses the downside deviation instead of the total standard deviation of the mutual fund. Sortino Ratio is used to determine the downside volatility risk of the mutual fund.</li>
									<li>Alpha - Alpha indicates the ability of a mutual fund to generate higher returns than its benchmark Index.</li>
									<li>Beta - Beta indicates the extra risk that a mutual fund is taking to generate returns that are higher than its benchmark Index.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
							<li>Portfolio Level Information - This can be divided into two types. Ones that give an overall view and ones that give a granular view:
								<ul> <!-- Start a nested unordered list -->
									<li>Allocation Across Market Caps - This section shows the Large Cap, Mid Cap and Small Cap allocation of the Equity Mutual Fund.</li>
									<li>Number of Securities - These are the number of securities that the mutual fund is holding according to the details published in the latest Factsheet.</li>
									<li>Average Maturity - This is only applicable to Debt investments and helps determine the interest rate sensitivity of a scheme. Average Maturity is the weighted average of how long it will take for all the bonds in a mutual fund portfolio to mature.</li>
									<li>Modified Duration - Modified Duration is also a measure of the interest rate sensitivity of a Debt Mutual Fund. It shows how much the price of a debt investment will be affected by a change in interest rates.</li>
									<li>Yield to Maturity (YTM) - The YTM data of a debt mutual fund indicates the potential returns that can be generated by the scheme. It also indicates the overall quality of Bonds and Money Market instruments included in the fund's portfolio.</li>
									<li>Portfolio Holdings - This section shows the sectors and companies the fund has invested.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
						</ul> <!-- End of unordered list -->
					</div>
				</div>
				<hr>
				<div class="accordion-button collapsed" (click)="toggleThirdAccodian()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReturn"
					aria-expanded="false" aria-controls="collapseReturn">
					<span class="iconHeading">The right way to compare equity mutual funds</span>
					<div class="iconImage">
						<img class="toggle-icon"
						[src]="isThirdAccordionExpanded ? './assets/images/comparefund/minus.png' : './assets/images/comparefund/plus.png'"
						alt="Toggle Icon">
					</div>
				</div>
				<div id="collapseReturn" class="accordion-collapse collapse addScroll" aria-labelledby="headingcollapseReturn"
					data-bs-parent="#filterAccordion">
					<div class="accordion-body">
						<ul> <!-- Start an unordered list -->
							Returns - This is by far the most common criteria used to compare mutual fund schemes. In most cases, prospective investors look at the 1 year, 3 years, and 5-year returns of different schemes to compare them.
							<li>Returns Compared to the Fund Benchmark - The second criteria which are most often used are how the fund has performed against its benchmark. All Mutual Funds are benchmarked to a particular index and this data shows how much more or less the fund has delivered compared to that index.</li>
							<li>Expense Ratio - The Expense Ratio is the annual percentage the fund house charges you for managing your money. There is a ceiling set by SEBI on how much AMCs can charge. AMCs can charge whatever they want as long as they don't cross the upper limit defined by the regulator.</li>
							<li>Risk Measures - There are 4-5 key risk measurement ratios that are used to compare mutual funds:
								<ul> <!-- Start a nested unordered list -->
									<li>Standard Deviation - It is the measure of fund volatility. The standard deviation shows how much the fund returns have moved up and down from their average in the past.</li>
									<li>Sharpe Ratio - This ratio shows how much extra returns are being generated for the additional risk being taken by the fund.</li>
									<li>Sortino - This ratio is a modification of the Sharpe Ratio that uses the downside deviation instead of the total standard deviation of the mutual fund. Sortino Ratio is used to determine the downside volatility risk of the mutual fund.</li>
									<li>Alpha - Alpha indicates the ability of a mutual fund to generate higher returns than its benchmark Index.</li>
									<li>Beta - Beta indicates the extra risk that a mutual fund is taking to generate returns that are higher than its benchmark Index.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
							<li>Portfolio Level Information - This can be divided into two types. Ones that give an overall view and ones that give a granular view:
								<ul> <!-- Start a nested unordered list -->
									<li>Allocation Across Market Caps - This section shows the Large Cap, Mid Cap and Small Cap allocation of the Equity Mutual Fund.</li>
									<li>Number of Securities - These are the number of securities that the mutual fund is holding according to the details published in the latest Factsheet.</li>
									<li>Average Maturity - This is only applicable to Debt investments and helps determine the interest rate sensitivity of a scheme. Average Maturity is the weighted average of how long it will take for all the bonds in a mutual fund portfolio to mature.</li>
									<li>Modified Duration - Modified Duration is also a measure of the interest rate sensitivity of a Debt Mutual Fund. It shows how much the price of a debt investment will be affected by a change in interest rates.</li>
									<li>Yield to Maturity (YTM) - The YTM data of a debt mutual fund indicates the potential returns that can be generated by the scheme. It also indicates the overall quality of Bonds and Money Market instruments included in the fund's portfolio.</li>
									<li>Portfolio Holdings - This section shows the sectors and companies the fund has invested.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
						</ul> <!-- End of unordered list -->
					</div>
				</div>
				<hr>
				<div class="accordion-button collapsed mb-3" (click)="toggleFourthAccodian()" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapseRiskmeasures" aria-expanded="false" aria-controls="collapseRiskmeasures">
					<span class="iconHeading">Comparing debt mutual funds: additional criteria</span>
					<div class="iconImage">
						<img class="toggle-icon"
						[src]="isFourthAccordionExpanded ? './assets/images/comparefund/minus.png' : './assets/images/comparefund/plus.png'"
						alt="Toggle Icon">
					</div>
				</div>
				<div id="collapseRiskmeasures" class="accordion-collapse collapse addScroll" aria-labelledby="headingcollapseRiskmeasures"
					data-bs-parent="#filterAccordion">
					<div class="accordion-body">
						<ul> <!-- Start an unordered list -->
							Returns - This is by far the most common criteria used to compare mutual fund schemes. In most cases, prospective investors look at the 1 year, 3 years, and 5-year returns of different schemes to compare them.
							<li>Returns Compared to the Fund Benchmark - The second criteria which are most often used are how the fund has performed against its benchmark. All Mutual Funds are benchmarked to a particular index and this data shows how much more or less the fund has delivered compared to that index.</li>
							<li>Expense Ratio - The Expense Ratio is the annual percentage the fund house charges you for managing your money. There is a ceiling set by SEBI on how much AMCs can charge. AMCs can charge whatever they want as long as they don't cross the upper limit defined by the regulator.</li>
							<li>Risk Measures - There are 4-5 key risk measurement ratios that are used to compare mutual funds:
								<ul> <!-- Start a nested unordered list -->
									<li>Standard Deviation - It is the measure of fund volatility. The standard deviation shows how much the fund returns have moved up and down from their average in the past.</li>
									<li>Sharpe Ratio - This ratio shows how much extra returns are being generated for the additional risk being taken by the fund.</li>
									<li>Sortino - This ratio is a modification of the Sharpe Ratio that uses the downside deviation instead of the total standard deviation of the mutual fund. Sortino Ratio is used to determine the downside volatility risk of the mutual fund.</li>
									<li>Alpha - Alpha indicates the ability of a mutual fund to generate higher returns than its benchmark Index.</li>
									<li>Beta - Beta indicates the extra risk that a mutual fund is taking to generate returns that are higher than its benchmark Index.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
							<li>Portfolio Level Information - This can be divided into two types. Ones that give an overall view and ones that give a granular view:
								<ul> <!-- Start a nested unordered list -->
									<li>Allocation Across Market Caps - This section shows the Large Cap, Mid Cap and Small Cap allocation of the Equity Mutual Fund.</li>
									<li>Number of Securities - These are the number of securities that the mutual fund is holding according to the details published in the latest Factsheet.</li>
									<li>Average Maturity - This is only applicable to Debt investments and helps determine the interest rate sensitivity of a scheme. Average Maturity is the weighted average of how long it will take for all the bonds in a mutual fund portfolio to mature.</li>
									<li>Modified Duration - Modified Duration is also a measure of the interest rate sensitivity of a Debt Mutual Fund. It shows how much the price of a debt investment will be affected by a change in interest rates.</li>
									<li>Yield to Maturity (YTM) - The YTM data of a debt mutual fund indicates the potential returns that can be generated by the scheme. It also indicates the overall quality of Bonds and Money Market instruments included in the fund's portfolio.</li>
									<li>Portfolio Holdings - This section shows the sectors and companies the fund has invested.</li>
								</ul> <!-- End of nested unordered list -->
							</li>
						</ul> <!-- End of unordered list -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>