<!-- start section fund accordion -->
<div class="FT-calculator-accordion p-0">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <img src="assets/images/calculators/accordion-icon.svg">An investor education and awareness initiative by Franklin Templeton Mutual Fund

                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <strong>One-time KYC (Know Your Customer)</strong> : One-time KYC registration is mandatory to invest in
                                mutual funds. You can complete the same by submitting the following at any of our
                                branches or collection centres: a) Duly filled and signed Central-KYC application form.
                                b) Proof of Identity: Any document notified by the central government. c) Proof of
                                Address: Same as identity proof (except PAN). d) Recent Passport Size Photograph. Copies
                                of all documents submitted must be self-attested by the applicant and accompanied by
                                originals for verification. You may also avail our Online KYC Registration facility
                                while opening an online account with us, for more details please visit our website
                                <a href="#">www.franklintempletonindia.com.</a> In case you are KYC verified and want to update any
                                information, please submit a completed KYC details change form with the required
                                self-attested documents as proof to our nearest branch or collection centre

                            </li>
                            <li>
                                <strong>Details of SEBI registered Mutual Funds</strong>: Investors must deal/ invest only with SEBI
                                registered Mutual Funds. Details available on the SEBI website <a href="#">www.sebi.gov.in.</a>

                            </li>
                            <li>
                                <strong>Complaint Redressal</strong>: Investors can reach us on our toll-free helpline 1800 425 4255 OR
                                write to us at grievanceredressal@franklintempleton.com. For escalation, write to us at
                                headofcustomerservice@franklintempleton.com; president@franklintempleton.com or lodge
                                your grievance with SEBI through their SCORES (SEBI Complaint Redress System) Portal at
                                <a href="#">https://scores.gov.in</a>

                            </li>
                        </ul>
                        <div>
                            Mutual Fund investments are subject to market risks, read all scheme related documents
                            carefully.

                        </div>
                    </div>
                </div>
            </div>

        </div>
    
    </div>