<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Investor Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modify KYC Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-investor-services ">
        <div class="container">
            <div class="FT-title-medium text-bold text-blue mb-4 mb-lg-5">Modify KYC Details</div>
        </div>

        <app-kyc-stepper></app-kyc-stepper>
        <app-standpage></app-standpage>

    </section>
</div>