<section class="FT-distributor-features bg-light-blue">
    <div class="container">
        <div class="FT-title text-black text-start fontResize">What’s in it for you?</div>
        <div class="row g-3 g-lg-4">
            <div class="col-lg-3 col-sm-6  col-12">
                <div class="feature-box">
                    <img src="assets/images/distributor/Coins.svg" class="mb-3">
                    <div class="text-big text-bold mb-3 fontResize">Low Intial Investment </div>
                    <div class="fontResize">
                        MF Distribution Business can be setup at a very low cost.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  col-12">
                <div class="feature-box">
                    <img src="assets/images/distributor/Laptop-blue.svg" class="mb-3">
                    <div class="text-big text-bold mb-3 fontResize">Digitization of Business</div>
                    <div class="fontResize">
                        Work From Anywhere. App and Web Portal help you perform your business work digitally.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  col-12">
                <div class="feature-box">
                    <img src="assets/images/distributor/Chart-blue.svg" class="mb-3">
                    <div class="text-big text-bold mb-3 fontResize">Growth in Mutual Fund Industry </div>
                    <div class="fontResize">MF is being adopted by New Investors each day allowing tremendous growth in MF Industry.</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  col-12">
                <div class="feature-box">
                    <img src="assets/images/distributor/HandCoins.svg" class="mb-3">
                    <div class="text-big text-bold mb-3 fontResize">Unlimited Income Opportunity</div>
                    <div class="fontResize">There is no limit to earning potential as brokerage structure is well defined.</div>
                </div>
            </div>
        </div>
    </div>
</section>