<section class="FT-knowledge">
    <div class="container">
        <!-- start categories box -->
        <div class="knowledge-box categories inner-categories" id="Learning">

            <!-- start categories dropdown -->
            <div class="category-dropdown mb-5">
                <div class="dropdown">
                    <!-- <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category 00 <img src="assets/images/knowledge-center/arrowdown.svg">
                    </button> -->
                    <button class="btn dropdown-toggle" type="button" (click)="toggleDropdown()">
                        Category 00 <img src="assets/images/knowledge-center/arrowdown.svg">
                    </button>

                    <div *ngIf="isDropdownOpen">
                        <app-knowledge-center-modal></app-knowledge-center-modal>
                    </div>

                    <!-- <div class="dropdown-menu show" *ngIf="isDropdownOpen">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Open Learning</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Franklin Templeton
                                    Academy</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Market Insights</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <div class="mb-4">
                                    <h3>Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check1"
                                                checked>
                                            <label class="form-check-label" for="check1">
                                                Mutual Funds
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check2">
                                            <label class="form-check-label" for="check2">
                                                Women & Investing
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check3">
                                            <label class="form-check-label" for="check3">
                                                Child’s future
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check4">
                                            <label class="form-check-label" for="check4">
                                                Retirement planning
                                            </label>
                                        </div>
                                   
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check5">
                                            <label class="form-check-label" for="check5">
                                                Category 1
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="E-Booklest">
                                            <label class="form-check-label" for="E-Booklest">
                                                E-Booklest
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check6">
                                            <label class="form-check-label" for="check6">
                                                Blog
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check7">
                                            <label class="form-check-label" for="check7">
                                                Podcast
                                            </label>
                                        </div>
                                    
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check8">
                                            <label class="form-check-label" for="check8">
                                                Frankly Speaking
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="Investment-Glossary">
                                            <label class="form-check-label" for="Investment-Glossary">
                                                Investment Glossary
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h3>Sub Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check9">
                                            <label class="form-check-label" for="check9">
                                                Most Viewed
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check10">
                                            <label class="form-check-label" for="check10">
                                                Top Rated
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check11">
                                            <label class="form-check-label" for="check11">
                                                Trending
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check12">
                                            <label class="form-check-label" for="check12">
                                                Content of the week
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                                <div class="mb-4">
                                    <h3>Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="about_Us"
                                                checked>
                                            <label class="form-check-label" for="about_Us">
                                                About us
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="explore_Courses">
                                            <label class="form-check-label" for="explore_Courses">
                                                Explore Courses
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="join_For_Free">
                                            <label class="form-check-label" for="join_For_Free">
                                                Join For Free
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                                <div class="mb-4">
                                    <h3>Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="blogs"
                                                checked>
                                            <label class="form-check-label" for="blogs">
                                                Blogs
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="latest_Commentaries">
                                            <label class="form-check-label" for="latest_Commentaries">
                                                Latest Commentaries 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->

                    <!-- <div class="dropdown-menu">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Open Learning</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Franklin Templeton
                                    Academy</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Market Insights</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <div class="mb-4">
                                    <h3>Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check1"
                                                checked>
                                            <label class="form-check-label" for="check1">
                                                Mutual Funds
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check2">
                                            <label class="form-check-label" for="check2">
                                                Women & Investing
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check3">
                                            <label class="form-check-label" for="check3">
                                                Child’s future
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check4">
                                            <label class="form-check-label" for="check4">
                                                Retirement planning
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check5">
                                            <label class="form-check-label" for="check5">
                                                New to investing
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check6">
                                            <label class="form-check-label" for="check6">
                                                Blog
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check7">
                                            <label class="form-check-label" for="check7">
                                                Podcast
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check8">
                                            <label class="form-check-label" for="check8">
                                                Presentation
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h3>Sub Categories</h3>
                                    <div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check9">
                                            <label class="form-check-label" for="check9">
                                                Most Viewed
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check10">
                                            <label class="form-check-label" for="check10">
                                                Top Rated
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check11">
                                            <label class="form-check-label" for="check11">
                                                Trending
                                            </label>
                                        </div>
                                        <div class="form-check custom-check">
                                            <input class="form-check-input" type="checkbox" value="" id="check12">
                                            <label class="form-check-label" for="check12">
                                                Content of the week
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- start categories filter block -->
            <div class="filter-block pt-md-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="filter-options mt-0 mb-4">
                            <div class="form-group ">
                                <input type="text" class="form-control search" placeholder="Search articles, videos, blogs, podcasts, & e-books..." [(ngModel)]="searchTerm"
                                (input)="filterFunds(searchTerm)">
                                <div class="search-result">
                                  <div class="inner">
                                      <ng-container *ngFor="let fund of fundsForSearch">
                                          <div class="funds-seach-title fund-resize" (click)="getTableTitle(fund)">
                                             {{ fund.title }}
                                              <span class="sub"><span class="text-gray">Fund Size</span> - {{ fund.aum }}</span>
                                              <span class="sub"><span class="text-gray">Unique Investors</span> - {{ fund.investors }}</span>
                                          </div>
                                      </ng-container>
                                  </div>
                              </div>
                            </div>
                            <div>
                              <img src="./assets/images/comparefund/closebutton.svg" class="make-tag-for-all-page d-md-none dropdown-content" (click)="resetFundExplore()">
                                 <img src="./assets/images/comparefund/closebutton.svg" class="make-tag-for-all-page d-none d-md-block dropdown-content-head" (click)="resetFundExplore()" >
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sort
                            </button>
                            <ul class="dropdown-menu">
                                <!-- <li><a class="dropdown-item" href="#">Likes</a></li> -->
                                <li><a class="dropdown-item" href="#">Date</a></li>
                                <!-- <li><a class="dropdown-item" href="#">Views</a></li> -->
                                <li><a class="dropdown-item" href="#">Read Time</a></li>
                            </ul>
                        </div>
                        <!-- <div class="togglefilter">
                            <button class="btn btn-white toggle-filter" (click)="toggleFilterBox()">
                                <i class="bi bi-filter me-2"></i>Filters
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="row d-none mt-2">
                        <div class="dropdown me-3">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort
                            </button>
                            <ul class="dropdown-menu">
                                <!-- <li><a class="dropdown-item" href="#">Likes</a></li> -->
                                <li><a class="dropdown-item" href="#">Date</a></li>
                                <!-- <li><a class="dropdown-item" href="#">Views</a></li> -->
                                <li><a class="dropdown-item" href="#">Read Time</a></li>
                            </ul>
                        </div>          
                </div> 
                <!-- <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="form-group">
                            <input type="text" placeholder="Search" class="form-control search">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown me-3 d-none d-sm-inline-block">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Sort
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Likes</a></li>
                                <li><a class="dropdown-item" href="#">Date</a></li>
                                <li><a class="dropdown-item" href="#">Views</a></li>
                                <li><a class="dropdown-item" href="#">Read Time</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-white toggle-filter">
                            <img src="assets/images/fund/sort.svg" class="me-2">Filters
                        </button>
                    </div>
                </div> -->
            </div>

            <!-- start selected category btn -->
            <div class="category-btns">
                <ul>
                    <li [class.active]="selectedCategory === 'All'" (click)="selectCategory('All')" class="me-3" >All</li>
                    <li [class.active]="selectedCategory === 'term_Busters'" (click)="selectCategory('term_Busters')" class="me-3">Term Busters</li>
                    <li [class.active]="selectedCategory === 'Videos'" (click)="selectCategory('Videos')" class="me-3">Videos</li>
                    <li [class.active]="selectedCategory === 'Articles'" (click)="selectCategory('Articles')" class="me-3">Articles</li>
                </ul>
            </div>

            <!-- <div class="row gx-md-4 gx-3">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-md-4 gx-3 mt-5">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-card">
                        <div class="card-img">
                            <img src="assets/images/knowledge-center/category1.png">
                            <span class="time-tag">4 mins read</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div><i class="bi bi-eye-fill me-1"></i>1K </div>
                                <div class="card-icons">
                                    <span class="me-3"><i class="bi bi-heart me-1"></i>300</span>
                                    <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                    <span><i class="bi bi-reply"></i></span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row gx-md-4 gx-3">
                <div class="col-lg-3 col-md-4 col-12 mt-2" *ngFor="let card of getData; let i = index">
                    <div class="category-card">
                        <div class="card-img" [routerLink]="card['redirect-url']">
                            <img [src]="card['img-src']">
                            <!-- <span class="time-tag">{{ card['time-tag'] }}</span> -->
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <!-- <div><i class="bi bi-eye-fill me-1"></i>{{ card.views }} </div> -->
                            <span class="time-tag">{{ card['time-tag'] }}</span>

                                <div class="card-icons">
                                    <!-- <span class="img-with-tooltip me-3" (click)="toggleIconForWishlist(i)" type="button">
                                        <!-- <i class="bi bi-heart me-1"></i> -->
                                        <!-- <i [ngStyle]="{'display': showIconForWishlist[i] ? 'inline' : 'none'}" class="bi bi-heart me-1"></i>
                                        <i *ngIf="!showIconForWishlist[i]" class="bi bi-heart-fill me-1"></i>
                                        <span [ngStyle]="{'display': showIconForWishlist[i] ? 'inline' : 'none'}" class="tooltip-block">Like</span>
                                        <span *ngIf="!showIconForWishlist[i]" class="tooltip-block">Unlike</span> -->
                                        <!-- <img *ngIf="!showIconForWishlist[i]" src="assets/images/knowledge-center/HeartStraight.svg" class="me-1" s tyle="margin-bottom: 2px; height: 20px; width: 20px;"> -->
                                        <!-- {{ card.likes }} -->
                                    <!-- </span> -->
                                    <span class="img-with-tooltip me-3" (click)="toggleIconForWatchlist(i)" type="button">
                                        <!-- <i class="bi bi-bookmark"></i> -->
                                        <i [ngStyle]="{'display': showIconForWatchlist[i] ? 'inline' : 'none'}" class="bi bi-bookmark"></i>
                                        <i *ngIf="!showIconForWatchlist[i]" class="bi bi-bookmark-fill"></i>
                                        <span [ngStyle]="{'display': showIconForWatchlist[i] ? 'inline' : 'none'}" class="tooltip-block">Save</span>
                                        <span *ngIf="!showIconForWatchlist[i]" class="tooltip-block">Saved Course</span>
                                        <!-- <img *ngIf="!showIconForWatchlist[i]" src="assets/images/knowledge-center/Variant3.svg" class="me-1" styl e="margin-bottom: 1px; height: 17px; width: 17px;"> -->
                                    </span>
                                    <!-- <span><i class="bi bi-reply"></i></span> -->
                                    <span class="dropdown">
                                        <!-- <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/knowledge-center/share.svg" st yle="height: 17px;">
                                        </span> -->
                                        <span class="img-with-tooltip" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/knowledge-center/share.svg"  (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="d-inline-block mobile-icons light-mode-icon share-menu-twitter" >
                                            <img src="../../../../../../assets/images/dark/share-dark-icon.png" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" (click)="toggleTooltip()" class="mobile-icons dark-mode-icon share-btn-collapse" >    
                                            <span *ngIf="showTooltip" class="tooltip-block">share</span>
                                        </span>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item"><img class="share-icon" src="assets/images/general/Link.svg">Copy link</span></li>
                                            <li><a class="dropdown-item fontResize" href="#"><img class="share-icon3 share-menu-twitter-btn" src="../../../../../assets/images/general/twitter-new-logo-removebg-preview.png">Share on Twitter</a></li>
                                            <li><a class="dropdown-item" href="#"><img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook</a></li>
                                            <li><a class="dropdown-item" href="#"><img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn</a></li>
                                            <li><a class="dropdown-item" href="#"><img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp</a></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="text-bold card-title mt-3 forlikecardtitle">{{ card['card-title'] }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5" >
                <button class="btn btn-white" >Load more</button>
            </div>
          

            <!-- <div class="boxes-row">
                <div class="category-card big-card mb-3 ">
                    <div class="card-img">
                        <img src="assets/images/knowledge-center/category2.png">
                        <a href="#" class="video-btn"><img src="assets/images/knowledge-center/video-icon.svg"></a>
                        <span class="time-tag">11.21</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-3"><i class="bi bi-eye-fill me-1"></i>1K </div>
                            <div class="card-icons">
                                <span class="me-3"><i class="bi bi-heart "></i></span>
                                <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                <span><i class="bi bi-reply"></i></span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        <div class="short-descriptiton mt-3 mt-3">
                            Sangeeta’s dream was to fly high. She pursued a career in a fiercely competitive industry to
                            make a name for herself. With the support of her parents she overcame everything that got in
                            her
                            way. How does she apply her career insights in life? Tune in to hear her story.
                        </div>
                    </div>
                </div>
                <div class="category-card big-card mb-3">
                    <div class="card-img">
                        <img src="assets/images/knowledge-center/category2.png">
                        <a href="#" class="video-btn"><img src="assets/images/knowledge-center/video-icon.svg"></a>
                        <span class="time-tag">11.21</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-3"><i class="bi bi-eye-fill me-1"></i>1K </div>
                            <div class="card-icons">
                                <span class="me-3"><i class="bi bi-heart "></i></span>
                                <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                <span><i class="bi bi-reply"></i></span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        <div class="short-descriptiton mt-3 mt-3">
                            Sangeeta’s dream was to fly high. She pursued a career in a fiercely competitive industry to
                            make a name for herself. With the support of her parents she overcame everything that got in
                            her
                            way. How does she apply her career insights in life? Tune in to hear her story.
                        </div>
                    </div>
                </div>
                <div class="category-card big-card mb-3">
                    <div class="card-img">
                        <img src="assets/images/knowledge-center/category2.png">
                        <a href="#" class="video-btn"><img src="assets/images/knowledge-center/video-icon.svg"></a>
                        <span class="time-tag">11.21</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-3"><i class="bi bi-eye-fill me-1"></i>1K </div>
                            <div class="card-icons">
                                <span class="me-3"><i class="bi bi-heart "></i></span>
                                <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                <span><i class="bi bi-reply"></i></span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        <div class="short-descriptiton mt-3 mt-3">
                            Sangeeta’s dream was to fly high. She pursued a career in a fiercely competitive industry to
                            make a name for herself. With the support of her parents she overcame everything that got in
                            her
                            way. How does she apply her career insights in life? Tune in to hear her story.
                        </div>
                    </div>
                </div>
                <div class="category-card big-card mb-3">
                    <div class="card-img">
                        <img src="assets/images/knowledge-center/category2.png">
                        <a href="#" class="video-btn"><img src="assets/images/knowledge-center/video-icon.svg"></a>
                        <span class="time-tag">11.21</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-3"><i class="bi bi-eye-fill me-1"></i>1K </div>
                            <div class="card-icons">
                                <span class="me-3"><i class="bi bi-heart "></i></span>
                                <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                <span><i class="bi bi-reply"></i></span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        <div class="short-descriptiton mt-3 mt-3">
                            Sangeeta’s dream was to fly high. She pursued a career in a fiercely competitive industry to
                            make a name for herself. With the support of her parents she overcame everything that got in
                            her
                            way. How does she apply her career insights in life? Tune in to hear her story.
                        </div>
                    </div>
                </div>
                <div class="category-card big-card mb-3">
                    <div class="card-img">
                        <img src="assets/images/knowledge-center/category2.png">
                        <a href="#" class="video-btn"><img src="assets/images/knowledge-center/video-icon.svg"></a>
                        <span class="time-tag">11.21</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-3"><i class="bi bi-eye-fill me-1"></i>1K </div>
                            <div class="card-icons">
                                <span class="me-3"><i class="bi bi-heart "></i></span>
                                <span class="me-3"><i class="bi bi-bookmark"></i></span>
                                <span><i class="bi bi-reply"></i></span>
                            </div>
                        </div>
                        <div class="text-bold card-title mt-3">How to save tax with ELSS</div>
                        <div class="short-descriptiton mt-3 mt-3">
                            Sangeeta’s dream was to fly high. She pursued a career in a fiercely competitive industry to
                            make a name for herself. With the support of her parents she overcame everything that got in
                            her
                            way. How does she apply her career insights in life? Tune in to hear her story.
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- start category filter-->
        <div class="FT-general-filter" [ngClass]="toggleFilter ? 'show' : ''">
            <div class="filter-box">
                <div class="filter-content">
                    <h3>Filters</h3>
                    <div class="filter-options">
                        <div class="text-bold mb-3">Common Filters<img
                                src="assets/images/knowledge-center/info-icon.svg" class="d-lg-none ms-2"></div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Most viewed
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                5 min read
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Trending
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Content of the week
                            </label>
                        </div>
                    </div>
                    <div class="filter-options">
                        <div class="text-bold mb-3">Content <img src="assets/images/knowledge-center/info-icon.svg"
                                class="d-lg-none ms-2"></div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Video
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Article
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Presentation
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Blog
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Podcast
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                E-Booklet
                            </label>
                        </div>
                    </div>
                    <div class="filter-options">
                        <div class="text-bold mb-3">Categories <img src="assets/images/knowledge-center/info-icon.svg"
                                class="d-lg-none ms-2"></div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                New to Mutual Fund
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                New to Investing
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Women & Investing
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Blog
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Podcast
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                E-Booklet
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-footer">
                    <button class="btn btn-outline-primary" (click)="toggleFilterBox()">Cancel</button>
                    <button class="btn btn-primary">Apply</button>
                </div>
            </div>
        </div>
        <app-category-ad></app-category-ad>
        <app-category-faq></app-category-faq>
    </div>
</section>