<div class="d-flex justify-content-center distributor-step2 OTP-sent" >
    <div class="container reset-password">
        <div class="text-bold text-teal text-big">
            One Time Password (OTP) has been sent to registered email ID
        </div>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="row mb-3">

                    <div class="col-sm-12 col-12">

                        <p class="error-msg fontResize login-dark2 correct-email"> An OTP (One Time password) has been
                            sent
                            your registered e-mail ID a****j@franklinetemplton.com and mobile *****5002.</p>

                        <input type="password" class="form-control" placeholder="One Time Password*">

                        <span class="Resend-OTP"><a href="" class="login-dark2 mt-2">Resend OTP</a></span>
                 
                    </div>
                    
                    <!-- <div class="col-auto">
                        <button class="btn btn-outline-primary">Resend OTP</button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="mb-4">Note: Kindly note that this code will be valid for the next 20 minutes</div>
        </div>
   

        
        <!-- <div class="btn-options">
            <button type="button" class="btn btn-primary me-4" (click)="changeActiveStepper(2,true)" data-bs-toggle="collapse" data-bs-target="#collapse3"
            aria-expanded="false" aria-controls="collapse3">Next</button>
        </div> -->
        <div class="col-md-8 col-12">
            <button type="button" class="btn btn-primary" (click)="changeActiveStepper(1,true)"
            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
            aria-controls="collapse2">Next</button>
        </div>
    </div>
</div>

