<!-- start section knowledge tabs -->
<section class="FT-knowledge-tabs">
    <div class="container">
        <div class="FT-title-small text-medium">Where do you stand?</div>
        <div class="row">
            <div class="col-md-auto">
                <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"><img src="assets/images/knowledge-center/icon1.svg">Confused?</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false"><img src="assets/images/knowledge-center/icon2.svg">Plan your
                        goal</button>
                    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                        aria-selected="false"><img src="assets/images/knowledge-center/icon3.svg">Ready to
                        invest?</button>
                </div>
            </div>
            <div class="col-md">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="tab-form">
                            <h3 class="mb-4">Confused? Investing for the first time with us?</h3>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control forColorStandType" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control forColorStandType" placeholder="Enter your PAN">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control forColorStandType" placeholder="Enter your mobile number">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control forColorStandType" placeholder="Enter your Email ID">
                                </div>
                                <button class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <div class="plan-box">
                            <h3 class="d-flex align-items-center justify-content-between mb-4">Choose your plan<a
                                class="knowledge-center-CTA" href="#">
                                <span>View all</span><i class="bi bi-chevron-right"></i></a></h3>
                            <!--ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund1.png">
                                        </div>
                                        <a class="btn">Child’s Education</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund3.png">
                                        </div>
                                        <a class="btn">Retirement</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund2.png">
                                        </div>
                                        <a class="btn">Holiday</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund4.png">
                                        </div>
                                        <a class="btn">Cash Management</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund5.png">
                                        </div>
                                        <a class="btn">Dream Home</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund6.png">
                                        </div>
                                        <a class="btn">Wealth Creation</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund7.png">
                                        </div>
                                        <a class="btn">Tax Planning</a>
                                    </div>
                                </div>
                                <div ngxSlickItem class="slide">
                                    <div class="solution-box-new">
                                        <div class="img-hover-zoom">
                                            <img src="assets/images/home/fund8.png">
                                        </div>
                                        <a class="btn">Customize Plan</a>
                                    </div>
                                </div>
                            </ngx-slick-carousel-->
                            <h3 class="d-flex align-items-center justify-content-between mb-4">Plan your investment
                                journey<a class="knowledge-center-CTA" href="#">
                                    <span>View all</span><i class="bi bi-chevron-right"></i></a></h3>
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-sm-6 col-12 mb-3 mb-md-4">
                                    <div class="calc-box">
                                        <img src="assets/images/calculators/sip-icon.svg">
                                        <a href="#" class="btn btn-primary">SIP Calculator</a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-12 mb-3 mb-md-4">
                                    <div class="calc-box">
                                        <img src="assets/images/calculators/lump-icon.svg">
                                        <a href="#" class="btn btn-primary">Lumpsum Calculator</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mb-3 mb-md-4">
                                    <div class="calc-box">
                                        <img src="assets/images/calculators/top-up-icon.svg">
                                        <a href="#" class="btn btn-primary">SIP Top-Up Calculator</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                        aria-labelledby="v-pills-disabled-tab" tabindex="0">
                        <h3 class="d-flex align-items-center justify-content-between ">
                            <a class="knowledge-center-CTA" href="#">
                                <span>View all</span><i class="bi bi-chevron-right"></i></a>
                        </h3>
                        <div class="mb-4">You can look at our recommended funds</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card compareCardBox mb-4">
                                  
                                    <div class="fund-heading mb-3">
                                        <div class="d-flex justify-content-between gap-1 forLabelCard">
                                            <div>
                                                Franklin Build India Fund
                                            <span class="meterImage"><img src="./assets/images/comparefund/very-high.svg.png">
                                            </span>
                                            </div>
                                            <span><img src="./assets/images/comparefund/Frame 1000007566.png"></span>
                                        </div>
                                    </div>
                                    <div class="midCard mb-3">
                                        <div class="midCardValue">
                                                <span class="valueMidCard">3242 Cr </span>
                                                <span class="valuMidCardData">AUM</span>										
                                            <span class="lineImage"><img src="./assets/images/comparefund/Line 987.png"></span>
                                            <span class="valueMidCard ml-3 mr-3">11.05%</span>
                                            <span class="valuMidCardData ml-3 mr-3">Returns</span>
                                            <span class="lineImage"><img src="./assets/images/comparefund/Vector.png"></span>
                                        </div>
                                        <div class="midCardValue">
                                            <span class="totalInvesterUserImage"><img src="./assets/images/comparefund/Vectorcard.png"></span>
                                            <span class="totalExsitingInvestors mt-1">1.35 lakh</span>
                                            <span class="totalExsitingInvestors mt-1"> Existing investors</span>
                                        </div>
                                    </div>
                                    <div class="buttonCard">
                                        <div class="makeGap">
                                            <button type="button" class="btn btn-outline-primary customButtonFirst" >
                                                <img src="assets/images/comparefund/shopping-cart.png"></button>
                                            <button type="button" class="btn btn-primary customButtonSecond">Invest Now</button>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card compareCardBox mb-4">
                                  
                                    <div class="fund-heading mb-3">
                                        <div class="d-flex justify-content-between gap-1 forLabelCard">
                                            <div>
                                                Franklin Build India Fund
                                            <span class="meterImage"><img src="./assets/images/comparefund/very-high.svg.png">
                                            </span>
                                            </div>
                                            <span><img src="./assets/images/comparefund/Frame 1000007566.png"></span>
                                        </div>
                                    </div>
                                    <div class="midCard mb-3">
                                        <div class="midCardValue">
                                                <span class="valueMidCard">3242 Cr </span>
                                                <span class="valuMidCardData">AUM</span>										
                                            <span class="lineImage"><img src="./assets/images/comparefund/Line 987.png"></span>
                                            <span class="valueMidCard ml-3 mr-3">11.05%</span>
                                            <span class="valuMidCardData ml-3 mr-3">Returns</span>
                                            <span class="lineImage"><img src="./assets/images/comparefund/Vector.png"></span>
                                        </div>
                                        <div class="midCardValue">
                                            <span class="totalInvesterUserImage"><img src="./assets/images/comparefund/Vectorcard.png"></span>
                                            <span class="totalExsitingInvestors mt-1">1.35 lakh</span>
                                            <span class="totalExsitingInvestors mt-1"> Existing investors</span>
                                        </div>
                                    </div>
                                    <div class="buttonCard">
                                        <div class="makeGap">
                                            <button type="button" class="btn btn-outline-primary customButtonFirst" >
                                                <img src="assets/images/comparefund/shopping-cart.png"></button>
                                            <button type="button" class="btn btn-primary customButtonSecond">Invest Now</button>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card compareCardBox mb-4">
                                  
                                    <div class="fund-heading mb-3">
                                        <div class="d-flex justify-content-between gap-1 forLabelCard">
                                            <div>
                                                Franklin Build India Fund
                                            <span class="meterImage"><img src="./assets/images/comparefund/very-high.svg.png">
                                            </span>
                                            </div>
                                            <span><img src="./assets/images/comparefund/Frame 1000007566.png"></span>
                                        </div>
                                    </div>
                                    <div class="midCard mb-3">
                                        <div class="midCardValue">
                                                <span class="valueMidCard">3242 Cr </span>
                                                <span class="valuMidCardData">AUM</span>										
                                            <span class="lineImage"><img src="./assets/images/comparefund/Line 987.png"></span>
                                            <span class="valueMidCard ml-3 mr-3">11.05%</span>
                                            <span class="valuMidCardData ml-3 mr-3">Returns</span>
                                            <span class="lineImage"><img src="./assets/images/comparefund/Vector.png"></span>
                                        </div>
                                        <div class="midCardValue">
                                            <span class="totalInvesterUserImage"><img src="./assets/images/comparefund/Vectorcard.png"></span>
                                            <span class="totalExsitingInvestors mt-1">1.35 lakh</span>
                                            <span class="totalExsitingInvestors mt-1"> Existing investors</span>
                                        </div>
                                    </div>
                                    <div class="buttonCard">
                                        <div class="makeGap">
                                            <button type="button" class="btn btn-outline-primary customButtonFirst" >
                                                <img src="assets/images/comparefund/shopping-cart.png"></button>
                                            <button type="button" class="btn btn-primary customButtonSecond">Invest Now</button>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card compareCardBox mb-4">
                                  
                                    <div class="fund-heading mb-3">
                                        <div class="d-flex justify-content-between gap-1 forLabelCard">
                                            <div>
                                                Franklin Build India Fund
                                            <span class="meterImage"><img src="./assets/images/comparefund/very-high.svg.png">
                                            </span>
                                            </div>
                                            <span><img src="./assets/images/comparefund/Frame 1000007566.png"></span>
                                        </div>
                                    </div>
                                    <div class="midCard mb-3">
                                        <div class="midCardValue">
                                                <span class="valueMidCard">3242 Cr </span>
                                                <span class="valuMidCardData">AUM</span>										
                                            <span class="lineImage"><img src="./assets/images/comparefund/Line 987.png"></span>
                                            <span class="valueMidCard ml-3 mr-3">11.05%</span>
                                            <span class="valuMidCardData ml-3 mr-3">Returns</span>
                                            <span class="lineImage"><img src="./assets/images/comparefund/Vector.png"></span>
                                        </div>
                                        <div class="midCardValue">
                                            <span class="totalInvesterUserImage"><img src="./assets/images/comparefund/Vectorcard.png"></span>
                                            <span class="totalExsitingInvestors mt-1">1.35 lakh</span>
                                            <span class="totalExsitingInvestors mt-1"> Existing investors</span>
                                        </div>
                                    </div>
                                    <div class="buttonCard">
                                        <div class="makeGap">
                                            <button type="button" class="btn btn-outline-primary customButtonFirst" >
                                                <img src="assets/images/comparefund/shopping-cart.png"></button>
                                            <button type="button" class="btn btn-primary customButtonSecond">Invest Now</button>
    
                                        </div>
    
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>