<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-empanel">
        <div class="container">
            <div class="empanel-back-icon d-md-none d-block">
                <i class="bi bi-arrow-left fs-3"></i>
            </div>
            <app-link-expired></app-link-expired>
        </div>
    </section>
    
</div>

