.FT-stepper-content {
	padding-bottom: 70px;
	background-image: url("../../../../assets/images/general/bg.png");
}
.back-arrow {
	display: none;
	padding-top: 4px;
	& > a{
		padding: 24px;
	}
}
.scroll-down {
	background-color: white;
	position: fixed;
	top: 8px;
	left: 0;
	padding: 5px;
	width: 100%;
	z-index: 100;
}

@media(max-width:500.98px) {
	.FT-breadcrumb {
		display: none;
	}
	.back-arrow {
		display: block;
		& > a{
			padding: 12px;
		}
	}
	.FT-stepper-content{
		padding-bottom: 0px;
	}
	#page-content {
           padding-top: 40px;
	}
}