<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Knowledge Centre</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Most Viewed Articles</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="FT-glossary">
        <div class="container">
            <div class="FT-title-medium text-blue">Investment Glossary</div>
            <div class="row">
                <div class="col-md-auto">
                    <div class="filter-box">
                        <div class="filter-head">Filters</div>
                        <div class="filter-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="letters" id="all" checked>
                                <label class="form-check-label" for="all">
                                    All
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter1">
                                <label class="form-check-label" for="letter1">
                                    A
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter2">
                                <label class="form-check-label" for="letter2">
                                    B
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter3">
                                <label class="form-check-label" for="letter3">
                                    C
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter4">
                                <label class="form-check-label" for="letter4">
                                    D
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter5">
                                <label class="form-check-label" for="letter5">
                                    E
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter6">
                                <label class="form-check-label" for="letter6">
                                    F
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter7">
                                <label class="form-check-label" for="letter7">
                                    G
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter8">
                                <label class="form-check-label" for="letter8">
                                    H
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter9">
                                <label class="form-check-label" for="letter9">
                                    I
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter10">
                                <label class="form-check-label" for="letter10">
                                    J
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter11">
                                <label class="form-check-label" for="letter11">
                                    K
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter12">
                                <label class="form-check-label" for="letter12">
                                    L
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter13">
                                <label class="form-check-label" for="letter13">
                                    M
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter14">
                                <label class="form-check-label" for="letter14">
                                    N
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter15">
                                <label class="form-check-label" for="letter15">
                                    O
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter16">
                                <label class="form-check-label" for="letter16">
                                    P
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter17">
                                <label class="form-check-label" for="letter17">
                                    Q
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter18">
                                <label class="form-check-label" for="letter18">
                                    R
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter19">
                                <label class="form-check-label" for="letter19">
                                    S
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter20">
                                <label class="form-check-label" for="letter20">
                                    T
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter21">
                                <label class="form-check-label" for="letter21">
                                    U
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter22">
                                <label class="form-check-label" for="letter22">
                                    V
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter23">
                                <label class="form-check-label" for="letter23">
                                    W
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter24">
                                <label class="form-check-label" for="letter24">
                                    X
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter25">
                                <label class="form-check-label" for="letter25">
                                    Y
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="letters" id="letter26">
                                <label class="form-check-label" for="letter26">
                                    Z
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="d-flex align-items-center justify-content-between mb-40">
                        <div class="form-group search-group">
                            <div class="filter-options mt-0 mb-4">
                                <div class="form-group ">
                                    <input type="text" class="form-control search" placeholder="Search Mutual Fund" [(ngModel)]="searchTerm"
                                    (input)="filterFunds(searchTerm)">
                                    <div class="search-result">
                                      <div class="inner">
                                          <ng-container *ngFor="let fund of fundsForSearch">
                                              <div class="funds-seach-title fund-AUM" (click)="getTableTitle(fund)" >
                                                 {{ fund.title }}
                                                  <span class="sub"><span class="text-gray">Fund Size</span> - {{ fund.aum }}</span>
                                                  <span class="sub"><span class="text-gray">Unique Investors</span> - {{ fund.investors }}</span>
                                              </div>
                                          </ng-container>
                                      </div>
                                  </div>
                                </div>
                                <div>
                                  <img src="./assets/images/comparefund/closebutton.svg" class="make-tag-for-all-page share showIconForWatchlist" (click)="resetFundExplore()" >
                                </div>
                              </div>
                        </div>
                        <button class="btn btn-white toggle-filter d-md-none">
                            <img  src="assets/images/fund/sort.svg" class="me-2">Filters 
                        </button>
                    </div>
                    <div class="glossary-box">
                        <div>
                            <div class="letter-title mb-4">A.</div>
                            <div class="mb-40">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="text-bold">Absolute Returns</div>
                                    <div class="dropdown share-menu">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/general/share-icon.svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item">
                                                    <img src="assets/images/general/Link.svg">Copy link
                                                </span></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/TwitterLogo.svg">Share
                                                    on Twitter</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/FacebookLogo.svg">Share
                                                    on Facebook</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/LinkedinLogo.svg">Share
                                                    on LinkedIn</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/whatsapps.png">Share
                                                    on WhatsApp</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    There are 2 ways in which returns are depicted- Absolute and annualised. Generally, returns for a less than one year period are shown as absolute returns while returns for a period greater than one year are shown as annualised returns or 
                                    per annum returns.
                                </div>
                            </div>
                            <div class="mb-40">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="text-bold">Account Statement</div>
                                    <div class="dropdown share-menu">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/general/share-icon.svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item">
                                                    <img src="assets/images/general/Link.svg">Copy link
                                                </span></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/TwitterLogo.svg">Share
                                                    on Twitter</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/FacebookLogo.svg">Share
                                                    on Facebook</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/LinkedinLogo.svg">Share
                                                    on LinkedIn</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/whatsapps.png">Share
                                                    on WhatsApp</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    A mutual fund account statement is a document similar to a bank account statement that indicates the mutual fund units owned by an investor, the cost and current value of the units (in Rs.). One can receive an account at any frequency at any time by email and monthly if it is physical.
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="letter-title">B.</div>
                            <div class="mb-40">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="text-bold">Balanced Fund</div>
                                    <div class="dropdown share-menu">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/general/share-icon.svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item">
                                                    <img src="assets/images/general/Link.svg">Copy link
                                                </span></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/TwitterLogo.svg">Share
                                                    on Twitter</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/FacebookLogo.svg">Share
                                                    on Facebook</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/LinkedinLogo.svg">Share
                                                    on LinkedIn</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/whatsapps.png">Share
                                                    on WhatsApp</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    A mutual fund scheme with an investment objective of both long-term growth and income, through investment in stocks and bonds. Generally 65% is invested in stocks and 35% in bonds, in order to provide access to relative stability of fixed income securities and the growth potential of equities.
                                </div>
                            </div>
                            <div class="mb-40">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div class="text-bold">Basis Point</div>
                                    <div class="dropdown share-menu">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="assets/images/general/share-icon.svg">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><span class="dropdown-item">
                                                    <img src="assets/images/general/Link.svg">Copy link
                                                </span></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/TwitterLogo.svg">Share
                                                    on Twitter</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/FacebookLogo.svg">Share
                                                    on Facebook</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/LinkedinLogo.svg">Share
                                                    on LinkedIn</a></li>
                                            <li><a class="dropdown-item" href="#"><img
                                                        src="assets/images/general/whatsapps.png">Share
                                                    on WhatsApp</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    It is the smallest measure used in quoting yields on fixed income securities. One basis point is one percent of one percent, or one hundredth of a percentage point or 0.01%.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>