<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Servicing Forms</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages forms-download faq">
        <div class="container">
            <div class="mobile-view fw-bold">
                <!-- Content visible on mobile only -->
                <i class="bi bi-arrow-left mt-4"></i>
            </div>
            <div class="FT-title-medium text-bold text-blue mb-3">Help</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                aliquet odio mattis. Class aptent taciti dolor sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </div>
            <div class="bg-md-white mt-lg-5 mt-4">
                <div class="row">
                    <div class="col-md-auto d-none d-md-block">
                        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link" id="v-pills-tab1-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab1" type="button" role="tab" aria-controls="v-pills-tab1"
                                aria-selected="false">Open an Account</button>
                            <button class="nav-link" id="v-pills-tab2-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab2" type="button" role="tab" aria-controls="v-pills-tab2"
                                aria-selected="false">PDFs</button>
                            <button class="nav-link" id="v-pills-tab3-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab3" type="button" role="tab" aria-controls="v-pills-tab3"
                                aria-selected="false">Browser Settings</button>
                            <button class="nav-link" id="v-pills-tab4-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab4" type="button" role="tab" aria-controls="v-pills-tab4"
                                aria-selected="false">Cookies</button>
                            <button class="nav-link" id="v-pills-tab5-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab5" type="button" role="tab" aria-controls="v-pills-tab5"
                                aria-selected="false">Sitemap </button>
                            <button class="nav-link" id="v-pills-tab6-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab6" type="button" role="tab" aria-controls="v-pills-tab6"
                                aria-selected="false">Do’s and Dont’s</button>
                            <button class="nav-link active" id="v-pills-tab7-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab7" type="button" role="tab" aria-controls="v-pills-tab7"
                                aria-selected="true">FAQs</button>
                        </div>
                    </div>
                    <div class="col-md col-12">

                        <div class="text-big text-bold mb-3">FAQs</div>
                        <div class="accordion inner-accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Online Account Related
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="mb-3">
                                            <div class="text-bold mb-3">1) What is Investor Online Access?</div>
                                            Investor online access is a secure online transaction facility offered on
                                            our
                                            website <a href="#">www.franklintempletonindia.com</a> whereby investors can
                                            login with their username and password, view portfolio and transact online.
                                        </div>
                                        <div class="text-bold mb-3">2) What are the features available through Online
                                            Access?</div>
                                        <ul>
                                            <li>View portfolio</li>
                                            <li>Purchase</li>
                                            <li>Redemption</li>
                                            <li>Switch</li>
                                            <li>Start systematic transactions – STP, SIP, SWP DTP</li>
                                            <li>View / download account statement</li>
                                            <li>Change contact details and dividend option</li>
                                            <li>Subscribe to our services</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to transact with us?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        KYC
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        FATCA
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>