@media (max-width: 991.98px) {
    .step3-ac-type {
        font-size: 0.688rem !important;
    }
}

.date-group {
    width: -webkit-fill-available !important;
}

.bookmark-fund{
    margin-left: 4px;
}
.light-info{
    width: 18px;
}
.dark-mobile-fund{
    width: 14px;
}