<section class="FT-quick-links">
    <div class="container">
        <div class="FT-title text-black text-start fontResize">Access without login</div>
        <div class="row">
            <div class="col-lg col-md-4 col-6">
                <a class="quick-links-box">
                    <img src="assets/images/distributor/Chart-blue.svg">
                    <div class="text-big text-bold fontResize">Factsheets</div>
                </a>
            </div>
            <div class="col-lg col-md-4 col-6">
                <a class="quick-links-box">
                    <img src="assets/images/distributor/Calculator.svg">
                    <div class="text-big text-bold fontResize">Calculators</div>
                </a>
            </div>
            <div class="col-lg col-md-4 col-6">
                <a class="quick-links-box">
                    <img src="assets/images/distributor/Robot.svg">
                    <div class="text-big text-bold fontResize">Bot</div>
                </a>
            </div>
            <div class="col-lg col-md-4 col-6  d-none d-lg-block">
                <a class="quick-links-box">
                    <img src="assets/images/distributor/HandCoins.svg">
                    <div class="text-big text-bold fontResize">Lorem ipsum</div>
                </a>
            </div>
            <div class="col-lg col-md-4 col-6 d-none d-lg-block">
                <a class="quick-links-box">
                    <img src="assets/images/distributor/Chart-blue.svg">
                    <div class="text-big text-bold fontResize">Lorem ipsum</div>
                </a>
            </div>
        </div>
    </div>
</section>