@import "/src/assets/scss/_variable";

.subscribe-card {
    background: #DDEAFF;
    border-radius: 16px;
}

@media (min-width: 1200px) {
    .gx-xl-5 {
        --bs-gutter-x: 2.5rem !important;
    }
}

/**** footer styles *****/
footer {
    padding-top: 40px;
    background: var(--gradient);
    font-weight: 600;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: -0.42px;
    color: #fff;

    .d-flex {
        margin-bottom: 60px;

        .social-links {
            a {
                height: max-content;
                display: inline-flex;
                margin-left: 20px;

                &:hover {
                    transform: scale(1.1);
                    border: 0;
                }
            }
        }
    }

    .footer-title {
        margin-bottom: 16px;
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: -0.6px;
    }

    .small-title {
        font-size: 1rem;
        letter-spacing: -0.48px;
        margin-bottom: 16px;
    }

    a {
        color: #fff;
        transition: all 0.3s ease-in-out;

        &:hover {
            // transform: scale(1.1);
            border-bottom: 1px solid #fff
        }
    }

    .logo-img {
        display: inline-flex;
        height: max-content;
    }

    .text-big {
        font-size: 1.125rem;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 8px;

            a {
                color: #fff
            }
        }
    }

    .light-box {
        padding: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.08);
        height: calc(100% - 40px);
        margin-bottom: 40px;

        ul {
            list-style: disc;
            padding-left: 16px;
        }
    }

    .py-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }

}

.info {
    #Registered-office-address {
        max-width: 373px
    }
}

.copyrights {
    border-top: 1px solid #DFDFDF;
    background: rgba(55, 105, 255, 0.12);
    padding: 24px 0;
}


#contact-block {

    #toggleBox {


        &:hover {
            box-shadow: 0px 0px 68px rgba(53, 84, 198, 0.24);
            scale: 1.09 !important;
            // background-color: red;
        }


    }
}



/*** media query style ****/

@media(max-width:575.98px) {
    .accordion-button::after {
        width: 12px;
        height: 14px;
        background-size: auto;
    }

    footer {
        .light-box {
            padding: 0;
            border-radius: 0;
            background: transparent;
            height: calc(100% - 24px);
            margin-bottom: 10px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 6px;
                }
            }
        }

        a {
            font-weight: 400;
            text-transform: capitalize;


        }

        .text-big {
            font-size: 1rem!important;
            font-weight: 600;
        }

        .info {
            .col-12 {
                margin-bottom: 20px;
            }
        }

        .copyrights {
            font-size: 0.75rem;
            font-weight: 600;

            .row {
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;

                div {
                    margin-bottom: 24px;
                }
            }
        }

        .info {
            .Registered-office-address-box {
                margin-bottom: 20px;
            }

            #Registered-office-address {
                max-width: 470px;
            }
        }
    }
}

.accordion-button-style {
    font-weight: 600;
    font-size: 1.063rem;
    // padding-left:0px;
    background: linear-gradient(90.29deg, #583EE7 26.99%, #0EA0E6 52%, #00B6AE 74.69%);
    border: 0;
    color: white;
    width: 97%;
    border-radius: 0;
    box-shadow: none;
    transform: scale(1.1);
}

.accordion-button::after {
    background-image: url("../../../../assets/images/general/Vector.png");
}

footer .info .text-big {
    text-transform: none !important;
}



// Media query for desktop view
@media screen and (min-width: 768px) {
    .mobile-view {
        display: none; // Hide on desktop

        .desktop-view {
            display: block; // Show on desktop

        }
    }
}

// Media query for mobile view
@media screen and (max-width: 767px) {
    .desktop-view {
        display: none; // Hide on mobile

        .mobile-view {
            display: block; // Show on mobile
        }

    }
}

@media(max-width:899.98px) {
    .text-big-imp {
        height: 24px !important
    }

    .footer-copyright {
        padding-bottom: 40px;
    }

    .logo-img {
        margin-bottom: 15px;
    }
}

#contact-block .contact-box .d-flex {
    background-color: #fff;
}

.Copyright {
    font-family: Hanken Grotesk;
    font-size: 14px;
    font-weight: normal;
    line-height: 18.24px;
    letter-spacing: -0.03em;
    text-align: center;
}

.footer-Copyright-Hanken {
    font-family: Hanken Grotesk;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.24px;
    letter-spacing: -0.03em;
    text-align: center;
}

.top {
    color: #3769ff;
    border: 1px solid;
    background-color: white;
}

.btn:hover {
    background-color: #3769ff;
    color: white;
    border: 1px solid #3769ff;
}

.scroll-top {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999;

    .btn {
        border-radius: 8px;
        padding: 8px 24px;
        box-shadow: 0px 4px 18px 0px rgba(15, 28, 67, 0.25);
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: -0.6px;

        i {
            margin-right: 10px;
        }
    }
}

.footer-head {
    cursor: pointer;
}

.social-links-head {
    display: flex;
    gap: 10px;
}

.footer-twitter {
    width: 20px;
    margin-top: 3px;
}

.accordion-head {
    border: 0;
}

.accordion-item-head {
    gap: 18px;
}

.accordion-control {
    padding: 0px 20px;
    font-size: 0.938rem;
}

.accordion-content-head {
    list-style: initial;
    margin: 0px 6px;
}
.mobile-font{
    font-size: 0.938rem;
}
.Mutual-font{
    font-size: 1.375rem;
}
.Mutual-size{
    padding:8px;
}