<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Knowledge Centre</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mutual fund</li>
                </ol>
            </nav>
        </div>
    </div>

    <app-category-content></app-category-content>
</div>