<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Distributor Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Registor For online Access</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div id="page-content" class="bg-img">

    <section class="FT-empanel">
        <div class="container">
            
            <h2 class="fontResize">Remuneration Disclosure</h2>
        
            <div class="empanel-box">
               <app-disclosure-steps></app-disclosure-steps>
                <!-- <app-register-form></app-register-form> -->
            </div>

        </div>
    </section>
</div>

