<!-- start page breadcrumb block -->
<!-- <div class="FT-breadcrumb mb-4 d-none d-md-block">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">All Calculators</a></li>
                <li class="breadcrumb-item active" aria-current="page">SIP Calculator</li>
            </ol>
        </nav>
    </div>
</div> -->

<!-- <div  margin-left: 20px;" class="d-block d-md-none" (click)="goBack()">
    <i class="bi bi-arrow-left"  font-size: x-large;" ></i>
</div> -->