<section class="FT-faq bg-gradient">
    <div class="container">
        <div class="text-center">
            <div class="FT-title fontResize">Your questions. Our answers</div>
            <div class="text-big text-white fontResize">
                Everything you want to know about mutual funds.
            </div>
        </div>
        <div class="faq-box">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                           <span class="fontResize">When should I start investing in Mutual Funds?</span> 
                        </button>
                    </h2>
                    <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                            The second best time is now.”
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                            <span class="fontResize">How do Mutual Funds help manage risk?</span>
                        </button>
                    </h2>
                    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="heading2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                            The second best time is now.”
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                            <span class="fontResize">Are Mutual Funds offered by Banks?</span>
                        </button>
                    </h2>
                    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                            The second best time is now.”
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                            <span class="fontResize">What happens when the market falls midway while you have invested for a longer term?</span>
                        </button>
                    </h2>
                    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                            The second best time is now.”
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                            <span class="fontResize">What happens when a Mutual Fund company shuts down / gets sold off?</span>
                        </button>
                    </h2>
                    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="heading5"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            <span class="fontResize">There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                                The second best time is now.”</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                            <span class="fontResize">What is the co-relation between risk and return?</span>
                        </button>
                    </h2>
                    <div id="faq6" class="accordion-collapse collapse" aria-labelledby="heading6"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body fontResize">
                            There is a beautiful Chinese proverb, “The best time to plant a tree was 20 years ago.
                            The second best time is now.”
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="more-links footer-links-CTA fontResize"><span>Explore all FAQs</span><i class="bi bi-chevron-right ms-3"></i></a>
        </div>
    </div>
</section>