
@media (max-width: 575.98px) {
    .FT-faq .faq-box .accordion .accordion-item .accordion-body {
        font-size: 13px;
    }
}
.footer-links-CTA {
    background: transparent!important;
    -webkit-background-clip: unset!important;
    -webkit-text-fill-color: white!important;
  }
  .fix-margin {
    // margin-top: calc(15rem - 2px)!important;
}