<div class="FT-blocks-nav sticky-top hello">
    <ul>
        <li><a  class=" fund-overview-head overview active-item fontResize" (click)="scrollTo('overview')">Fund Overview</a></li>
        <li><a  class=" fund-overview-head performance fontResize" (click)="scrollTo('performance')">Performance</a></li>
        <li><a  class=" fund-overview-head portfolio fontResize" (click)="scrollTo('portfolio')">Portfolio</a></li>
        <li><a  class=" fund-overview-head more-details fontResize" (click)="scrollTo('more-details')">Other Fund Details</a>
        </li>
    </ul>
</div>
<!-- start fund Overview-->
<div class="fd-tab-sections FT-fund-overview block-border" id="overview">
    <div class="accordion FT-customized-accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
                <button class="accordion-button fontResize" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                    aria-expanded="true" aria-controls="faq1">
                    Why should you invest in Franklin Build India Fund?
                </button>
            </h2>
            <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="heading1">
                <div class="accordion-body">
                    <div class="row col-reverse">
                        <div class="col-lg-6 col-md-8 col-12">
                            <ul>
                                <li class="fontResize">
                                    This fund invests in companies engaged, either directly or indirectly,
                                    in infrastructure related activities
                                </li>
                                <li class="fontResize">
                                    The fund’s investment is oriented towards structural themes and not
                                    cyclical themes comprising of companies across the market capitalization
                                    range
                                </li>
                                <li class="fontResize">
                                    This fund invests in companies engaged, either directly or indirectly,
                                    in infrastructure related activities
                                </li>
                                <li class="fontResize">
                                    The fund’s investment is oriented towards structural themes and not
                                    cyclical themes comprising of companies across the market capitalization
                                    range
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <img src="assets/images/fund/ad1.png" class="img-fluid">
                        </div>
                        <div class="col-lg-6 col-md-8 col-12">

                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="text-center">
                                <span class="btn fontResize you-tube you-tube-watch" data-bs-toggle="modal" data-bs-target="#exampleModal"> <img src="../../../../../assets/images/general/YT img.png"> watch video - Lorem ipsum
                                    dolor sit amet.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
                <button class="accordion-button fontResize" type="button" data-bs-toggle="collapse" data-bs-target="#faq2"
                    aria-expanded="false" aria-controls="faq2">
                    What is the Ideal investment horizon of investing in this fund and whom it is suitable
                    for?
                </button>
            </h2>
            <div id="faq2" class="accordion-collapse collapse show" aria-labelledby="heading2">
                <div class="accordion-body">
                    <div class="text-meduim mb-3 fontResize">Ideal investment horizon of investing in this fund is 5
                        years or more</div>
                    <div class="row invest-feature">
                        <div class="col-md-4">
                            <img src="assets/images/fund/lucide_rocking.svg">
                            <span class="fontResize"><b>Retirement Corpus</b></span>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/fund/heroicons_currency.svg">
                            <span class="fontResize"><b>Long Term Wealth Creation</b></span>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/fund/bx_world.svg">
                            <span class="fontResize"><b>Overseas Diversification of Assets</b></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                    What are the tax implications of investing in this fund?
                </button>
            </h2>
            <div id="faq3" class="accordion-collapse collapse" aria-labelledby="heading3">
                <div class="accordion-body">
                    <ul  class="capital-gains">
                        <li class="fontResize">
                            Capital gains will be deemed as short-term capital gains (STCG) for units acquired on or
                            after April 1, 2023 and will be taxed at the applicable income tax slab rate^^.
                        </li>
                        <li class="fontResize">
                            Income distribution cum capital withdrawal (IDCW) shall be taxable in the hands of investors
                            and the mutual fund will deduct TDS @10% for resident investors and @20% (plus applicable
                            surcharge and cess) for non-resident investors before payouts/re-investment. However,
                            investors can claim tax-credit of TDS deducted at the time of filing their annual return.
                            ^^ Capital gains on sale of units acquired on or before March 31, 2023 & redeemed on or
                            after April 1, 2023 will be taxed as below:
                        </li>
                        <li class="fontResize">
                            Long term capital gains (LTCG) tax @20% (plus surcharge, if applicable and cess) with
                            indexation if units held for more than 36 months
                        </li>
                        <li class="fontResize">
                            In case of an investor being NRI, LTCG tax are chargeable @ 10% (plus surcharge, if
                            applicable and cess) without indexation relating to units redeemed from unlisted schemes.
                        </li>
                        <li class="fontResize">
                            Short term capital gains (STCG) tax at the income tax slab rate if units are held for less
                            than 36 months.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed fontResize" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                    Which are the top 10 companies where this fund has invested as on 30/09/2023?
                </button>
            </h2>
            <div id="faq4" class="accordion-collapse collapse" aria-labelledby="heading4">
                <div class="accordion-body">
                    <div class="mb-3 fontResize">As on 30/04/2023</div>
                    <div class="row">
                        <ul class="col-md-4 col-12 mb-0">
                            <li class="mb-3 fontResize">Taiwan Semiconductor Manufacturing Co. Ltd. (Semiconductors & Semiconductor
                                Equipment)</li>
                            <li class="mb-3 fontResize">AIA Group Ltd. (Insurance)</li>
                            <li class="mb-3 fontResize">DBS Group Holdings Ltd. (Banks)</li>
                            <li class="mb-3 fontResize">Bank Central Asia Tbk PT (Banks)</li>
                        </ul>
                        <ul class="col-md-4 col-12 mb-0">
                            <li class="mb-3 fontResize">Samsung Electronics Co Ltd (Technology Hardware & Equipment)</li>
                            <li class="mb-3 fontResize">Tencent Holdings Ltd. (Media & Entertainment)</li>
                            <li class="mb-3 fontResize">HDFC Bank Ltd. (Banks)</li>
                        </ul>
                        <ul class="col-md-4 col-12 mb-0">
                            <li class="mb-3 fontResize">Alibaba Group Holding Ltd. (Consumer Discretionary Distribution & Retail)
                            </li>
                            <li class="mb-3 fontResize">ICICI Bank Ltd. (Banks)</li>
                            <li class="mb-3 fontResize">Bank Central Asia Tbk PT (Banks)</li>
                        </ul>
                    </div>
                    <div class="text-start">
                        <a (click)="scrollTo('portfolio')" class="fontResize login-dark2 fund-overview-head"
                        >View all<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <iframe width="100%" height="454" src="https://www.youtube.com/embed/S9vtkOfQRMc" title="Coming Soon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div> -->


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header share-menu-twitter" >
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fund-AUM">
            <iframe width="100%" height="454" src="https://www.youtube.com/embed/S9vtkOfQRMc" title="Coming Soon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
        </div>
      </div>
    </div>
  </div>