.FT-latest-updates {
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: #FAFBFF;

    .text-big {
        margin-bottom: 60px;
    }

    .container {
        max-width: 1100px
    }
}
.general-link{
    cursor: pointer;
}
.images-general{
    margin-left: 8px;
}
.display-img{
    display: flex;
}
.franklintempl-dark{
    margin-left: 5px;
}