<section class="FT-latest-updates">
    <div class="container">
        <div class="text-center">
            <div class="FT-title fontResize">Ahead of the curve, always</div>
            <div class="text-big fontResize">
                Keep up-to-date with latest on mutual funds.
            </div>
        </div>

        <div >
            <div class="row g-md-3 g-0">
                <div class="col-md-6 col-12">
                    <div class="update-box mb-md-3 mb-2">
                        <div>
                            <img src="assets/images/home/pdf.svg">
                            <span class="d-none d-md-inline-block fontResize general-link" >Addendum 2 - Changes in Riskometer</span>
                            <span class="d-md-none fontResize">Security level portfolio as on April 2018</span>
                        </div>
                        <a href="#">
                            <i class="bi bi-chevron-right"></i>
                            <!-- <img src="assets/images/general/circledown.svg"> -->
                            <!-- <img class="update-download-icon" src="assets/images/general/circledown.svg"> -->
                        </a>
                    </div>
                    <div class="update-box mb-md-3 mb-2">
                        <div class="fontResize">
                            <img src="assets/images/general/file-icon2.svg">
                          <span class="general-link">Franklin Build India Fund </span>  
                        </div>
                        <a href="#">
                            <i class="bi bi-chevron-right"></i>
                            <!-- <i class="bi bi-chevron-right d-none d-md-block"></i> -->
                            <!-- <img class="update-download-icon" src="assets/images/general/circledown.svg"> -->
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="update-box mb-md-3 mb-2">
                        <div class="fontResize">
                            <img src="assets/images/general/file-icon1.svg">
                            <span class="general-link">Franklin Build India Fund Scheme Summary</span> 
                        </div>
                        <a href="#" class="images-general">
                            <i class="bi bi-chevron-right"></i>
                            <!-- <i class="bi bi-chevron-right d-none d-md-block"></i> -->
                            <!-- <img class="update-download-icon" src="assets/images/general/circledown.svg"> -->
                        </a>
                    </div>
               
                    <div class="update-box mb-md-3 mb-2">
                        <div class="fontResize display-img" >
                            <!-- <i class="bi bi-link-45deg"></i> -->
                            <img src="assets/images/general/ph_link.svg" class="light-mode-icon">
                            <img src="../../../../../assets/images/dark/attach.png" class="dark-mode-icon">
                            <span class="general-link">https://Franklintempletonindia.com/fund-documents</span> 
                        </div>
                        <a href="#" class="franklintempl-dark">
                            <i class="bi bi-chevron-right"></i>
                            <!-- <i class="bi bi-chevron-right d-none d-md-block"></i> -->
                            <!-- <img class="update-download-icon"  src="assets/images/general/circledown.svg"> -->
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
        
        <div class="text-center mt-md-5 mt-3">
            <a href="#" class="more-links fontResize"><span>Explore all updates</span><i class="bi bi-chevron-right ms-3"></i></a>
        </div>
    </div>
</section>