<div id="page-content">
    <app-breadcrumb></app-breadcrumb>
    <div class="main-content pb-4">
        <div class="container">
            <div class="back-btn d-lg-none">
                <a href="#"><img src="assets/images/general/arrowleft.svg" class="d-inline-block mobile-icons light-mode-icon">
                    <img src="assets/images/fund/Vec.svg" class="mobile-icons dark-mode-icon fund-blocknew" ></a>
            </div>
            <app-statistics [getradiaometer]="getradio"></app-statistics>
            <app-lead-gen-form></app-lead-gen-form>
            <app-overview></app-overview>
            <app-performance></app-performance>
            <app-portfolio></app-portfolio>
            <app-more-details></app-more-details>
        </div>
    </div>
</div>