.FT-performance .graph-block .position-absolute {
    left: -75px;
    transform: rotate(271deg);
    top: calc(50% - 29px);

    @media(max-width:575.98px) {
        left: -39px;
        top: calc(50% - 0px);
    }
}


#SIP-tab-pane {
    .performance-head {
        padding: 16px 10px;
        display: flex;
        justify-content: space-around;

        ul {
            li {
                app-date-picker {
                    padding: 6px 7px;
                }
            }
        }

        .left-items {
            // width:100%;
            // margin: 0 auto;
            // display: flex;
            // justify-content: space-around;
            // // background-color: red;
            // li{
            //     list-style: none;
            // }
        }
    }
}

@media (max-width:600px) {
    #SIP-tab-pane {
        .performance-head {
            padding: 16px 10px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            ul {
                li {
                    app-date-picker {
                        padding: 6px 5px;
                    }
                }
            }
        }

    }
}

@media (max-width:450px) {
    #SIP-tab-pane {
        .performance-head {
            ul {
                li {
                    app-date-picker {
                        padding: 6px 0px;
                    }
                }
            }
        }
    }

    .show-perfomance-data {
        font-size: 0.688rem;
        padding: 8px 0px;
    }
}

// Meadia Queary: 

@media(min-width:805px) and (max-width:1055px) {

    .tab-content {
        .tab-pane {
            .performance-head {
                .left-items {
                    li {
                        min-width: 135px;

                        .input-box {
                            margin-left: 0px;
                            width: 140px;

                        }
                    }
                }
            }
        }
    }

    #SIP-tab-pane {
        .performance-head {}
    }
}

.block-border {
    border-radius: 16px;
    border: 1px solid #D2D8EA;
    background: rgba(255, 255, 255, 0.70);
    margin-bottom: 36px;

    .block-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 22px 36px;

        h3 {
            font-size: 1.625rem;
            font-weight: 600;
            letter-spacing: -0.84px;
            color: #3C425D;

            small {
                display: block;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 22.8px;
                letter-spacing: -0.48px;
                color: #595A6C;
            }
        }
    }

    .block-footer {
        .text-meduim {
            font-size: 0.813rem;
            font-weight: 500;
            letter-spacing: -0.42px;
            margin-bottom: 20px;
        }

        .download-plan {
            a {
                display: inline-block;
                padding: 12px 0;
                color: var(--blue);
                font-size: 1rem;
                letter-spacing: -0.54px;

                img {
                    vertical-align: middle;
                    margin-right: 12px;
                }
            }
        }
    }

    h4 {
        font-size: 1.375rem;
        font-weight: 600;
        letter-spacing: -0.72px;
        padding: 24px 0;
    }

    .block-body {
        padding: 0 35px 24px 35px;
    }
}

.invested-value {
    margin-left: 0px;
}

.color-background {
    background: #165DFF
}

.nifty-mid {
    background: rgba(32, 188, 201, 1)
}

.nifty-midcap {
    background: rgba(216, 175, 231, 1)
}

.inception-year {
    text-align: center;
}

.performance-graph-canvas {
    height: 200px;
}

.specific-amount {
    font-size: 0.75rem;
    color: #8189A2;
}
.fundname{
    vertical-align: middle;
}