.form-box{
    min-height: auto;
    padding:32px;
    .form-group{
        margin-bottom: 40px;
    }
}

// a {
//     position: relative;
//     text-decoration: none;
// }

// a:after {
//     content: "";
//     position: absolute;
//     background-color: #3769ff;
//     height: 1.5px;
//     width: 0;
//     left: 0;
//     right: 0;
//     bottom: -2px;
// }

// a:hover:after {
//     width: 100%;
// }
@media (max-width:778.91px){
    .FT-login-form .form-head h2 {
        font-size: 1.25rem;
    }
}
