<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-login-form></app-login-form>
    <app-access-ways></app-access-ways>
    <app-features></app-features>
</div>