.filter-title{
    margin-left: 10px;
    //styleName: 18-semibold;
    font-family: 'Hanken Grotesk';
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #3769FF;

}

@media (max-width: 800.98px) {
    .FT-breadcrumb{
        display: none;
    }
}

@media(max-width: 575.98px){
    #page-content {
        padding-top: 35px;
    }
}
