<div id="page-content">
    <!-- start page breadcrumb block -->
    <!-- <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">All Funds</li>
                </ol>
            </nav>
        </div>
    </div> -->
    <!-- start all funds section -->
    <app-all-funds></app-all-funds>
    <div>
        <app-invest-now-form
        [investNowButton]="investButn">
          
        </app-invest-now-form>
    </div>
    
</div>