<!-- Planning section -->

<section class="FT-planning">
	<div class="container">
		<div class="text-start mb-sm-4 mb-4">
			<div class="planning-title text-start fontResize">Why is Planning necessary</div>
		</div>
		<div class="planning-section">
			<div class="card planning-card col-sm-12">
				<div class="card-header">
					<img src="assets/images/solutions/TrendUp.png">
					<span>
						<h5 class="mt-2 fontResize">Big expenses require
							thinking ahead</h5>
					</span>
				</div>
				<div class="card-body ">
					<span class="fontResize">
						Too large to pay from your
						monthly salary, some planning
						is needed.
					</span>
				</div>
			</div>
			<div class="card planning-card col-sm-12">
				<div class="card-header">
					<img src="assets/images/solutions/TrendUp1.png">
					<span>
						<h5 class="mt-2  fontResize">
							Professional Management Advantage
						</h5>
					</span>
				</div>
				<div class="card-body">
					<span class="fontResize">
						Professionally managed mutual funds leverage expert insights, aiding investors in making informed decisions for optimal returns.
					</span>
				</div>
			</div>
			<div class="card planning-card col-sm-12">
				<div class="card-header">
					<img src="assets/images/solutions/Vector.png">
					<span>
						<h5 class="mt-2 fontResize">Goal-Centric Strategy</h5>
					</span>
				</div>
				<div class="card-body">
					<span class="fontResize">
						Mutual fund planning aligns investments with specific financial goals, ensuring a structured approach for long-term objectives like education or retirement.
					</span>
				</div>
			</div>
			<div class="card planning-card col-sm-12">
				<div class="card-header">
					<img src="assets/images/solutions/Money.png">
					<span>
						<h5 class="mt-2 fontResize">Accessible and Affordable Investment</h5>
					</span>
				</div>
				<div class="card-body">
					<span class="fontResize">
						Mutual funds offer an accessible and cost-effective way to invest in diversified portfolios, making them inclusive for a broad range of investors.
					</span>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FAQ SECTION -->
<section class="FT-Faq pt-0">
	<div class="container">
		<div class="text-start mb-sm-4 mb-4">
			<div class="Faq-title text-start fontResize">How Franklin Templeton Helps You?</div>
		</div>
	</div>
	<div class="Faq-section container">
		<div class="card Faq-card">
			<div class="card border-0 p-2">
				<div class="card-header d-flex flex-row justify-content-between share-menu-twitter">
					<div class="col-1">
						<img src="assets/images/solutions/Group.png">
					</div>
					<div class="col-11">
						<span class="Faq-card-heading fontResize">
							Set the right financial goal
						</span>
					</div>
				</div>
				<div class="card-body d-flex flex-row justify-content-between">
					<div class="col-1">
					</div>
					<div class="col-11">
						<span class="Faq-card-content fontResize">
							We help you estimate the amount you’ll need for your goals, taking inflation into consideration.
						</span>
					</div>
				</div>
			</div>
			<!-- new -->
			<div class="card border-0 p-2">
				<div class="card-header d-flex flex-row justify-content-between share-menu-twitter" >
					<div class="col-1">
						<img src="assets/images/solutions/TrendUp.png">
					</div>
					<div class="col-11">
						<span class="Faq-card-heading fontResize">
							Create a customised financial plan
						</span>
					</div>
				</div>
				<div class="card-body d-flex flex-row justify-content-between">
					<div class="col-1">
					</div>
					<div class="col-11" class="Faq-card-content fontResize">
						We provide you with advanced planners to create a financial plan customised to your goal. This plan is built using your inputs about your age, when you will need the money and your risk appetite.
					</div>
				</div>
			</div>
			<!-- new -->
			<div class="card border-0 p-2">
				<div class="card-header d-flex flex-row share-menu-twitter" >
					<div class="col-1">
						<img src="assets/images/solutions/teenyicons_file-tick-outline.png">
					</div>
					<div class="col-11">
						<span class="Faq-card-heading fontResize">
							Make the right investments
						</span>
					</div>
				</div>
				<div class="card-body d-flex flex-row">
					<div class="col-1">
					</div>
					<div class="col-11 " class="Faq-card-content fontResize">
						Decide on the right mix of investments that are suitable for your goals and for your personal preferences.
					</div>
				</div>
			</div>
			<!-- new -->
			<div class="card border-0 p-2">
				<div class="card-header d-flex flex-row share-menu-twitter" >
					<div class="col-1">
						<img src="assets/images/solutions/solar_delivery-outline.png">
					</div>
					<div class="col-11">
						<span class="Faq-card-heading fontResize">
							Delivery of plans and course correction
						</span>
					</div>
				</div>
				<div class="card-body d-flex flex-row">
					<div class="col-1">
					</div>
					<div class="col-11" class="Faq-card-content fontResize" >
						Easy online investing for your goal with regular monitoring of progress so that you stay firm on the chosen path. We are your financial partners who work with you till your goal is achieved.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>