<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Security & Privacy</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages pt-5">
        <div class="container">
            <div class="mobile-view fw-bold">
                <!-- Content visible on mobile only -->
                <i class="bi bi-arrow-left mt-4"></i>
              </div>
            <div class="FT-title-medium text-bold text-blue mb-3">Security & Privacy</div>
            <div>
                <!-- Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                aliquet odio mattis. Class aptent taciti dolor sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. -->
            </div>
            <div class="p-md-4 bg-md-white mt-5 privacy-bg" id="privacy-back">
                <div class="row">
                    <div class="col-md-auto d-none d-md-block">
                        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-tab1-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab1" type="button" role="tab" aria-controls="v-pills-tab1"
                                aria-selected="true">Phishing Scams</button>
                            <button class="nav-link" id="v-pills-tab2-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab2" type="button" role="tab" aria-controls="v-pills-tab2"
                                aria-selected="false">Security & Privacy</button>
                            <button class="nav-link" id="v-pills-tab3-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab3" type="button" role="tab" aria-controls="v-pills-tab3"
                                aria-selected="false">Email Safety</button>
                            <button class="nav-link" id="v-pills-tab4-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab4" type="button" role="tab" aria-controls="v-pills-tab4"
                                aria-selected="false">Viruses and Spyware</button>
                            <button class="nav-link" id="v-pills-tab5-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab5" type="button" role="tab" aria-controls="v-pills-tab5"
                                aria-selected="false">Public Computers </button>
                            <button class="nav-link" id="v-pills-tab6-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab6" type="button" role="tab" aria-controls="v-pills-tab6"
                                aria-selected="false">Privacy</button>
                                <button class="nav-link" id="v-pills-tab1-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab1" type="button" role="tab" aria-controls="v-pills-tab1"
                                aria-selected="true">Phishing Scams</button>
                            <button class="nav-link" id="v-pills-tab2-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab2" type="button" role="tab" aria-controls="v-pills-tab2"
                                aria-selected="false">Security & Privacy</button>
                            <button class="nav-link" id="v-pills-tab3-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab3" type="button" role="tab" aria-controls="v-pills-tab3"
                                aria-selected="false">Email Safety</button>
                            <!-- <button class="nav-link" id="v-pills-tab4-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab4" type="button" role="tab" aria-controls="v-pills-tab4"
                                aria-selected="false">Viruses and Spyware</button>
                            <button class="nav-link" id="v-pills-tab5-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab5" type="button" role="tab" aria-controls="v-pills-tab5"
                                aria-selected="false">Public Computers </button> -->
                            <button class="nav-link" id="v-pills-tab6-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab6" type="button" role="tab" aria-controls="v-pills-tab6"
                                aria-selected="false">Privacy</button>
                        </div>
                    </div>
                    <div class="col-md col-12 terms-bg-color">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="accordion" id="accordionExample">

                            </div>
                            <div class="tab-pane fade show active" id="v-pills-tab1" role="tabpanel"
                                aria-labelledby="v-pills-tab1-tab" tabindex="0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false"
                                            aria-controls="collapse1">
                                            Phishing Scams
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body" id="scroll-bar">
                                            <div class="text-big text-bold mb-3">Phishing Scams</div>
                                            <div class="mb-3">
                                                <div class="text-bold font-meduim mb-3">What’s Phishing?</div>
                                                <div>
                                                    Phishing is any email that seems to be from a legitimate business
                                                    but is really intended to steal personal information Testing.<br />
                                                    Phishers bait their hooks with an email designed to look like it is
                                                    from a bank, retail or auction site, or some other business you may
                                                    have an online relationship with. The message typically claims there
                                                    is a problem with your account and asks you to click a link in the
                                                    email and return to their site to confirm your account number,
                                                    credit card information, password or other sensitive information.
                                                    Sometimes the e-mail simply asks you to download an attachment which
                                                    may be infected with a virus or spyware (see Viruses and Spyware
                                                    section).<br />
                                                    The link takes you to a site cleverly designed to look like the
                                                    business's website, but any information you enter is captured by the
                                                    phisher, who may use it to steal your identity, make purchases using
                                                    your credit card or drain money from your accounts.

                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium repellat minima quibusdam nesciunt amet sed earum voluptates distinctio perferendis suscipit nihil eveniet eos expedita in, blanditiis sapiente magnam fuga harum pariatur. Aut, temporibus quod. Perferendis dignissimos quo adipisci ratione ipsam. Eligendi repellendus nihil tempora iusto a error nemo adipisci id vitae? Cumque, et voluptas, accusantium doloremque sunt placeat eveniet nisi voluptate possimus vitae mollitia tenetur esse commodi? Itaque voluptas eveniet iure? Facilis alias dicta perspiciatis veniam quidem libero nesciunt error, officiis repudiandae sequi minus velit earum molestiae eaque pariatur ipsum, expedita quibusdam? Eligendi consequuntur non, aliquam dolorem veritatis reprehenderit.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="text-bold font-meduim mb-3">How to Recognize a Fraudulent
                                                    Message?</div>
                                                <div class="mb-2">Phishing scams often include key phrases or themes to watch out
                                                    for: </div>
                                                <ul>
                                                    <li>
                                                        “Verify your account” – Legitimate businesses will not ask you
                                                        to send passwords, login names, Social Security numbers, or
                                                        other confidential information through email. Be suspicious of
                                                        any message that asks for personal information, even if the
                                                        request looks legitimate.
                                                    </li>
                                                    <li>
                                                        “If you don’t respond within 48 hours, your account will be
                                                        closed” – These emails may be polite and accommodating in tone,
                                                        but they often convey a sense of urgency so that you’ll respond
                                                        immediately, without thinking. They could threaten to close or
                                                        suspend your account or even say that your response is required
                                                        because your account may have been compromised.
                                                    </li>
                                                    <li>
                                                        “Click the link below to gain access to your account” - Some
                                                        messages contain links or forms. The links may contain all or
                                                        part of a real company’s name and are usually “masked,” meaning
                                                        the link doesn’t take you to the address you see but to
                                                        somewhere else, usually a phony website.
                                                    </li>
                                                </ul>
                                                <div class="mb-2">Please always bear in mind that:</div>
                                                <ul>
                                                    <li>
                                                        Franklin Templeton will never ask you for confidential
                                                        information such as password, customer ID, or account number
                                                        over email.
                                                    </li>
                                                    <li>
                                                        A phishing email will normally have a tone of urgency. Franklin
                                                        Templeton will NEVER send such emails to our customers.
                                                    </li>
                                                    <li>
                                                        If you are doubtful about the credibility of the email, please
                                                        DO NOT click on any link provided in the email. This may trigger
                                                        malicious code to be installed on your PC.
                                                    </li>
                                                    <li>
                                                        Before you share any information on a website in response to an
                                                        email, always assure that the URL shown in the email matches the
                                                        URL of our website.
                                                    </li>
                                                    <li>
                                                        When you are on the online account access login page, please
                                                        check for the security padlock icon at the bottom right side of
                                                        the webpage.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tab2" role="tabpanel"
                                aria-labelledby="v-pills-tab2-tab" tabindex="0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            Site Sponsor
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            2
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tab3" role="tabpanel"
                                aria-labelledby="v-pills-tab3-tab" tabindex="0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            Acceptance of the Terms of Use and any Amendments
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tab4" role="tabpanel"
                                aria-labelledby="v-pills-tab4-tab" tabindex="0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            Means of Access and Prohibited
                                            Areas
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-tab5" role="tabpanel"
                                aria-labelledby="v-pills-tab5-tab" tabindex="0">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapse5">
                                            Content and Site Vulnerability
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>