<section class="FT-invest-form">
    <div class="container">
        <div class="form-box">
            <div class="text-center">
                <h3 class="mb-2">I’m Interested</h3>
                <div class="mb-3 mb-md-4">Please enter your details</div>
            </div>

            <form>
                <div class="row g-3">
                    <div class="form-group col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Your name">

                    </div>
                    <div class="form-group col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Mobile Number" maxlength="10">

                    </div>
                    <div class="form-group col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Email">

                    </div>

                    <div class="form-group col-md-6 col-12">
                        <select class="form-select">
                            <option value="" disabled>Query</option>
                            <option value="Fund related">Fund related</option>
                            <option value="Service related">Service related</option>
                            <option value="Statements related">Statements related</option>
                            <option value="Login related">Login related</option>
                        </select>

                    </div>
                    <div class="form-group col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="ARN/RIA code">

                    </div>
                    <div class="form-check col-12 my-3 ARN ">
                        <input class="form-check-input" type="checkbox" value="">
                        <label class="form-check-label" for="flexCheckDefault">I don’t have ARN/RIA code</label>
                    </div>

                    <div class="form-group col-12 mb-4">
                        <textarea class="form-control" placeholder="Comments*"></textarea>

                    </div>
                </div>

                <div class="pt-3 d-flex">
                    <button class="btn btn-primary">Submit</button>
                    <button class="btn btn-outline-primary">Cancel</button>
                </div>

            </form>

        </div>

    </div>
</section>