<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Servicing Forms</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages forms-download">
        <div class="container">
            <div class="FT-title-medium text-bold text-blue mb-4">Forms Download</div>
            <div class="d-flex form-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="forms-tab" data-bs-toggle="tab"
                            data-bs-target="#forms-tab-pane" type="button" role="tab" aria-controls="forms-tab-pane"
                            aria-selected="true">Forms & Instructions</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="documents-tab" data-bs-toggle="tab"
                            data-bs-target="#documents-tab-pane" type="button" role="tab"
                            aria-controls="documents-tab-pane" aria-selected="false">Fund Documents</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="literature-tab" data-bs-toggle="tab"
                            data-bs-target="#literature-tab-pane" type="button" role="tab"
                            aria-controls="literature-tab-pane" aria-selected="false">Fund Literature</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="updates-tab" data-bs-toggle="tab"
                            data-bs-target="#updates-tab-pane" type="button" role="tab" aria-controls="updates-tab-pane"
                            aria-selected="false">Updates</button>
                    </li>
                </ul>
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control search">
                </div>
            </div>
            <div class="bg-md-white mt-lg-5 mt-4">
                <div class="row">
                    <div class="col-lg-auto d-none d-lg-block">
                        <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link" id="v-pills-tab1-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab1" type="button" role="tab" aria-controls="v-pills-tab1"
                                aria-selected="false">Forms for investors</button>
                            <button class="nav-link active" id="v-pills-tab2-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab2" type="button" role="tab" aria-controls="v-pills-tab2"
                                aria-selected="true">Forms for distributors</button>
                            <button class="nav-link" id="v-pills-tab3-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab3" type="button" role="tab" aria-controls="v-pills-tab3"
                                aria-selected="false">KIM and Application forms</button>
                            <button class="nav-link" id="v-pills-tab4-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab4" type="button" role="tab" aria-controls="v-pills-tab4"
                                aria-selected="false">Change of Address</button>
                            <button class="nav-link" id="v-pills-tab5-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab5" type="button" role="tab" aria-controls="v-pills-tab5"
                                aria-selected="false">Change of Bank/ Change in
                                mode of Payment </button>
                            <button class="nav-link" id="v-pills-tab6-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab6" type="button" role="tab" aria-controls="v-pills-tab6"
                                aria-selected="false">Consolidation of Folios</button>
                            <button class="nav-link" id="v-pills-tab7-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab7" type="button" role="tab" aria-controls="v-pills-tab7"
                                aria-selected="false">Change of Status from Minor
                                to Major and change of
                                guardian</button>
                            <button class="nav-link" id="v-pills-tab8-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab8" type="button" role="tab" aria-controls="v-pills-tab8"
                                aria-selected="false">Appointment of Nominee</button>
                            <button class="nav-link" id="v-pills-tab9-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab9" type="button" role="tab" aria-controls="v-pills-tab9"
                                aria-selected="false">Change of Name</button>
                            <button class="nav-link" id="v-pills-tab10-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-tab10" type="button" role="tab" aria-controls="v-pills-tab10"
                                aria-selected="false">Auto Debit Registration</button>
                        </div>
                    </div>
                    <div class="col-lg col-12">
                        <div class="d-flex filter-box align-items-center">
                            <div class="text-big text-bold me-lg-5 me-3">Forms for investors</div>
                            <div class="filter-date">
                                <span class="text-small text-medium d-none d-md-inline-block">Filter by Date </span>
                                <form>
                                    <div class="date-group">
                                        <img src="assets/images/fund/calendar-outline.svg">
                                        <input type="text" placeholder="From" class="form-control"
                                            onfocus="(this.type='date')">
                                    </div>
                                    <div class="date-group">
                                        <img src="assets/images/fund/calendar-outline.svg">
                                        <input type="text" placeholder="To" class="form-control"
                                            onfocus="(this.type='date')">
                                    </div>
                                    <button class="btn btn-primary">Apply</button>
                                </form>
                            </div>
                        </div>
                        <!-- start selected category btn -->
                        <div class="category-btns">
                            <ul>
                                <li class="active">All</li>
                                <li>Equity Fund</li>
                                <li>Debt Fund</li>
                                <li>Hybrid Fund</li>
                                <li>Index Funds</li>
                                <li>ETFs</li>
                            </ul>
                        </div>

                        <!-- start categories block -->
                        <div class="category-block">
                            <div class="table-responsive reports-box">
                                <table class="table table-success table-striped">

                                    <tbody>
                                        <tr>
                                            <td>Value & Flex Systematic Transfer
                                                Plan form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nomination form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Standalone contact details update
                                                form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>For Non-individual investors - Legal
                                                Entity Identifier (LEI)</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>NISM - Signature Attestation Form
                                            </td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Freedom SIP form</td>
                                            <td class="text-end">
                                                <img
                                                    src="assets/images/home/pdf.svg">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>