.FT-updates-banners {
  .banner2-sm {
    height: 143px;
  }
}

.mobile-margin-top {
  margin-top: 99px;
}

.carousel-indicators {
  margin-right: 48%;
  margin-left: 49%;
}

@media screen and (max-width: 991px) {
  .carousel-indicators {
    margin-right: 45% !important;
    margin-left: 45% !important;
  }
}