<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Investor Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modify KYC Details</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div id="page-content" class="bg-img">
    <section class="FT-empanel">
        <div class="container">
            <div class="d-md-none share-menu-twitter" >
                <i class="bi bi-arrow-left fs-5"></i>
            </div>
            <h2 class="fontResize">Remuneration</h2>
            <span class="invest-register fontResize">Average Assets under Management (AAUM) under the Schemes of
                ICICI Prudential Mutual Fund and rate of growth of AAUM over last three years:
            </span>
        </div>
        <div class="container mt-4">
            <div class="fd-tab-sections FT-performance" id="performance">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="SIP-tab-pane" role="tabpanel" aria-labelledby="SIP-tab"
                        tabindex="0">

                        <div class="fund-value-table">

                            <div class="table-responsive mb-5 d-none d-md-block">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="fontResize fund-AUM">Period</th>
                                            <!-- <th colspan="6" class="text-center fontResize">Amount in Cr</th> -->
                                        </tr>
                                        <tr>

                                            <th>Total AAUM(Rs.in core)</th>
                                            <th>% of Growth over the previous Period</th>
                                            <th>Debt AAUM (Rs.in core)</th>
                                            <th>% of Growth over the previous Period</th>
                                            <th>Equity AAUM (Rs.in core)</th>
                                            <th>% of Growth over the previous Period</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 22 - Sep 23</td>
                                            <td>66,489.00</td>
                                            <td>6.94%</td>
                                            <td>5,505.75</td>
                                            <td>-2.59%</td>
                                            <td>57,940.50</td>
                                            <td>9.39%</td>

                                   
                                        </tr>
                                        <tr>
                                            <td>Oct 21 - Sep 22</td>
                                            <td>62,174.66</td>
                                            <td>3.57%</td>
                                            <td>5,652.18</td>
                                            <td>-25.06%</td>
                                            <td>52,965.41</td>
                                            <td>7.26%</td>

                                        </tr>
                                        <tr>
                                            <td>Oct 20 - Sep 21</td>
                                            <td>60,032.11</td>
                                            <td>-40.24%</td>
                                            <td>7,542.26</td>
                                            <td>-85.63%</td>
                                            <td>49,381.22</td>
                                            <td>6.29%</td>


                                        </tr>
    

                                    </tbody>
                                </table>
                            </div>
                            <!-- mobile view -->
                            <div class="table-responsive mb-4 d-md-none">
                                <table class="table table-striped">
                                    <thead>
                                        <!-- <tr>
                                            <th colspan="4" class="text-bold bg-blue fontResize">Amount in Cr</th>
                                        </tr> -->
                    
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Period</td>
                                            <td>Total AAUM(Rs.in core)</td>
                                            <td>% of Growth over tde previous Period</td>
                                            <td>Debt AAUM (Rs.in core)</td>
                                            <td>% of Growth over tde previous Period</td>
                                            <td>Equity AAUM (Rs.in core)</td>
                                            <td>% of Growth over tde previous Period</td>
                                          
                                        </tr>
                                        <tr>
                                            <td>Oct 22 - Sep 23</td>
                                            <td>66,489.00</td>
                                            <td>6.94%</td>
                                            <td>5,505.75</td>
                                            <td>-2.59%</td>
                                            <td>57,940.50</td>
                                            <td>9.39%</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Oct 21 - Sep 22</td>
                                            <td>66,489.00</td>
                                            <td>6.94%</td>
                                            <td>5,505.75</td>
                                            <td>-2.59%</td>
                                            <td>57,940.50</td>
                                            <td>9.39%</td>
                                            
                                           
                                        </tr>
                                        <tr>
                                            <td>Oct 20 - Sep 21</td>
                                            <td>66,489.00</td>
                                            <td>6.94%</td>
                                            <td>5,505.75</td>
                                            <td>-2.59%</td>
                                            <td>57,940.50</td>
                                            <td>9.39%</td>
                                           
                                        </tr>
                                        <!-- <tr>
                                            <td>Growth rate year on year</td>
                                            <td>0.89%</td>
                                            <td>₹10,049</td>
                                            <td>0.89%</td>
                                         
                                        </tr>
                                        <tr>
                                            <td>Total AAUM</td>
                                            <td>0.89%</td>
                                            <td>₹10,049</td>
                                            <td>0.89%</td>
                                            
                                        </tr> -->

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <form>
                        <div class="form-group row">
                            <label for="country" class="col-sm-3 col-md-12 col-form-label fund-AUM"
                            >Notes :</label>
                        </div>
                        <div class="form-group row">
                            <label for="fcpaCompliance" class="col-sm-3 col-md-12 col-form-label">
                                1.Total AAUM consists ELSS, Equity, Income, FOF Overseas, Liquid, Gilt except FOF Domestic.</label>
                        </div>

                        <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">2.Equity Schemes - ELSS & Equity.</label>

                        </div>
                        <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">3.Debt Schemes - Income Funds, Gilt & Liquid</label>

                        </div>
                        <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">4.% of Growth has been calculated based on difference in AAUM from previous year</label>

                        </div>

                        <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">5.Windingup scheme details has been excluded.</label>

                        </div>
                        <!-- <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">a. Annual
                                remuneration was equal to or above Rs. one crore and two lakh for the financial
                                year</label>

                        </div> -->
                        <!-- <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">b. Monthly
                                remuneration in the aggregate was not less than Rs. eight lakh and fifty thousand per
                                month, if the employee was employed for a part of the financial year.</label>

                        </div> -->
                        <!-- <div class="form-group row">
                            <label for="corruptionTraining" class="col-sm-3 col-md-12 col-form-label">c.For disclosure
                                relating to name, designation and remuneration drawn by top ten employees during the
                                financial vear (including employees who were employed for part of the financial year if
                                any refer details disclosed against serial numbers</label>

                        </div> -->

                        <div class="btn-options my-3">
                            <button type="button" class="btn btn-primary" routerLink="/remuner-disclosure">Click here</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>
</div>