<!-- start section fund returns -->
<section class="FT-returns mb-6">
    <div class="container">
        <!-- <div class="bg-gradient" [ngClass]="showAllFunds ? 'open-funds' : ''">
            <div class="d-flex head text-white" *ngIf="hideTitle">
                <div class="FT-title-medium">Wish to check fund specific returns?</div>
                <button class="btn btn-white" (click)="toggleShowAllFunds()">Check Now</button>
            </div> -->
            <div class="bg-gradient">
                <div class="d-flex head text-white">
                    <div class="FT-title-medium">Wish to check fund specific returns?</div>
                    <button class="btn btn-white d-none d-md-block"  data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" (click)="toggleShowAllFunds()">Check Now</button>
                    <!-- <button class="btn btn-primary d-none d-md-block" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" >Add Funds</button> -->
                    <button class="btn btn-white d-md-none" (click)="toggleAddFund()" >Check Now</button>
                </div>
            <div class="" *ngIf="showAllFunds">
                <div class="text-white">
                    <div class="FT-title-medium">
                        <button class="btn btn-transparent me-4" (click)="toggleShowAllFunds()">
                            <img src="assets/images/calculators/arrow-left.svg">
                        </button>Wish to check fund specific returns?
                    </div>
                </div>
                <!-- start all funds section -->
                <div class="FT-all-funds">
                    <div class="filter-options mb-4">
                        <div class="form-group ">
                            <input type="text" class="form-control search" placeholder="Search">
                            <div class="search-result">
                                <div class="inner">
                                    <div class="mb-3">
                                        Franklin Build India Fund <span class="sub"><span class="text-gray">AUM</span> -
                                            134 Cr</span><span class="sub"><span class="text-gray">Investors</span>
                                            -
                                            1.34 lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Balanced Advantage Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Banking & PSU Debt Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Bluechip Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Corporate Debt Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Corporate Debt Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Debt Hybrid Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Equity Advantage Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                    <div class="mb-3">
                                        Franklin India Equity Hybrid Fund <span class="sub"><span
                                                class="text-gray">AUM</span> - 134 Cr</span><span class="sub"><span
                                                class="text-gray">Investors</span> - 1.34
                                            lakh</span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-white toggle-filter d-inline-block d-lg-none"
                                (click)="toggleShowFilterBox()"><img src="assets/images/fund/sort.svg">Filters</button>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="me-2 text-white">Sort by</span>

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Returns High to Low
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Popularity</a></li>
                                    <li class="selected-option"><a class="dropdown-item" href="#">Returns -
                                            High to
                                            Low</a></li>
                                    <li><a class="dropdown-item" href="#">Returns - Low to High</a></li>
                                    <li><a class="dropdown-item" href="#">AUM - Low to High</a></li>
                                    <li><a class="dropdown-item" href="#">AUM - High to Low</a></li>
                                    <li><a class="dropdown-item" href="#">Investors - High to Low</a></li>
                                    <li><a class="dropdown-item" href="#">Investors - Low to High</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-auto">
                            <div class="fund-filter-block" [ngClass]="showAdvanceFilter ? 'position-relative' : ''">

                                <div class="filters" [ngClass]="showFilterBox ? 'opened' : ''">
                                    <div class="filter-container">
                                        <div class="content-box">
                                            <div class="web-view-filter">
                                                <div class="filter-head">Filters</div>
                                                <div class="inner-filters">
                                                    <div class="accordion" id="filterAccordion">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading1">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse1" aria-expanded="false"
                                                                    aria-controls="collapse1">
                                                                    Asset Category
                                                                </button>
                                                            </h2>
                                                            <div id="collapse1" class="accordion-collapse collapse "
                                                                aria-labelledby="heading1"
                                                                data-bs-parent="#filterAccordion">
                                                                <div class="accordion-body">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Focus Funds
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Equity Funds
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Debt Funds
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            International Funds
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Hybrid Funds
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Liquid Funds
                                                                        </label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading6">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse6" aria-expanded="false"
                                                                    aria-controls="collapse6">
                                                                    Fund Category
                                                                </button>
                                                            </h2>
                                                            <div id="collapse6" class="accordion-collapse collapse"
                                                                aria-labelledby="heading6"
                                                                data-bs-parent="#filterAccordion">
                                                                <div class="accordion-body">

                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Large Cap
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Mid Cap
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Small Cap
                                                                        </label>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading3">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse3" aria-expanded="false"
                                                                    aria-controls="collapse3">
                                                                    Annualised Returns
                                                                </button>
                                                            </h2>
                                                            <div id="collapse3" class="accordion-collapse collapse"
                                                                aria-labelledby="heading3"
                                                                data-bs-parent="#filterAccordion">
                                                                <div class="accordion-body">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            Since inception
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            1 Year
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            3 Year
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            5 Year
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            10 Year
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="flexRadioDefault"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            15 Year
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-group">

                                                                        <div class="range-slider">
                                                                            <input type="range"
                                                                                class="custom-range w-100" min="5"
                                                                                max="50" value="30">
                                                                        </div>
                                                                        <div
                                                                            class="d-flex align-items-center justify-content-between">
                                                                            <span>0</span>
                                                                            <span>100</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading4">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse4" aria-expanded="false"
                                                                    aria-controls="collapse4">
                                                                    Investment Horizons
                                                                </button>
                                                            </h2>
                                                            <div id="collapse4" class="accordion-collapse collapse"
                                                                aria-labelledby="heading4"
                                                                data-bs-parent="#filterAccordion">
                                                                <div class="accordion-body">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Long Term
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Medium Term
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Short Term
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header" id="heading5">
                                                                <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapse5" aria-expanded="false"
                                                                    aria-controls="collapse5">
                                                                    Suitable for
                                                                </button>
                                                            </h2>
                                                            <div id="collapse5" class="accordion-collapse collapse"
                                                                aria-labelledby="heading5"
                                                                data-bs-parent="#filterAccordion">
                                                                <div class="accordion-body">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Child’s Education
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Retirement Pan
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Holiday Plan
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Tax Saving
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Wealth Creation
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            value="" id="flexCheckIndeterminate">
                                                                        <label class="form-check-label"
                                                                            for="flexCheckIndeterminate">
                                                                            Dream Home
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="filter-footer d-none d-lg-block bg-transparent">
                                                    <button class="more-option-btn btn btn-primary"
                                                        (click)="toggleAdvanceFilter()">Advance filters</button>
                                                </div>
                                            </div>

                                            <!-- advance filter block -->
                                            <div class="advanced-filter" *ngIf="showAdvanceFilter">

                                                <div class="filter-content">
                                                    <div class="inner-content">
                                                        <h3>Advance Filters</h3>
                                                        <div class="accordion" id="accordionExample">
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="headingOne">
                                                                    <button class="accordion-button" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapseOne"
                                                                        aria-expanded="true"
                                                                        aria-controls="collapseOne">
                                                                        Fund Risk
                                                                    </button>
                                                                </h2>
                                                                <div id="collapseOne"
                                                                    class="accordion-collapse collapse show"
                                                                    aria-labelledby="headingOne">
                                                                    <div class="accordion-body">
                                                                        <div class="form-group">
                                                                            <div class="range-slider">
                                                                                <input type="range"
                                                                                    class="custom-range w-100" min="50"
                                                                                    max="1000" value="500" id="risk">
                                                                            </div>

                                                                            <div
                                                                                class="d-flex align-items-center justify-content-between">
                                                                                <span>Low</span>
                                                                                <span>Medium</span>
                                                                                <span>High</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="headingTwo">
                                                                    <button class="accordion-button" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapseTwo"
                                                                        aria-expanded="true"
                                                                        aria-controls="collapseTwo">
                                                                        Fund Size (Cr)
                                                                    </button>
                                                                </h2>
                                                                <div id="collapseTwo"
                                                                    class="accordion-collapse collapse show"
                                                                    aria-labelledby="headingTwo">
                                                                    <div class="accordion-body">
                                                                        <div class="form-group">
                                                                            <div class="range-slider">
                                                                                <input type="range"
                                                                                    class="custom-range w-100" min="0"
                                                                                    max="10000" value="500" id="size">
                                                                            </div>
                                                                            <div
                                                                                class="d-flex align-items-center justify-content-between">
                                                                                <span>0</span>
                                                                                <span>10000</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="headingThree">
                                                                    <button class="accordion-button" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapseThree"
                                                                        aria-expanded="true"
                                                                        aria-controls="collapseThree">
                                                                        Fund Age
                                                                    </button>
                                                                </h2>
                                                                <div id="collapseThree"
                                                                    class="accordion-collapse collapse show"
                                                                    aria-labelledby="headingThree">
                                                                    <div class="accordion-body">
                                                                        <div class="form-group">
                                                                            <div class="range-slider">
                                                                                <input type="range"
                                                                                    class="custom-range w-100" min="0"
                                                                                    max="50" value="10" id="age">
                                                                            </div>
                                                                            <div
                                                                                class="d-flex align-items-center justify-content-between">
                                                                                <span>0</span>
                                                                                <span>50</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="filter-footer d-none d-lg-flex">
                                                        <button class="btn btn-outline-primary"
                                                            (click)="toggleAdvanceFilter()">Cancel</button>
                                                        <button class="btn btn-primary"
                                                            (click)="toggleAdvanceFilter()">Apply</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="filter-footer d-flex d-lg-none">
                                            <button class="btn btn-outline-primary"
                                                (click)="toggleShowFilterBox()">Cancel</button>
                                            <button class="btn btn-primary"
                                                (click)="toggleShowFilterBox()">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg">

                            <div class="funds-container">
                                <div class="fund-block position-relative mb-3"
                                    *ngFor='let item of allFunds; let i = index'>
                                    <div class="d-flex justify-content-between fund-head">
                                        <div>
                                            <h3 class="mb-0">
                                                <a href="#">
                                                    <span>Franklin Build India Fund</span> <img
                                                        src="assets/images/general/very-high.svg" class="ms-2">
                                                </a>
                                            </h3>
                                            <div class="tags">
                                                <ul>
                                                    <li>Equity</li>
                                                    <li>Large cap</li>
                                                    <li>8 year old fund</li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="icons">
                                            <div class="d-none d-lg-inline-block">
                                                <button (click)="toggleShowSavDialoge()">
                                                    <img src="assets/images/general/mark-icon.svg">
                                                    <span class="tooltip-box">Save to watchlist</span>
                                                </button>
                                                <button>
                                                    <img src="assets/images/general/change-icon.svg">
                                                    <span class="tooltip-box">Compare</span>
                                                </button>
                                                <button>
                                                    <img src="assets/images/general/cart-icon.svg"><span
                                                        class="new-badge">new</span>
                                                    <span class="tooltip-box">Add to cart</span>
                                                </button>
                                                <button>
                                                    <div class="dropdown share-menu">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <img src="assets/images/general/share-icon.svg"><span
                                                                class="tooltip-box">Share</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><span class="dropdown-item"
                                                                    (click)="toggleShowCopyDialoge()"><img
                                                                        src="assets/images/general/Link.svg">Copy
                                                                    link</span></li>
                                                            <li><a class="dropdown-item" href="#"><img
                                                                        src="assets/images/general/TwitterLogo.svg">Share
                                                                    on Twitter</a></li>
                                                            <li><a class="dropdown-item" href="#"><img
                                                                        src="assets/images/general/FacebookLogo.svg">Share
                                                                    on Facebook</a></li>
                                                            <li><a class="dropdown-item" href="#"><img
                                                                        src="assets/images/general/LinkedinLogo.svg">Share
                                                                    on LinkedIn</a></li>
                                                        </ul>
                                                    </div>
                                                </button>
                                            </div>
                                            <div class="dropdown d-inline-block d-lg-none">
                                                <button class=" dropdown-toggle me-0" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="assets/images/general/dots.svg">
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="d-none d-md-block">
                                                        <a class="dropdown-item" href="#">
                                                            <i class="bi bi-cart2"></i>Add to cart
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="assets/images/general/compare-icon.svg">Compare
                                                            fund
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="assets/images/general/watchlist-icon.svg">Add to
                                                            watchlist
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="assets/images/general/share-icon-sm.svg">Share
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row info justify-content-between">
                                        <ul class="col-auto">
                                            <li>
                                                <div class="mb-2">Investors</div>
                                                <div class="text-big">
                                                    <span class="d-inline-block d-md-none"><img
                                                            src="assets/images/fund/investor-icon.svg"></span>
                                                    1.35 lakh
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mb-2">AUM </div>
                                                <div class="text-big">
                                                    <span class="d-inline-block d-md-none"><img
                                                            src="assets/images/fund/money-sign.svg"></span>
                                                    3242.26 Cr
                                                </div>
                                            </li>
                                            <li class="last-item">
                                                <div class="mb-2">Annualised returns <img
                                                        src="assets/images/home/info-icon2.svg"></div>
                                                <div>
                                                    <span class="text-big">16.09%</span>
                                                    <div class="dropdown">
                                                        <button class="btn btn-white dropdown-toggle" type="button"
                                                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            Since Inception
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                            <li><a class="dropdown-item" href="#">1 Year</a></li>
                                                            <li><a class="dropdown-item" href="#">3 Years</a></li>
                                                            <li><a class="dropdown-item" href="#">5 Years</a></li>
                                                            <li><a class="dropdown-item" href="#">10 Years</a></li>
                                                            <li><a class="dropdown-item" href="#">Since Inception</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                        <div class="d-block d-md-none">
                                            <button class="btn btn-light-blue"><i class="bi bi-cart3"></i> add to
                                                cart</button>
                                        </div>
                                        <div class="col-auto block-btns">

                                            <a href="#" class="btn btn-outline-primary me-2">Invest Now</a>
                                            <a href="#" class="btn btn-primary">Check Performance</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <div class="offcanvas offcanvas-end custom-offcanvas fund-return" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel" >
        <div class="offcanvas-body darkOffcanvasAddbody">
                  <app-add-fund-data cardTypeData="CALCULATOR" [showfundperformance]=true [searchOption]=true></app-add-fund-data>
        </div>
    </div>
</div>
