<div class="d-md-block d-none " style="z-index: 999999;"  id="contact-block" [@slideInOut]>
    <div class="contact-box">
        <app-home-side-popup [isSmall]="true"></app-home-side-popup>
    </div>
</div>
<app-notification-banner></app-notification-banner>
<app-banner></app-banner>
<app-locations></app-locations>
<app-funds></app-funds>
<app-goals></app-goals>
<app-services></app-services>
<app-blogs></app-blogs>
<app-digitize-wealth></app-digitize-wealth>
<app-latest-updates></app-latest-updates>
<app-faq></app-faq>
<app-invest-now-form></app-invest-now-form>
<app-download></app-download>