<section class="FT-distributor-events bg-light-blue">
    <div class="container">
        <div class="FT-title text-black">Events & Updates</div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide">
                <div class="category-card">
                    <div type="button" class="card-img" tabindex="0">
                        <img src="assets/images/distributor/event-img1.png">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!-- <div><i class="bi bi-eye-fill me-1"></i>1K </div> -->
                            <div class="card-icons d-flex">
                                <!-- <span class="img-with-tooltip me-3 d-flex"  ="color: var(--blue);">
                                    <i class="bi bi-heart me-1"    ="display: inline;"></i>
                                    <span class="tooltip-block" ="display: inline;">Like</span>
                                    <span  ="margin-top: 2px;">300</span>
                                </span> -->
                                <span class="img-with-tooltip me-3">
                                    <i class="bi bi-bookmark bookmark-bib"></i>
                                    <span class="tooltip-block tooltip-box-save">Save</span>
                                </span>
                                <span class="dropup">
                                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="img-with-tooltip"><img src="assets/images/knowledge-center/share.svg"
                                            class="d-inline-block mobile-icons light-mode-icon share-icon-light"
                                            ><img
                                            src="../../../../../../assets/images/dark/share-dark-icon.png"
                                            class="mobile-icons dark-mode-icon dark-mobile-icon"
                                        >
                                    </span>
                                    <ul class="dropdown-menu relet-resour">
                                        <li>
                                            <span class="dropdown-item">
                                                <img class="share-icon" src="assets/images/general/Link.svg">Copy link
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/TwitterLogo.svg">Share on Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div type="button" class="text-bold card-title forcategortcardtitle" tabindex="0">Lorem ipsum dolor</div>
                        <div class="text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        </div>
                        <ul class="tags">
                            <li>3 days ago</li>
                            <li class="text-blue">Money</li>
                            <li class="text-blue">Success</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="category-card">
                    <div type="button" class="card-img" tabindex="0">
                        <img src="assets/images/distributor/event-img2.png">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!-- <div><i class="bi bi-eye-fill me-1"></i>1K </div> -->
                            <div class="card-icons d-flex">
                                <!-- <span class="img-with-tooltip me-3 d-flex" styl e="color: var(--blue);">
                                    <i class="bi bi-heart me-1"  ="display: inline;"></i>
                                    <span class="tooltip-block" st yle="display: inline;">Like</span>
                                    <span  ="margin-top: 2px;">300</span>
                                </span> -->
                                <span class="img-with-tooltip me-3">
                                    <i class="bi bi-bookmark bookmark-bib" ></i>
                                    <span class="tooltip-block tooltip-box-save" >Save</span>
                                </span>
                                <span class="dropup">
                                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="img-with-tooltip"><img src="assets/images/knowledge-center/share.svg"
                                            class="d-inline-block mobile-icons light-mode-icon share-icon-light"
                                            ><img
                                            src="../../../../../../assets/images/dark/share-dark-icon.png"
                                            class="mobile-icons dark-mode-icon dark-mobile-icon"
                                            >
                                    </span>
                                    <ul class="dropdown-menu relet-resour Copy-link">
                                        <li>
                                            <span class="dropdown-item">
                                                <img class="share-icon" src="assets/images/general/Link.svg">Copy link
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/TwitterLogo.svg">Share on Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div type="button" class="text-bold card-title forcategortcardtitle" tabindex="0">Lorem ipsum dolor</div>
                        <div class="text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        </div>
                        <ul class="tags">
                            <li>3 days ago</li>
                            <li class="text-blue">Money</li>
                            <li class="text-blue">Success</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="category-card">
                    <div type="button" class="card-img" tabindex="0">
                        <img src="assets/images/distributor/event-img3.png">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!-- <div><i class="bi bi-eye-fill me-1"></i>1K </div> -->
                            <div class="card-icons d-flex">
                                <!-- <span class="img-with-tooltip me-3 d-flex" st yle="color: var(--blue);">
                                    <i class="bi bi-heart me-1" sty  le="display: inline;"></i>
                                    <span class="tooltip-block" st yle="display: inline;">Like</span>
                                    <span st yle="margin-top: 2px;">300</span>
                                </span> -->
                                <span class="img-with-tooltip me-3">
                                    <i class="bi bi-bookmark bookmark-bib" ></i>
                                    <span class="tooltip-block tooltip-box-save" >Save</span>
                                </span>
                                <span class="dropup">
                                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="img-with-tooltip"><img src="assets/images/knowledge-center/share.svg"
                                            class="d-inline-block mobile-icons light-mode-icon share-icon-light" ><img
                                            src="../../../../../../assets/images/dark/share-dark-icon.png"
                                            class="mobile-icons dark-mode-icon dark-mobile-icon"
                                            >
                                    </span>
                                    <ul class="dropdown-menu relet-resour">
                                        <li>
                                            <span class="dropdown-item">
                                                <img class="share-icon" src="assets/images/general/Link.svg">Copy link
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/TwitterLogo.svg">Share on Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div type="button" class="text-bold card-title forcategortcardtitle" tabindex="0">Lorem ipsum dolor</div>
                        <div class="text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        </div>
                        <ul class="tags">
                            <li>3 days ago</li>
                            <li class="text-blue">Money</li>
                            <li class="text-blue">Success</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="category-card">
                    <div type="button" class="card-img" tabindex="0">
                        <img src="assets/images/distributor/event-img4.png">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!-- <div><i class="bi bi-eye-fill me-1"></i>1K </div> -->
                            <div class="card-icons d-flex">
                                <!-- <span class="img-with-tooltip me-3 d-flex" st yle="color: var(--blue);">
                                    <i class="bi bi-heart me-1" st yle="display: inline;"></i>
                                    <span class="tooltip-block" st yle="display: inline;">Like</span>
                                    <span st yle="margin-top: 2px;">300</span>
                                </span> -->
                                <span class="img-with-tooltip me-3">
                                    <i class="bi bi-bookmark bookmark-bib" ></i>
                                    <span class="tooltip-block text-center bookmark-bib" >Save</span>
                                </span>
                                <span class="dropup">
                                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="img-with-tooltip"><img src="assets/images/knowledge-center/share.svg"
                                            class="d-inline-block mobile-icons light-mode-icon share-icon-light"
                                            ><img
                                            src="../../../../../../assets/images/dark/share-dark-icon.png"
                                            class="mobile-icons dark-mode-icon dark-mobile-icon"
                                            >
                                    </span>
                                    <ul class="dropdown-menu relet-resour">
                                        <li>
                                            <span class="dropdown-item">
                                                <img class="share-icon" src="assets/images/general/Link.svg">Copy link
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/TwitterLogo.svg">Share on Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div type="button" class="text-bold card-title forcategortcardtitle" tabindex="0">Lorem ipsum dolor</div>
                        <div class="text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        </div>
                        <ul class="tags">
                            <li>3 days ago</li>
                            <li class="text-blue">Money</li>
                            <li class="text-blue">Success</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="category-card">
                    <div type="button" class="card-img" tabindex="0">
                        <img src="assets/images/distributor/event-img1.png">
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!-- <div><i class="bi bi-eye-fill me-1"></i>1K </div> -->
                            <div class="card-icons d-flex">
                                <!-- <span class="img-with-tooltip me-3 d-flex" s tyle="color: var(--blue);">
                                    <i class="bi bi-heart me-1" st yle="display: inline;"></i>
                                    <span class="tooltip-block" st yle="display: inline;">Like</span>
                                    <span st yle="margin-top: 2px;">300</span>
                                </span> -->
                                <span class="img-with-tooltip me-3">
                                    <i class="bi bi-bookmark bookmark-bib" ></i>
                                    <span class="tooltip-block tooltip-box-save" >Save</span>
                                </span>
                                <span class="dropup">
                                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        class="img-with-tooltip"><img src="assets/images/knowledge-center/share.svg"
                                            class="d-inline-block mobile-icons light-mode-icon share-icon-light"
                                        ><img
                                            src="../../../../../../assets/images/dark/share-dark-icon.png"
                                            class="mobile-icons dark-mode-icon dark-mobile-icon"
                                            >
                                    </span>
                                    <ul class="dropdown-menu relet-resour">
                                        <li>
                                            <span class="dropdown-item">
                                                <img class="share-icon" src="assets/images/general/Link.svg">Copy link
                                            </span>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/TwitterLogo.svg">Share on Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/FacebookLogo.svg">Share on Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/LinkedinLogo.svg">Share on LinkedIn
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item" tabindex="0">
                                                <img class="share-icon" src="assets/images/general/whatsapps.png">Share on WhatsApp
                                            </a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div type="button" class="text-bold card-title forcategortcardtitle" tabindex="0">Lorem ipsum dolor</div>
                        <div class="text-small">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit
                        </div>
                        <ul class="tags">
                            <li>3 days ago</li>
                            <li class="text-blue">Money</li>
                            <li class="text-blue">Success</li>
                        </ul>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</section>