
<!-- start page breadcrumb block -->
<div class="FT-breadcrumb d-none d-sm-block">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fontResize"><a href="#">Home</a></li>
                <li class="breadcrumb-item fontResize"><a href="#">All Funds</a></li>
                <li class="breadcrumb-item active fontResize" aria-current="page">Franklin Global Growth Fund</li>
            </ol>
        </nav>
    </div>
</div>