<section class="FT-footer-pages FT-knowledge">
    <div class="container">
        <div class="media-contact">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-box">
                        <h3>Investors </h3>
                        <p class="text-small">8 am to 9 pm (Except Sundays)</p>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/Phone-sm.svg">
                            <div>
                                1800 258 4255/ 1800 424 4255
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/whatsapp-sm.svg">
                            <div>
                                9876543209
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/Envelope.svg">
                            <div>
                                service@franklintempleton.com
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-box">
                        <h3>Distributors</h3>
                        <p class="text-small">9 am to 6 pm (Weekdays) and 9 am to 12 pm (Saturdays)</p>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/Phone-sm.svg">
                            <div>
                                1800 258 4255/ 1800 424 4255
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/whatsapp-sm.svg">
                            <div>
                                9876543209
                            </div>
                        </div>
                        <div class="d-flex">
                            <img src="assets/images/footer-pages/Envelope.svg">
                            <div>
                                service@franklintempleton.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>