.FT-solution-planning {
	background-image: url("../../../assets/images/general/bg.png");
	padding-top: 20px;
	padding-bottom: 70px;

	.FT-title {
		// font-family: HK Grotesk;
		font-size: 2rem;
		font-weight: 600;
		line-height: 42px;
		letter-spacing: -0.03em;
		text-align: left;
		color: #3769ff;
	}

	.text-big {
		//styleName: Text md/Normal;
		font-family: Inter;
		font-size: 1rem;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #3c425d;
		height: auto;
	}
}

.solution-box-new {
	overflow: hidden;
	h3 {
		padding: 32px 32px 23px 32px;
		font-size: 1.75rem;
		letter-spacing: -0.84px;
	}
	.btn {
		position: relative;
		z-index: 2;
		width: calc(100% - 32px);
		// margin: 16px;
		margin-top: -5px;
		font-weight: 500;
		background: #F0F6FF;
		&:hover {
			scale: 1;
		}
	}
	&:hover {
		.img-hover-zoom {
			border: 1px solid;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}
		.btn {
			border: 1px solid;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			// background: #0538D2;
		}
		.img-hover-zoom img {
			transform: scale(1.01);
			// linear-gradient(89deg, rgb(88 62 231 / 11%) 42.99%, rgb(16 156 72 / 12%) 15.38%);
			background: linear-gradient(90.29deg, rgb(88 62 231 / 4%) 42.99%, rgb(0 182 174 / 7%) 49.69%);
		}
	}
}

.slick-slider .slick-slide {
	text-align: -webkit-center;
}

.slick-slide img {
	background: #ffffff;
	transition: 0.6s all ease-in-out;
}

.goal-cards {
	background: #DDEAFF;
	padding: 28px 0px;
	width: Fixed (1, 440px);
	height: Hug (250px);
	gap: 20px;

	.goal-cards-heading {
		color: #595A6C;
		font-size: 1.5rem;
		padding: 0px;
		font-weight: 600;
		line-height: 31px;
		letter-spacing: -0.03em;
	}
}


// choose plan mobile view
.cp-wraper{    
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
	margin-top: 20px;
	.choose-plan-card{
		margin: 0 5px 25px 5px;
	}

	@media(max-width: 460px) {
		.choose-plan-card {
			min-width: 135px;
    		width: 135px;
			.img-wrap {
				height: 120px;
    			width: 120px;
			}
			.choose-plan-title {
			 	padding: 5px 8px;
				font-size: 0.688rem;
			}
		}

	}
}
	



.img-hover-zoom {
	overflow: hidden;
	/* For Hiding the overflowing of child elements */
	// max-width: 90%;
	max-width: 75%;
	border-radius: 50%;
	position: relative;
	z-index: 1;
	cursor: pointer;
	img {
		transition: transform .6s all ease-in-out;
	}
}

.choose-plan-card{
	cursor: pointer;
	&:hover .img-wrap img{
		transform: scale(1.1);
		background: linear-gradient(90.29deg, rgba(88, 62, 231, 0.04) 42.99%, rgba(0, 182, 174, 0.07) 49.69%);
	}
	&:hover .img-wrap{
		border-color: #9eb5fd;
	}
	&:hover .choose-plan-title{
		border-color: #9eb5fd;
		box-shadow: 0px 0px 10px 0px rgb(72 124 246 / 35%);
	}
	min-width: 175px;
	width: 175px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in-out;
	.img-wrap{
		border: 1px solid #D2D8EA;
		border-radius: 100%;
		overflow: hidden;
		height: 130px;
		width: 130px;
		margin-bottom: -26px;
		& > img{
			transition: all 0.5s ease-in-out;
			background-color: #ffffff;
		}
	}
}

.choose-plan-title {
	padding: 6px 10px;
	border: 1px solid #D2D8EA;
	border-radius: 9px;
	font-size: 0.813rem;
	width: 100%;
	text-align: center;
	z-index: 1;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	box-shadow: 0px 0px 16px 0px #00000017;
}


// mobile view
@media(max-width: 768px){
	.FT-solution-planning{
		padding: 10px 0px;
		padding-top: 55px;
	}
	.goal-cards-heading {
		font-size: 1.25rem !important;
	}
	.FT-title{
		font-size: 1.5rem !important;
	}

}