<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="fontResize">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page" aria-colcount="fontResize">About us</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- start section pages inners -->
    <section class="FT-inner-banners" style="background: url('assets/images/about/hero-bg.png');">
        <div class="container">
            <div class="content-box text-white">
                <h2 class="mb-4 fontResize">About Us</h2>
                <div class="content-box fontResize">
                    Since 1947, our firm has been dedicated to delivering exceptional asset management for
                    institutional, retail, and high-net-worth clients. Find out what gives us our unique investment
                    perspective.
                </div>
            </div>
        </div>
    </section>

    <section class="FT-about-page">
        <div class="container">
            <div class="FT-title text-center mb-5 d-none d-lg-block">Who We Are?</div>
            <div class="row align-items-center about-img-box flex-lg-row-reverse">
                <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                    <img src="assets/images/about/about-img1.png">
                </div>
                <div class="col-lg-6 col-12 pe-lg-5">
                    <div class="text-bold mb-3 d-lg-none fontResize unique  ">Who We Are?</div>
                    <p class="mb-2 fontResize">
                        Since 1947, our firm has been dedicated to delivering exceptional asset management for
                        institutional, retail, and high-net-worth clients. Find out what gives us our unique investment
                        perspective.
                    </p>
                    <p class="mb-3 fontResize">
                        With more than 600 investment professionals1 in 25 countries around the world, we are uniquely
                        positioned to look beyond the largest or most visible securities in each market to spot smart
                        global investments that meet our rigorous investment criteria.
                    </p>
                    <div class="row statistics">
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="FT-title Ft-num mb-2 fontResize">42</div>
                            <div class="static-title fontResize">Research Offices</div>
                        </div>
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="FT-title Ft-num mb-2 fontResize">12 </div>
                            <div class="static-title fontResize">Global Trading Offices</div>
                        </div>
                    
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="FT-title Ft-num mb-2 fontResize">15 </div>
                            <div class="static-title fontResize">Local Asset Managment Teams</div>
                        </div>
                        <div class="col-lg-6 col-md-3 col-6">
                            <div class="FT-title Ft-num mb-2 fontResize">170<span class="text-blue fontResize">+</span></div>
                            <div class="static-title fontResize">Countries Served</div>
                        </div>
                    </div>
                    <a [routerLink]="['/about-us/who-we-are']" class="link-btn fontResize"><span class="aboutlinks login-dark2">Read More</span><i class="bi bi-chevron-right ms-3"></i></a>
                </div>
                
            </div>
        </div>
    </section>
    <section class="FT-about-page bg-light-blue">
        <div class="container">
            <div class="FT-title text-center mb-5 fontResize">What Differentiates Us?</div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="feature-box">
                        <div class="text-center mb-3"><img src="assets/images/about/icon1.svg"></div>
                        <div class="text-big mb-3 fontResize">Guided by long term value creation</div>
                        <div class="fontResize">
                            We are a closely held public firm with a strong balance sheet, allowing us to invest with a
                            long-term horizon.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="feature-box">
                        <div class="text-center mb-3"><img src="assets/images/about/icon2.svg"></div>
                        <div class="text-big mb-3 fontResize">Nimble where it matters</div>
                        <div class="fontResize">
                            With autonomous investment teams where entrepreneurial, independent professionals
                            practice true specialization.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="feature-box">
                        <div class="text-center mb-3"><img src="assets/images/about/icon3.svg"></div>
                        <div class="text-big mb-3 fontResize">Ability to Customize</div>
                        <div class="fontResize">
                            Our tailored support through a global distribution platform, technological tools, and
                            value-added services,
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="read-link fontResize" [routerLink]="['/about-us/differentiate-us']"><span class="aboutlinks login-dark2">Read More</span><i class="bi bi-chevron-right ms-3"></i></a>
            </div>
        </div>
    </section>
    <section class="FT-about-page">
        <div class="container small-container">
            <div class="FT-title text-center mb-5 d-none d-lg-block fontResize">Our People</div>
            <div class="row align-items-center justify-content-between about-img-box flex-lg-row-reverse">
                <div class="col-lg-auto col-12 about-our-people mb-3 mb-lg-0">
                    <img src="assets/images/about/about3.png">
                </div>
                <div class="col-lg-auto col-12">
                    <div class="content">
                        <div class="text-bold mb-3 d-lg-none fontResize unique">Our People</div>
                        <p class="mb-4 fontResize">
                            At Franklin, our dynamic team is more than just professionals; we're your partners in
                            success.
                            Meet the dedicated individuals who bring innovation, expertise, and a shared passion for
                            industry. Each member contributes a unique piece to our collaborative puzzle, ensuring a
                            vibrant
                            and supportive environment. Get acquainted with the faces driving forward—we're excited to
                            embark on this journey with you.
                        </p>
                        <p class="mb-4 fontResize">
                            Dive into the personalities, skills, and stories that make our team at Franklin Templeton
                            truly
                            exceptional. From visionary leaders to creative minds, each member plays a crucial role in
                            bringing our mission to life.
                        </p>
                        <a [routerLink]="['/about-us/our-people']" class="link-btn fontResize"><span class="aboutlinks login-dark2">Read More</span><i class="bi bi-chevron-right ms-3"></i></a>
                    </div>

                </div>
                
            </div>
        </div>
    </section>
    <section class="FT-about-page bg-light-blue">
        <div class="container">
            <div class="FT-title text-center mb-5 d-none d-lg-block fontResize">Corporate Social Responsibility</div>
            <div class="row align-items-center gx-lg-5 about-img-box">
                <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                    <img src="assets/images/about/about-img2.png">
                </div>
                <div class="col-lg-6 col-12">
                    <div class="content">
                        <div class="text-bold mb-3 d-lg-none fontResize unique">Corporate Social Responsibility</div>
                        <p class="mb-3 fontResize">
                            We offer clients the strength and experience gained from decades of active asset management.
                            At Franklin Resources, Inc. (operating as Franklin Templeton Investments), our track record
                            of fiscal responsibility includes conservative balance sheet management practices,
                            substantial liquid cash and investments, and access to additional liquidity. Our credit
                            ratings are among the highest of any asset management company4.
                        </p>
                        <p class="mb-3 fontResize">
                            Our firm has also been strengthened through our commitment to putting clients first, working
                            with integrity, building relationships, and achieving quality results. This client-centric
                            approach has earned us the reputation of being one of the most trusted names in asset
                            management5.
                        </p>
                        <a [routerLink]="['/about-us/csr']" class="link-btn fontResize"><span class="aboutlinks login-dark2">Read More</span><i class="bi bi-chevron-right ms-3"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </section>