<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages pt-5">
        <div class="container">
            <div class="FT-title-medium text-bold text-blue mb-3">Search Results</div>
            <div>
                Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                aliquet odio mattis. Class aptent taciti dolor sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="category-btns">
                            <ul>
                                <li [class.active]="selectedCategory === 'All'" (click)="selectCategory('All')" class="me-3">All ({{ getCardCount('all') }})</li>
                                <li [class.active]="selectedCategory === 'Funds'" (click)="selectCategory('Funds')" class="me-3">Funds ({{ getCardCount('funds') }})</li>
                                <li [class.active]="selectedCategory === 'Forms & Documents'" (click)="selectCategory('Forms & Documents')" class="me-3">Forms & Documents ({{ getCardCount('forms') }})</li>
                                <li [class.active]="selectedCategory === 'General'" (click)="selectCategory('General')" class="me-3">General ({{ getCardCount('general') }})</li>
                                <li [class.active]="selectedCategory === 'My Accounts'" (click)="selectCategory('My Accounts')" class="me-3">My Accounts-Investor ({{ getCardCount('account') }})</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-auto">
                    <div class="feedback-box" *ngIf="(selectedCategory === 'All' || selectedCategory === 'Funds')">

                        <div class="form-group">   
                            <label class="form-label">Funds
                            </label>
                            <ng-container *ngFor="let fund of (showAll ? funds : funds.slice(0, 3)); let i = index">
                    
                                <div class="fund-card-wrapper">
                                    <app-fund-card1 [fund]="fund" [investmentCartAddForm]="true"></app-fund-card1>
                                    <!-- <app-fund-card2 [fund]="fund" [changeName]="changeName"  [toggletitile]="toggletitile" [comaprecard]="comaprecard"  (compareToggleChanged)="onCompareToggleChanged($event)" ></app-fund-card2> -->
                                </div>
                            </ng-container>
                        </div>

                        <div class="text-start fw-bold">
                            <span href="" class="fund-view-all" (click)="toggleView()"> {{ showAll ? 'View Less results' : 'View All results' }}<i class="bi bi-chevron-right"></i></span>
                        </div>
                        <!-- <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolore fugiat aspernatur. Saepe tempora autem molestiae aspernatur ipsam. Animi maxime ipsam dolorum velit dolor commodi accusantium modi porro quod sit error laboriosam rem alias magni, natus eveniet! Provident voluptas culpa, repudiandae quae, eum doloribus velit nihil rerum debitis officia exercitationem, dolorum labore magni maiores eligendi fugit iste minima vitae facere incidunt quaerat. Eum, quasi quos dolores ea temporibus, blanditiis, quibusdam voluptatem a veritatis culpa fuga necessitatibus qui eos. Blanditiis tenetur earum facere laudantium ducimus porro, voluptatum distinctio modi tempore in nostrum saepe nihil ut eius maxime quaerat voluptatibus vitae? Voluptates!
                        </div> -->
                       
                        <!-- <button (click)="toggleView()">
                           
                          </button> -->
                        
                    </div>
                    <div class="feedback-box" *ngIf="(selectedCategory === 'All' || selectedCategory === 'General')">
                        <div class="">   
                            <label class="form-label">General
                            </label>
                            
                        </div>
                        <div>
                            <div class=" text-start fw-bold">
                                <a href="">SMS Optin - Frankline Temploton</a>
                            </div>
                            <div class="my-3 text-start fw-bold">
                                <a href="">Whatsapp OTP - Frankline Temploton</a>
                            </div>
                            <div class=" text-start fw-bold">
                                <a href="">Latest News On Frankline Temploton Winding up 6 hours - Frankline Temploton* India</a>
                            </div>
                        </div>
                        
                    </div>

                    <div class="feedback-box" *ngIf="(selectedCategory === 'All' || selectedCategory === 'Forms & Documents')">
                        <div class="">   
                            <label class="form-label">Forms & Documents
                            </label>
                            
                        </div>
                        <div>
                            <div class=" text-start fw-bold">
                                <a href="">Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</a> <br>
                                <span><small>Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</small></span>
                            </div>
                            <div class="my-3 text-start fw-bold">
                                <a href="">Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</a>
                                <br>
                                <span><small>Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</small></span>
                            </div>
                            <div class=" text-start fw-bold">
                                <a href="">Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</a>
                                <br>
                                <span><small>Notice -Bangalore branch closed on account of karnataka branch- september 29,2023</small></span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="feedback-box" *ngIf="(selectedCategory === 'All' || selectedCategory === 'My Accounts')">
                        <div class="">   
                            <label class="form-label">My Account-Investor
                            </label>
                            
                        </div>
                        <div>
                            <div class=" text-start fw-bold">
                                <a href="">My Portfolio</a>
                            </div>
                            <div class="my-3 text-start fw-bold">
                                <a href="">Account Setting</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>