<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md">
                    <div class="content-box">
        
                        <div class="FT-title-medium text-bold text-blue mb-3">Disclaimer</div>
                    <div class="mb-4">
                        While all efforts have been taken to make this web site as authentic as possible, please refer
                        to the print versions, notified Gazette copies of Acts/Rules/Regulations for authentic version
                        or for use before any authority. Franklin Templeton will not be responsible for any loss to any
                        person/entity caused by any short-coming, defect or inaccuracy inadvertently or otherwise crept
                        in the Franklin Templeton web site.
                    </div>
                    <div>
                        Franklin Templeton will not be responsible for any loss to any person/entity caused by any
                        short-coming, defect or inaccuracy inadvertently or otherwise crept in the Franklin Templeton
                        web site.
                    </div>
                    </div>
                </div>
                <div class="col-md-auto mt-5 mt-md-0 text-center text-md-end">
                    <img src="assets/images/footer-pages/disclaimer.svg">
                </div>
            </div>
        </div>
    </section>
</div>