@media (max-width: 1024px) {
   .reset-password {
    padding: 0px 0px !important;
   }

   .text-big {
    margin-bottom: 19px !important;
   }

   .pan-info {
      right: 10px !important;
   }
  }

  @media only screen and (max-width: 1024px) {
   .distributor-step2 {
      margin-left: 0px !important;
   }
}

.btn{
   padding:10px 20px;
   width:100%;
   @media(min-width:576px){
       width:233px
   }
}
.pan-container {
   position: relative;
   /* Enable relative positioning */
}

.pan-input {
   width: 100%;
}

.pan-info {
   position: absolute !important;
   top: 50% !important;
   right: -23px;
   transform: translateY(-50%);
   cursor: pointer;
}
//
.OTP-sent {
   margin-left: 256px;
}
.reset-OTP{
   width: 18px;
}
.control-img{
   width: 14px;
}