<!-- start page breadcrumb block -->
<div class="FT-breadcrumb mb-4 d-none d-md-block">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">All Calculators</a></li>
                <li class="breadcrumb-item active" aria-current="page">SIP Calculator</li>
            </ol>
        </nav>
    </div>
</div>

<!-- start section calculator -->
<section class="FT-calculator-box mb-6 extra-calculator-style SIP-calculator ">
    <div class="container">
        <div class="d-md-none">
            <i class="bi bi-arrow-left fs-5"></i>
        </div>
        <div class="FT-title-medium text-blue mb-2">SIP CALCULATOR - CALCULATE SIP RETURNS & INVEST IN SIP </div>
        <div>
            A Systematic Investment Plan (SIP) calculator is an online financial tool that can help to calculate the
            returns you would earn on your SIP investments. The calculator also tells you how much you would need to
            invest every month to earn a target corpus. Simply put, it provides a roadmap to achieve your various
            financial goals.
        </div>
        <div class="FT-financial">

            <!-- Tab panes -->
            <div class="tab-content calculator-box">
                <div class="tab-pane active" id="Systematic" role="tabpanel" aria-labelledby="Systematic-tab"
                    tabindex="0">

                    <div class="tab-content">
                        <div class="tab-pane active" id="Investment" role="tabpanel" aria-labelledby="Investment-tab"
                            tabindex="0">
                            <div class="row">

                                <!-- Calculator Form -->
                                <div class="col-lg-5 col-12 mb-2">
                                    <div >
                                        <div class="graph-table-btns">
                                            <ul class="nav nav-tabs justify-content-center" id="myTab2" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button (click)="toggleIsSIP(sipType.normal)" class="btn"
                                                        [ngClass]="{'active': selectedSipType === sipType.normal}" id="Investment-tab"
                                                        type="button" role="tab" aria-controls="Investment"
                                                        aria-selected="true">
                                                        I Want to invest
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button (click)="toggleIsSIP(sipType.amount)" class="btn"
                                                        [ngClass]="{'active': selectedSipType === sipType.amount}" id="Target-tab" type="button"
                                                        role="tab" aria-controls="Target" aria-selected="false">
                                                        I Know my goal
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button (click)="toggleIsSIP(sipType.year)" class="btn"
                                                        [ngClass]="{'active': selectedSipType === sipType.year}" id="Target-tab" type="button"
                                                        role="tab" aria-controls="Target" aria-selected="false">
                                                        I want to know my tenure
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                       
                                    </div>

                                    <!-- Calculator Form -->
                                    <app-sip-calculator-form 
                                        [(form)]="formValue" 
                                        [selectedSipType]="selectedSipType"
                                        (OnRecalculate)="OnRecalculate($event)">
                                    </app-sip-calculator-form>
                                    <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal" class="login-dark2">View Disclaimer</a>
                                </div>
                                
                                <!-- Calculator Table & Graph -->
                                <div class="col-lg-7 col-12 ps-lg-4">

                                    <div class="calculate-statics">

                                        <div class="d-flex flex-column flex-lg-row  justify-content-between align-items-center mb-4 pb-md-2">
                                           <div class="graph-table-btns mb-lg-0 mb-3">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <button class="btn active" id="Graph-tab" data-bs-toggle="tab"
                                                            data-bs-target="#Graph-tab-pane" type="button" role="tab"
                                                            aria-controls="Graph-tab-pane"
                                                            aria-selected="true"
                                                            (click)="setIsGraphView(true)">Graph</button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <button class="btn" id="Table-tab" data-bs-toggle="tab"
                                                            data-bs-target="#Table-tab-pane" type="button" role="tab"
                                                            aria-controls="Table-tab-pane"
                                                            aria-selected="false"
                                                            (click)="setIsGraphView(false)">Table</button>
                                                    </li>
                                                </ul>
                                            </div> 
                                            <div class="text-small text-bold" *ngIf="isGraphView">
                                                <div class="d-none d-md-block">
                                                    <span class="me-3">
                                                        <span class="circle GraphView" ></span>
                                                        Amount Invested by you
                                                    </span>
                                                    <span>
                                                        <span class="circle GraphView-circle"></span>
                                                        Value of your investment
                                                    </span>
    
                                                </div>
                                              
                                                <div class="d-md-none row text-center">
                                                    <div class="col-6">
                                                        <span>
                                                            <span class="circle GraphView"></span>
                                                            Amount Invested by you
                                                        </span>
                                                    </div>
                                                    <div class="col-6 ">
                                                        <span>
                                                            <span class="circle GraphView-circle"></span>
                                                            Value of your investment
                                                        </span>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        
                                        <div class="tab-content calculator-graph-box1" id="myTabContent2">
                                            <div class="tab-pane fade show active" id="Graph-tab-pane" role="tabpanel"
                                                aria-labelledby="Graph-tab" tabindex="0">
                                                <div class="calculator-graph-box">
                                                    <div class="text-small rotated">Value of your investment</div>
                                                    <div class="graph-container">
                                                        <canvas 
                                                            baseChart 
                                                            [options]="chartOptions" 
                                                            [data]="sipData" 
                                                            [type]="'line'"
                                                        >
                                                        </canvas>
                                                    </div>
                                                    <div class="text-small text-center ">Investment period</div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Table-tab-pane" role="tabpanel"
                                                aria-labelledby="Table-tab" tabindex="0">
                                                <div class="table-responsive text-center">
                                                    <table class="table table-success table-striped stiky-head">
                                                        <thead>
                                                            <tr>
                                                                <th>Year</th>
                                                                <th>Invested Amount</th>
                                                                <!-- <th>Returns Gained</th> -->
                                                                <th>Resultant Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let val of formValue.eachYearData">
                                                                <td>{{val.year}}</td>
                                                                <td><span class="sign">₹</span>{{val.investedAmt}}</td>
                                                                <!-- <td><span class="sign">₹</span>{{val.returnsGained}}</td> -->
                                                                <td><span class="sign">₹</span>{{val.expectedAmt}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- Calculated Final Values -->
                                        <div class="p-3 bg-light-blue">
                                            <!-- Final Values: normal -->
                                            <div class="numbers d-flex justify-content-center text-center mb-4"
                                                *ngIf="selectedSipType === sipType.normal">
                                                <div class="px-3" >
                                                    <div>Invested Amount</div>
                                                    <ng-container>
                                                        <h3 class="sip-recommended-funds">
                                                        {{formValue?.totalInvestAmt | currency : "INR": 'symbol':'1.0-0'}}
                                                        </h3>
                                                    </ng-container>
                                                </div>

                                                <div class="px-3">
                                                    <div>Resultant Amount</div>
                                                    <h3 class="sip-recommended-funds">
                                                    {{ formValue?.totalValues | currency : "INR": 'symbol':'1.0-0'}}</h3>
                                                </div>
                                            </div>

                                            <!-- Final Values: amount -->
                                            <div class="numbers d-flex justify-content-center text-center mb-4"
                                                *ngIf="selectedSipType === sipType.amount">
                                                <div class="px-3" >
                                                    <div>
                                                        Installment Amount
                                                        <!-- <span class="text-lowercase">{{formValue?.time}}</span> -->
                                                    </div>
                                                    <h3 class="sip-recommended-funds">
                                                        {{formValue?.installmentAmount | currency : "INR": 'symbol':'1.0-0'}}
                                                    </h3>
                                                </div>
                                            </div>
                                            
                                            <!-- Final Values: year -->
                                            <div class="numbers d-flex justify-content-center text-center mb-4"
                                                *ngIf="selectedSipType === sipType.year">
                                                <div class="px-3" >
                                                    <div>
                                                        <!-- Required Time Year for investment -->
                                                        Year
                                                    </div>
                                                    <h3 class="sip-recommended-funds">
                                                        {{formValue?.targetYear}}
                                                    </h3>
                                                </div>
                                            </div>
                                            

                                            <!-- Equity Risk percentage -->
                                            <div class="equity-risk-boxs" *ngIf="showRiskOptions">
                                                <span class="text-bold me-2">Select your equity risk</span>
                                                <div class="form-check custom-check" >
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="equity1">
                                                    <label class="form-check-label" for="equity1">
                                                        10%
                                                    </label>
                                                </div>
                                                <div class="form-check custom-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="equity2">
                                                    <label class="form-check-label" for="equity2">
                                                        20%
                                                    </label>
                                                </div>
                                                <div class="form-check custom-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="equity3">
                                                    <label class="form-check-label" for="equity3">
                                                        30%
                                                    </label>
                                                </div>
                                                <div class="form-check custom-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="equity4">
                                                    <label class="form-check-label" for="equity4">
                                                        40%
                                                    </label>
                                                </div>
                                                <div class="form-check custom-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="equity5">
                                                    <label class="form-check-label" for="equity5">
                                                        50%
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- <button 
                                                class="btn btn-primary recommende-btn" 
                                                [ngClass]="showRiskOptions ? 'd-none' : ''" 
                                                (click)="toggleShowRiskOptions()"
                                            >Recommended funds to invest</button> -->
                                            <button 
                                                class="btn btn-primary recommende-btn" 
                                            >Start SIP</button>
                                        </div>


                                    </div>
                                </div>

                            </div> <!-- Row End's -->
                        </div>

                    </div>

                </div>
                
                <div class="recommended-fund pt-5" *ngIf="showRecomendedFunds">
                    <h3 class="mb-3">Recommended funds</h3>
                    <div class="fund-block position-relative">
                        <div class="d-flex justify-content-between fund-head Recommended-fund-block">
                            <div class="d-flex justify-content-between d-none d-md-flex">
                                <div class="SIP-Recommended-fund-block">
                                    <h3 class="mb-0">
                                        <a href="#"><span>Franklin Build Hybrid Funds</span></a>
                                    </h3>
                                </div>
                                <div>
                                    <span class="img-with-tooltip">
                                        <img src="assets/images/general/very-high.svg">
                                        <span class="tooltip-block">
                                            <img src="assets/images/general/very-high.svg"> 
                                            This fund has moderately high risk
                                        </span>
                                    </span>
                                </div>
                                <div class="tags risk-funds">
                                    <ul>
                                        <li  class="equity-funds">Equity</li>
                                        <li  class="equity-funds">Larg Cap</li>
                                        <li class="equity-funds" >8 years old fund</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-md-none"><span>
                                    <h3 class="mb-0">
                                        <a href="#"><span>Franklin Build Hybrid Funds</span></a>
                                        <img src="assets/images/general/very-high.svg" class="ms-2">
                                    </h3>
                                </span>
                                <div class="tags very-high-risk">
                                    <ul>

                                        <li class="equity-funds">Equity</li>
                                        <li class="equity-funds">Larg Cap</li>
                                        <li class="equity-funds">8 years old fund</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="icons">
                                <div class="d-none d-lg-inline-block"><button><img
                                            src="assets/images/general/mark-icon.svg"><span class="tooltip-box">Save to
                                            watchlist</span></button><button><img
                                            src="assets/images/general/change-icon.svg"><span
                                            class="tooltip-box">Compare</span></button><button><img
                                            src="assets/images/general/cart-icon.svg"><span
                                            class="new-badge">New</span><span class="tooltip-box">Add to
                                            cart</span></button><button>
                                        <div class="dropdown share-menu"><button type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                                                id="share-button83"><img
                                                    src="assets/images/general/share-icon.svg"><span
                                                    class="tooltip-box">Share</span></button>
                                            <ul class="dropdown-menu dropdown-menu-copylink">
                                                <li><span class="dropdown-item"><img
                                                            src="assets/images/general/Link.svg">Copy link</span></li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="assets/images/general/TwitterLogo.svg">
                                                        Share on Twitter
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="assets/images/general/FacebookLogo.svg">
                                                        Share on Facebook
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="assets/images/general/LinkedinLogo.svg">
                                                        Share on LinkedIn
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="assets/images/general/whatsapps.png">
                                                        Share on WhatsApp
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </button></div>
                                <div class="dropdown d-inline-block d-lg-none"><button type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        class="dropdown-toggle me-0"><img src="assets/images/general/dots.svg"></button>
                                    <ul class="dropdown-menu">
                                        <li class="d-none d-md-block"><a href="#" class="dropdown-item"><i
                                                    class="bi bi-cart2"></i>Add to cart </a>
                                        </li>
                                        <li><a class="dropdown-item"><img
                                                    src="assets/images/general/compare-icon.svg">Compare fund </a></li>
                                        <li><span class="dropdown-item d-block"><img
                                                    src="assets/images/general/watchlist-icon.svg">Save to watchlist
                                            </span>
                                        </li>
                                        <li><a data-bs-toggle="modal" data-bs-target="#callBack1"
                                                class="dropdown-item"><img
                                                    src="assets/images/general/share-icon-sm.svg">Share </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row info justify-content-between">
                            <ul class="col-auto d-none d-md-block">
                                <li>
                                    <div class="mb-2">Investors <span class="img-with-tooltip"><img
                                                src="assets/images/home/info-icon2.svg"><span class="tooltip-block Investors ">
                                                Lorem ipsum dolor sit amet, consectetur. </span></span></div>
                                    <div class="text-big"><span class="d-inline-block d-md-none"><img
                                                src="assets/images/fund/investor-icon.svg"></span> 48.68 lakh <span
                                            class="d-inline-block d-md-none">Investors</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="mb-2">AUM </div>
                                    <div class="text-big"><span class="d-inline-block d-md-none"><img
                                                src="assets/images/fund/money-sign.svg"></span> 25.52 Cr <span
                                            class="d-inline-block d-md-none">AUM</span></div>
                                </li>
                                <li class="last-item">
                                    <div class="mb-2 Annualised">Annualised
                                        returns <span class="img-with-tooltip"><img
                                                src="assets/images/home/info-icon2.svg"><span class="tooltip-block">
                                                Lorem
                                                ipsum dolor sit
                                                amet, consectetur. </span></span></div>
                                    <div><span class="text-big">29%</span>
                                        <div class="dropdown d-none d-md-inline-block"><button type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                                class="btn btn-white dropdown-toggle"> 15 years </button>
                                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">1 Year</a></li>
                                                <li><a href="#" class="dropdown-item">3 Years</a></li>
                                                <li><a href="#" class="dropdown-item">5 Years</a></li>
                                                <li><a href="#" class="dropdown-item">10 Years</a></li>
                                                <li><a href="#" class="dropdown-item">15 Years</a></li>
                                                <li><a href="#" class="dropdown-item">Since Inception</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown Inception-dropdown d-md-none d-inline-block"><button
                                                type="button" data-bs-toggle="modal" data-bs-target="#InceptionModal"
                                                class="btn btn-white dropdown-toggle Inception"
                                                >
                                                Since Inception </button></div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-auto d-md-none">
                                <li class="investor investors-img">
                                    <div class="mb-2">Investors <img src="assets/images/home/info-icon2.svg"
                                            class="d-inline-block"></div>
                                    <div class="text-small d-flex investor-icon-img"><span
                                            class="d-md-none investor-img investor-img-icon"><img
                                                src="assets/images/fund/investor-icon.svg"></span> 48.68 lakh <span
                                            class="d-inline-block d-md-none">Investors
                                        </span><span class="img-with-tooltip"><img
                                                src="assets/images/home/info-icon2.svg"
                                                class="mobile-icons light-mode-icon"><img
                                                src="assets/images/fund/dark-information-icon.png"
                                                class="mobile-icons dark-mode-icon"><span class="tooltip-block"> Lorem
                                                ipsum
                                                dolor sit amet, consectetur.
                                            </span></span></div>
                                </li>
                                <li class="link-AUM">
                                    <div class="mb-2">AUM </div>
                                    <div class="text-small d-flex AUM-sip"><span class="d-md-none AUM-sip-img"><img
                                                src="assets/images/fund/money-sign.svg"></span> 25.52 Cr <span
                                            class="d-inline-block d-md-none">AUM</span></div>
                                </li>
                                <li class="last-item">
                                    <div class="mb-2 d-flex AUM-sip">Annualised
                                        returns <span class="img-with-tooltip"><img
                                                src="assets/images/home/info-icon2.svg"
                                                class="d-inline-block mobile-icons light-mode-icon top"><img
                                                src="assets/images/fund/dark-information-icon.png"
                                                class="d-inline-block mobile-icons dark-mode-icon"><span
                                                class="tooltip-block"> Lorem ipsum dolor sit
                                                amet, consectetur. </span></span></div>
                                    <div><span class="text-small">29%</span>
                                        <div class="dropdown d-none d-md-inline-block"><button type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                                class="btn btn-white dropdown-toggle"> 15 years </button>
                                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">1 Year</a></li>
                                                <li><a href="#" class="dropdown-item">3 Years</a></li>
                                                <li><a href="#" class="dropdown-item">5 Years</a></li>
                                                <li><a href="#" class="dropdown-item">10 Years</a></li>
                                                <li><a href="#" class="dropdown-item">15 Years</a></li>
                                                <li><a href="#" class="dropdown-item">Since Inception</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown Inception-dropdown d-md-none d-inline-block"><button
                                                type="button" data-bs-toggle="modal" data-bs-target="#InceptionModal"
                                                class="btn btn-white dropdown-toggle Inception"
                                                >
                                                Since Inception </button></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="d-block d-md-none"><button class="btn btn-light-blue"><span
                                        class="new-badge">New</span>&nbsp; <i class="bi bi-cart3"></i> Add to
                                    cart</button>
                            </div>
                            <div class="col-auto block-btns">
                                <a class="btn btn-outline-primary me-2">
                                    <span class="">Know more</span>
                                </a>
                                <a class="btn btn-primary" href="#">Check Performance</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                The Calculators are designed to assist you in determining the appropriate amount. These Calculators
                 alone are not sufficient and shouldn't be used 
                for development or implementation of an investment strategy.
                 There is no warranty about the currency of 
                 the calculators/ reckoners. The example do not purport to represent the performance of 
                 any security or investments. The recipient is advised to consult his or her advisor/tax consultant prior
                  to arriving at any investment decision. Past performance may or may not be sustained in future and is not a 
                  guarantee of any future returns.
            </div>
        </div>
      </div>
    </div>
  </div>

 