<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fontResize"><a href="#">Home</a></li>
                    <li class="breadcrumb-item fontResize"><a href="#">Knowledge Centre</a></li>
                    <li class="breadcrumb-item active fontResize" aria-current="page">Blogs</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-commentary-content></app-commentary-content>
    <app-standpage></app-standpage>
    <app-faq></app-faq>
</div>