<section class="FT-hero">
    <!-- <div class="page-theme">
        <div class="font">
            <div class="row">
                <div class="col-4 small">A</div>
                <div class="col-4 medium">A</div>
                <div class="col-4 big">A</div>
            </div>
        </div>
        <div class="theme-mode">
            <div class="row">
                <div class="col-6 light-mode active" (click)="handleThemeModeClick('light')"><span></span>Light</div>
                <div class="col-6 dark-mode" (click)="handleThemeModeClick('dark')"><span></span>Dark</div>
            </div>
        </div>
    </div> -->
    <div id="carouselExampleCaptions" class="carousel slide swiper" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <div class="global">
                        <img src="assets/images/home/slider1.svg" alt="..." class="d-none d-sm-block w-100 banner-images slider-icon" >
                    </div>
                    <div class="d-block d-sm-none text-center banner4-sm new">
                        <img src="assets/images/home/slider1.svg">
                    </div>
                    <div class="container text-white global-experience">
                        <h2 class="fontResize">More than 75 years of global experience</h2>
                        <p class="fontResize">Explore the world of investing with Franklin Templeton</p>

                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="global">
                        <img src="assets/images/home/slider2.png" alt="..." class="d-none d-sm-block w-100 banner-images">
                    </div>
                    <div class="d-block d-sm-none text-center banner4-sm new">
                        <img src="assets/images/home/slider2.png">
                    </div>
                    <div class="container text-white global-experience">
                        <h2 class="fontResize">70+ years of global expertise</h2>
                        <p class="fontResize">Make progress towards financial prosperity with the trusted money manager
                        </p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="global">
                        <img src="assets/images/home/slider3.png" alt="..." class="d-none d-sm-block w-100 banner-images">
                    </div>
                    <div class="d-block d-sm-none text-center banner4-sm new">
                        <img src="assets/images/home/slider3.png">
                    </div>

                    <div class="container text-white global-experience" >
                        <h2 class="fontResize">More than 75 years of global experience</h2>
                        <p class="fontResize">Explore the world of investing with Franklin Templeton</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item carousel-with-content">
                <a href="#">
                    <div class="global">
                        <img src="assets/images/home/slider4.svg" alt="..." class="d-none d-sm-block w-100">
                    </div>
                    <div class="d-block d-sm-none text-center ">
                        <img src="assets/images/home/slider4.svg" class="img-width">
                    </div>
                    <div class="container text-white global-experience">
                        <div class="row">
                            <div class="col-12 d-block d-md-none mb-2 text-center">
                                <img src="assets/images/home/slider-img-sm.png">
                            </div>
                            <div class="col-md col-12">
                                <h2 class="fontResize"><img src="assets/images/home/info-icon.svg">Important regulatory
                                    updates</h2>
                                <ul class="fontResize">
                                    <li>Add a nominee to your portfolio before 30th sept 2023 </li>
                                    <li>Link your Adhar with PAN before 3oth june 2023</li>
                                    <li>Update your PAN/PEKRN if the folio does not have valid PAN/PEKRN....</li>
                                    <li>Link your Adhar with PAN before 3oth june 2023</li>
                                </ul>
                                <a href="#" class="btn btn-white fontResize">More Details</a>
                            </div>
                            <div class="col-md-auto d-none d-md-block">
                                <img src="assets/images/home/slider-img.png">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <i class="bi bi-arrow-left-short banner"></i>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <i class="bi bi-arrow-right-short banner"></i>
        </button>
    </div>
</section>