@media (min-width:1367px) and (max-width:1920px) {
    .FT-hero .carousel .carousel-item .container {
        padding-top: 30px !important;
    }

    .FT-hero .carousel .carousel-item {
        height: 500px !important;
    }

    .banner4-sm {
        display: none;
    }

}

@media (max-width: 576px) {
    .banner4-sm {
        height: 100%;
        width: 602px;

        img {
            object-fit: cover;
            height: 100%;
            margin: 0px 0px 0px -375px;
        }


    }

}

.banner-images {
    max-height: 500px;
    object-fit: fill;
}

.img-width {
    max-width: none !important;
}

::ng-deep .FT-hero{
    position: relative;

    .carousel {
        .carousel-item {
            height: 500px;
            background-size: cover !important;
            background-position: right 0 center !important;

            .container {
                height: 100%;
                /* display: flex;
                flex-direction: column;
                justify-content: center;*/
                padding-top: 50px;
                padding-left: 106px;
                padding-right: 95px;
                max-width: 100%;
            }

            img {
                /* height: 100%;
                object-fit: cover;*/
            }

            h2 {
                font-weight: 700;
                font-size: 3rem;
                line-height: 55px;
                letter-spacing: -0.96px;
                margin-bottom: 24px;

                img {
                    margin-right: 20px;
                    vertical-align: middle;
                }
            }

            ul {
                font-family: "Inter";
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 700;
                line-height: 54.6px;
                letter-spacing: -0.6px;
                margin-bottom: 30px;
            }

            p {
                font-size: 1.75rem;
                font-weight: 400;
                letter-spacing: -0.56px;
                max-width: 640px;
            }

            .btn-white {
                background: #fff;
                color: var(--blue);
                padding: 12px 40px;
                font-size: 1.333rem;
                font-weight: 600;
                line-height: 32px;
            }

            .carousel-caption {
                padding: 0;
                left: 108px;
                margin: 0;
                right: auto;
                text-align: initial;
                top: 160px;
                max-width: 640px;


            }

            &.carousel-with-content {
                .container {
                    padding-top: 50px;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            opacity: 1;
            width: 40px;

            i {
                // padding:4px;
                font-size: 2.5rem;
                background: white;
                line-height: 0;
                border-radius: 50%;
                color: blue;
                // font-size: 2.5rem;
                line-height: 0;

                // color: #fff
                &:hover {
                    background: var(--blue);
                    color: #fff;
                }
            }

            &:hover {
                // background: var(--blue)
            }
        }

        .carousel-control-prev {
            left: 24px
        }

        .carousel-control-next {
            right: 24px;
        }
    }

    .page-theme {
        width: 110px;
        position: absolute;
        z-index: 9;

        right: 120px;
        top: 1px;
        letter-spacing: -0.03em;

        .font {
            color: #444444;
            font-weight: 600;
            background: #fff;

            .row {
                margin: 0;
                align-items: center;
            }

            .small {
                font-size: 0.875rem;
                line-height: 18px;
            }

            .medium {
                font-size: 1.125rem;
                line-height: 23px;
            }

            .big {
                font-size: 1.5rem;
                line-height: 31px;
            }
        }

        .theme-mode {
            background: #FFFFFF;
            border-top: 1px solid #DDDDDD;
            border-radius: 0px 0px 8px 8px;

            .row {
                margin: 0;
            }

            .light-mode,
            .dark-mode {
                font-family: 'Inter';
                font-size: 0.688rem;
                line-height: 13px;
                color: var(--dark-gray);
                padding: 5.5px 8px;
                cursor: pointer;

                span {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 4px;
                    vertical-align: middle;
                }
            }

            .light-mode {
                background: #DDEAFF;
                border-radius: 0px 0px 0px 8px;

                span {
                    background: linear-gradient(90.29deg, #583EE7 26.99%, #0EA0E6 50.09%, #00B6AE 74.69%);
                }
            }

            .dark-mode {
                span {
                    background: var(--black);
                }
            }
        }
    }
}

/*** carousal style ***/
.carousel {
    .carousel-indicators {
        margin-bottom: 10px;
        margin-right: 47%;
        margin-left: 47%;
        background-color: rgb(0 0 0 / 60%);
        padding: 8px;
        border-radius: 20px;

        button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #D9D9D9;
            padding: 0;
            box-sizing: border-box;
            text-indent: 0px;
            border: 0;
            opacity: 1;

            &.active {
                background: var(--blue);
            }
        }
    }
}

/*** block bordered style ****/
//
.global {
    overflow: hidden;
}

.slider-icon {
    object-fit: cover !important;
}

.global-experience {
    position: absolute;
    top: 0;
}