<!-- start section all calculators links-->
<div  class="d-block d-md-none financial-calculator" (click)="goBackk()">
    <i class="bi bi-arrow-left icon-arrow"  ></i>
</div>
<section class="FT-calculators-links extra-calculator-style">
    <div class="container">
        <div class="head">
            <h2 class="fontResize">Financial Calculators</h2>
            <div class="text-meduim mb-lg-5 mb-sm-4 mb-3 fontResize">
                Investing in mutual funds is like planning a road trip. And if you don't have a plan before beginning a journey, it could delay reaching your destination. Hence, we are here to help you with a few calculators to help you plan your investing journey.
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/sip-icon.svg">
                    <h4 class="fontResize">SIP Calculator</h4>
                    <div class="text-big fontResize">
                        Helps you plan your long-term goals with systematic investments.
                    </div>
                    <a [routerLink]="['/all-calculators/sip']" class="btn btn-primary fontResize">Calculate Now</a>
                </div>
            </div>
            
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/lump-icon.svg">
                    <h4 class="fontResize">Lumpsum Calculator</h4>
                    <div class="text-big fontResize">
                        Helps you plan your long-term goals with one-time investments.
                    </div>
                    <a [routerLink]="['/all-calculators/lumpsum']" class="btn btn-primary fontResize ">Calculate Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/top-up-icon.svg">
                    <h4 class="fontResize">SIP Top-Up Calculator</h4>
                    <div class="text-big fontResize">
                        Helps you speed up your long-term goals with systematically scheduled annual top-ups.
                    </div>
                    <a [routerLink]="['/all-calculators/TopUp']" class="btn btn-primary fontResize">Calculate Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/stp-icon.svg">
                    <h4 class="fontResize">STP Calculator</h4>
                    <div class="text-big fontResize">
                        Helps you plan a systematic transfer of money from one fund to another.
                    </div>
                    <a [routerLink]="['/all-calculators/stp']" class="btn btn-primary fontResize">Calculate Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/swp-icon.svg">
                    <h4 class="fontResize">SWP Calculator</h4>
                    <div class="text-big fontResize">
                        Helps you plan withdrawals from your investments systematically.
                    </div>
                    <a [routerLink]="['/all-calculators/swp']" class="btn btn-primary fontResize">Calculate Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 mb-3 mb-md-4">
                <div class="calc-box">
                    <img src="assets/images/calculators/cagr-icon.svg">
                    <h4 class="fontResize">CAGR Calculator</h4>
                    <div class="text-big fontResize">
                        Worem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <a [routerLink]="['/all-calculators/cagr']" class="btn btn-primary">Calculate Now</a>
                </div>
            </div>
        </div>
    </div>
</section>