@media screen and (max-width: 600px) {
  .filter-title {
    font-size: 1.25rem;
    padding-top: 13px;
  }

  .FT-all-funds {
    padding-top: 44px;
  }
}

//

.share-menu-twitter {
  padding-top: 13px;
}

.fund-AUM {
  display: flex;
  margin: 20px 0px;
}

.share-menu-twitter-fund {
  margin-right: 10px;
}

.share-btn-fund {
  font-weight: bold;
  color: #3769ff;
  font-size: 1.125rem;
}