
<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-none d-md-block">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Investor Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Account Statement</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-invest-form></app-invest-form>
    <app-access-ways></app-access-ways>
    <app-features></app-features>
</div>