#page-content{
    background: #F8F8F8;
}

.container {
    max-width: 1195px;
}

ul {
    li {
        margin-bottom: 24px;
        line-height: 142.5%;
        letter-spacing: -0.48px;
    }
}
@media (max-width:778.91px){
    .FT-footer-pages {
         padding-top: 63px !important;
    }
}

