<div id="page-content">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-md-block d-none">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Investor Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grievance Redressal</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="FT-footer-pages pt-5">
        <div class="container">
            <div class="row align-items-center gx-lg-5">
                <div class="col-md">
                    <div class="content-box">
                        <div class="FT-title-medium text-bold text-blue mb-4">Grievance Redressal</div>
                        <ul>
                            <li>
                                At Franklin Templeton, we demonstrate customer centricity in everything we do. Our customers and partners are our valued stakeholders, whose satisfaction is our foremost agenda. You can let us know of your concerns through any of our touch points mentioned below.
                            </li>
                            <li>
                                Have a Complaint? Register here or Contact our exclusive toll free helpline 1800 425 4255.
                            </li>
                            <li>
                                In case you are not satisfied with the response received from any of our service channels, please write to our Investor Relations Officer at grievanceredressal@franklintempleton.com. We will respond to you within 2
                                business days.
                            </li>
                            <li>
                                In case you are not satisfied with the response from our grievance redressal team, please click here .
                            </li>
                            <li>
                                In order to facilitate awareness of investors about various activities which an investor deals with, SEBI has prepared an Investor Charter for Mutual Funds, inter-alia, detailing the services provided to Investors, Rights of Investors, various activities of Mutual Funds with timelines, DOs and DON’Ts for Investors and Grievance Redressal Mechanism.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-auto mt-5 mt-md-0 text-center text-md-end">
                    <img src="assets/images/footer-pages/redressal-img.png">
                </div>
            </div>
        </div>
    </section>
</div>