<div id="page-content" class="bg-img">
    <!-- start page breadcrumb block -->
    <div class="FT-breadcrumb d-none d-lg-block">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Investor Services</li>
                </ol>
            </nav>
        </div>
    </div>
    <app-investor-slider></app-investor-slider>
    <app-investor-links></app-investor-links>
</div>