<section class="FT-distributor-testimonials">
    <div class="container">
        <div class="FT-title text-black mb-5">Testimonials</div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem class="slide">
                <div class="testimonial-box">

                    <div class="row">
                        <div class="col-md-auto col-12">
                            <img src="assets/images/distributor/testimonial1.png" class="box-img">
                        </div>
                        <div class="col">
                            <div class="text-meduim">
                                Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                            </div>
                            <div class="user-ino">Devon Lane<span class="text-gray">LMDesign.co</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="testimonial-box">

                    <div class="row">
                        <div class="col-md-auto col-12">
                            <img src="assets/images/distributor/testimonial2.png" class="box-img">
                        </div>
                        <div class="col">
                            <div class="text-meduim">
                                Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                            </div>
                            <div class="user-ino">Devon Lane<span class="text-gray">LMDesign.co</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="testimonial-box">

                    <div class="row">
                        <div class="col-md-auto col-12">
                            <img src="assets/images/distributor/testimonial1.png" class="box-img">
                        </div>
                        <div class="col">
                            <div class="text-meduim">
                                Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                            </div>
                            <div class="user-ino">Devon Lane<span class="text-gray">LMDesign.co</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide">
                <div class="testimonial-box">

                    <div class="row">
                        <div class="col-md-auto col-12">
                            <img src="assets/images/distributor/testimonial2.png" class="box-img">
                        </div>
                        <div class="col">
                            <div class="text-meduim">
                                Morem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                            </div>
                            <div class="user-ino">Devon Lane<span class="text-gray">LMDesign.co</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        
    </div>
</section>