<!-- start section pages inners -->
<section class="FT-inner-banners" style="background:url('assets/images/knowledge-center/slider-img2.png')">
    <div class="container">
        <div class="content-box text-white">
            <h2 class="mb-lg-2 mb-4 fontResize">Open Learning</h2>
            <div class="fontResize">
                Discover the fundamentals of mutual funds with our basic learning courses. Dive into simplified content designed for easy comprehension, making financial education accessible to everyone.
            </div>
        </div>
    </div>
</section>