<section class="FT-invest">
    <div class="container">
        <div class="outer-box bg-light-blue">
            <div class="row gx-lg-5 justify-content-between">
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="invest-head-box">
                        <div class="text-center mb-3 d-none d-md-block">
                            <img src="assets/images/login/invest-img.png">
                        </div>
                        <h2 class="mb-3 fontResize">Welcome to Franklin Templeton!</h2>
                        <div class="text-big mb-4 fontResize">
                            Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
                            interdum, ac
                            aliquet odio mattis.
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-4 fontResize">
                                <h3>50 Lacs+</h3>
                                <div class="">Consectetur adipiscing</div>
                            </div>
                            <div class="col-md-6 col-4 fontResize">
                                <h3>30+</h3>
                                <div class="">Consectetur adipiscing</div>
                            </div>
                            <div class="d-md-none col-4 fontResize">
                                <h3>30+</h3>
                                <div class="">Consectetur adipiscing</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6  col-12">
                    <div class="right-side">
                        <div class="FT-login-form">
                            <div class="d-none d-md-flex form-head mb-4">
                                <h2 class="fontResize">Invest Now in (fund name)</h2>
                            </div>
                            <div class="form-box p-4">
                                <div class="mb-4 d-md-none">
                                    <h2 class="text-blue mb-2 fontResize">Invest Now in (fund name)</h2>
                                    <div class="text-gray fontResize">Login to view your transactions</div>
                                </div>

                                <form>
                                    <div class="">
                                        <div class="form-check form-check-inline mb-4 fontResize">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1" checked>
                                            <label class="form-check-label" for="inlineRadio1">Buy a Lumpsum</label>
                                        </div>
                                        <div class="form-check form-check-inline mb-4 fontResize">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Start an SIP</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-md-5 mb-4">
                                        <input type="text" class="form-control" placeholder="Enter PAN*">
                                    </div>

                                    <div>
                                        <button [routerLink]="['/create-account']" class="btn btn-primary w-100 fontResize">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="FT-location">
            <div class="location-map">

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="bg-white box-shadow" id="location-dark-color">
                            <h3 class="mb-2 fontResize" id="location-tital">Investors</h3>
                            <div class="text-small fontResize">8 am to 9 pm (Except Sundays)</div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/Phone-sm.svg">
                                <div>
                                    1800 258 4255/ 1800 424 4255
                                </div>
                            </div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/whatsapp-sm.svg">
                                <div>
                                    9876543209
                                </div>
                            </div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/Envelope.svg">
                                <div>
                                    service@franklintempleton.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="bg-white box-shadow" id="location-dark-color">
                            <h3 id="location-tital" class="fontResize">Distributors</h3>
                            <div class="text-small fontResize">9 am to 6 pm (Weekdays) and 9 am to 12 pm (Saturdays)</div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/Phone-sm.svg">
                                <div>
                                    1800 258 4255/ 1800 424 4255
                                </div>
                            </div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/whatsapp-sm.svg">
                                <div>
                                    9876543209
                                </div>
                            </div>
                            <div class="d-flex fontResize">
                                <img src="assets/images/footer-pages/Envelope.svg">
                                <div>
                                    service@franklintempleton.com
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>